[2015-08-25 14:32] friedmud commented on #4201
Wow - WTH?

[2015-08-25 14:34] permcody commented on #5603
Thinking out loud. If there's an API in PETSc (haven't checked) to get the
active preconditioner, we could just print it out as part of our
information. I don't think we should try to just print it out on our own on
the MOOSE side. Who knows when PETSc will change things and there are only
a billion CLI options that we might have to inspect to get PC options
correctly reported back to the user.

C

[2015-08-25 14:35] aeslaughter commented on #5603
We also set `print_perf_log=true` in nearly every test, if I recall the main reason for this is test timing and not user driven. If this is the case then run_tests should set this flag, not the input file.

[2015-08-25 14:38] permcody commented on #4201
We simply use subprocess.Popen() to start jobs and then we don't check on them immediately giving us multiprocess capability in the TestHarness without having to use forks, threads or any other library. We launch jobs continuously and call "poll" on all of the launched jobs too clean up as we go. It's all rather straight forward. I don't even know how to Google what this problem could be, my attem

[2015-08-25 14:39] permcody commented on #4201
Oh, one more clarification. Despite Roy's original report, we have eliminated `make` as a source of problems. We can replicate this issue with just `./run_tests -j 5`

[2015-08-25 15:00] friedmud commented on #4201
Is it possible it's some sort of ulimit kind of thing that's keeping you
from making too many processes too quickly or something?

On Tue, Aug 25, 2015 at 10:39 AM Cody Permann <notifications@github.com>
wrote:

[2015-08-25 15:01] friedmud commented on #5603
That's a good point Andrew.  I would be for adding this to run_tests and
removing it from the input files.

Derek

On Tue, Aug 25, 2015 at 10:35 AM Andrew E Slaughter <
notifications@github.com> wrote:

[2015-08-25 15:16] permcody commented on #4201
That's a reasonable idea to test...  Maybe I'll try scaling the tests and
see if the problem shows up. I know that Jason put a while(true) bash
statement around run_tests and got it to blaze through them all even though
it was constantly stopping.

On Tue, Aug 25, 2015 at 9:00 AM Derek Gaston <notifications@github.com>
wrote:

[2015-08-25 15:36] karpeev commented on #5599
Brad's problem seemed to be connected to AMR, but we never got to the
bottom of it, at least while I was involved.
His problem sizes were definitely more extreme than this.

Is there something wrong with github?
I'm trying to pull the latest version so I can try and reproduce this
(although I will try with what I have, since this might be independent of
MOOSE), and it's timing out.

Dmitry

On Mon

[2015-08-25 15:47] permcody commented on #5599
Nothing is wrong with Github. Make sure you don't have any proxy stuff getting in your way on the CLI. Any help with this problem might yield clues to Brad's problem too.

[2015-08-25 15:53] karpeev commented on #5599
Must have been a local network hiccup -- I've pulled and rebuilding now.
My guess is that this is a memory corruption, so I'll try valgrind on this,
as soon as I can reproduce it.

On Tue, Aug 25, 2015 at 10:48 AM Cody Permann <notifications@github.com>
wrote:

[2015-08-25 16:49] dschwen opened #5606 "Deprecate RealTensorValueAux in favor of MaterialRealTensorValueAux"
The tensor_mechanics auxkernel should be dropped. The framework auxkernel does the same thing.

[2015-08-25 18:32] cpritam opened #5608 "Total strain definition in ComputeSmallStrain needs modification"
@tonkmr
_total_strain in ComputeSmallStrain is adjusted for all the stress free strain components. Shouldn't the _elastic_strain be constructed this way and the total strain be left as what it is?
Also in ComputeLinearElasticStress, the _elastic_strain is assigned the value of _total_strain. Is it something permissible within the current framework?

[2015-08-25 19:04] permcody commented on #5361
@dschwen - this issue may be closable?

[2015-08-25 19:06] permcody commented on #5197
Resolved then existing postprocess was later removed.

[2015-08-25 19:06] #5197 closed

[2015-08-25 19:10] #5361 closed

[2015-08-25 19:39] permcody commented on #4178
This module will be replaced eventually.

[2015-08-25 19:39] #4178 closed

[2015-08-25 20:06] permcody commented on #3554
@roystgnr - Here's a feature that was requested a long time ago but nobody has completed it. Basically we want the ability to change subdomain ids of elements inside of the extruded mesh. However I'm not seeing an elegant way of doing this as illustrated here. We don't have a way of retrieving elements of the ith layer in an unstructured mesh. I'm sure I could do something terrible like counting o

[2015-08-25 20:28] waxmanr opened #5610 "Add save_in_disp for residuals in TMAxisymmetricRZ"
Adding save_in_disp_r/z --- Auxiliary variables to save the r/z displacement residuals.
File being changed: TensorMechanicsAxisymmetricRZAction.C
To match: TensorMechanicsAction.C

[2015-08-25 21:06] jbair34 opened #5612 "Error in CrossTermBarrierFunctionMaterial"
CrossTermBarrierFunctionMaterial currently has a path with no barrier in it if eta_i or eta_j=0, regardless of what the other order parameter is the height will be 0. This can easily be fixed by adding a second term to the barrier function which is (eta_i-1)^2*(eta_j-1)^2, the derivatives will have to be modified accordingly.

[2015-08-25 22:02] permcody commented on #5567
So the problem with this is with our InitialCondition code once more. The InitialCondition code loops over elements and calls compute on each one. This is necessary in the general sense since we need to properly project all FETypes. The side effect of this code is that we end up calling compute() for each node several times (once for each semi-local active element) when computing ICs for C_ZERO ty

[2015-08-25 22:41] permcody commented on #5567
@friedmud - any opinion on this? Any reason you can think of not to cache nodal or elemental values coming back from the initial condition callback? I won't attempt to cache results for the Hermites or other non-dof points...

[2015-08-25 23:02] roystgnr commented on #3554
"Counting opposite neighbors" is actually what we did for some shock-fitting code on an extruded-from-surface mesh.  ;-)  In your case it should even work with ParallelMesh, since build_extrusion extrudes the current partitioning as well.

I'd agree that it would be nice to be able to do this at mesh generation time, though.  My preference would be an optional abstract base class argument to MeshG

[2015-08-25 23:45] cpritam commented on #5516
Added option for principal components in RankTwoScalarAux, Added logical equal operator in RankTwoTensor

[2015-08-26 03:29] friedmud commented on #5567
I would prefer a solution that gives a unique stream for mesh entities...
so that any processor could recreate the same stream... but what I want is
not always what's possible :-)

How about changing the initial condition code for Lagrange so that there is
a special loop just for them that goes over only local nodes?

I actually thought @andrsd had something like that in there a while ago...
On Tu

[2015-08-26 14:02] andrsd commented on #5567
On Tue, Aug 25, 2015 at 9:29 PM, Derek Gaston <notifications@github.com>
wrote:

​I think we discussed something like this before, but it never got
implemented.​..

[2015-08-26 14:29] permcody commented on #5567
Yes, I thought about that too, just didn't want to mess too much with the IC code. I'll look into one of these as a solution. Either one of these ideas would give us a solution that gives us a reproducible stream on any processor discretization.

[2015-08-26 14:35] permcody commented on #3554
Sounds good to me, I'll get a PR in when I get a chance.

[2015-08-26 16:21] dschwen commented on #5597
Note to self:

[code]

and

[code]

[2015-08-26 16:31] waxmanr commented on #5584
Updating TM/tests/2D_geometries/tests. This will be done in commit for issue #5610. Marked 3D-RZ test as 'heavy' to be skipped. Test pre-dates me and doesn't really belong in that directory. Seemed like a waste of time to open a new issue just for that. Will note in #5610 as well when committing changes.

[2015-08-26 18:48] permcody commented on #4201
This sigstop issue is coming from the gdb backtrace logic in libMesh. @jwpeterson is investigating the issue a little more closely.

[2015-08-26 18:59] jwpeterson commented on #4201
I definitely believe it could be the gdb backtrace... it wasn't really designed to be super fast, since the assumption is that you are crashing anyway.  And if the test harness decides to run 24 expect_err tests at the same time, I could see it being *really* slow, but I guess I don't understand what this has to do with SIGSTOP.

[2015-08-26 20:11] #5606 closed

[2015-08-26 20:59] #5604 closed

[2015-08-26 21:38] dschwen commented on #5596
l open a new issue for a Tensor derivative material to combine tensors using material properties.

[2015-08-26 21:38] #5596 closed

[2015-08-26 21:45] dschwen opened #5619 "Create variable dependent RealTensorValue material with derivatives"
This is for building complex anisotropic mobility tensors. The basic idea is to have a vector of tensor material properties (provided by ```ConstantAnisotropicMobility``` for example) together with a vector of prefactor material properties (to be provided by ```DerivativeParsedMaterial``` for example) and then perform a series summation with prefactors. The material would generate the correct deri

[2015-08-26 21:45] karpeev commented on #5599
So, this problem is due to an internal overflow in PETSc:
During symbolic LU factorization the estimated amount of fill gets too large
for a 32-bit PetscInt, so it overflows to a negative value, which, when
implicitly cast to size_t in a call to malloc, results in a huge value  -- a quirk
of two's-complement arithmetic (size_t is an unsigned type).

I'm working on a test and a fix, but it may be a

[2015-08-26 21:46] #5612 closed

[2015-08-26 21:57] WilkAndy commented on #5599
Aha, i understand, thanks Dimitry.  So in this case perhaps the easiest thing is not to use LU, do you think?  If you have any suggestions for other PCs, that would be welcome, otherwise heather and i will just try some random ones.

[2015-08-26 22:09] karpeev commented on #5599
Yes, in this case do not use LU: even once the bug is fixed, you might
still be running out of memory --
just not by trying to allocate exabytes -- because even the value that
causes the overflow is on the order of a few GB,
and the code wasn't even close to being done with the symbolic
factorization.  In other words, it would still require
many GB of RAM to store the LU factors.

What is the purp

[2015-08-26 22:13] permcody commented on #5599
Well this just comes down to not understanding the implications of playing
around with preconditioner options. Clearly none of the MOOSE guys caught
this either, maybe we can be more helpful with the error message.

On Wed, Aug 26, 2015 at 4:09 PM Dmitry Karpeyev <notifications@github.com>
wrote:

[2015-08-26 22:17] jwpeterson commented on #5599
`./configure --with-dof-id-bytes=8`

This worked as of a few months ago, please let me know if something broke with it @karpeev

[2015-08-26 22:18] karpeev commented on #5599
The confusing thing here was the enormous amount of storage that LU was
trying to allocate,
which made me suspect a memory corruption.  But even when this is fixed we
can still expect
an out-of-memory error.  Basically, if you use LU on a large problem you
can expect to run out of memory.

You can get a ballpark estimate of how much memory you will need by assume
fully dense factors,
which says yo

[2015-08-26 22:20] friedmud commented on #5599
Wow - ok.

This is still a bit counterintuitive to me... it's really not that big of a
problem!  (or at least it doesn't feel like it!).

On Wed, Aug 26, 2015 at 6:13 PM Cody Permann <notifications@github.com>
wrote:

[2015-08-26 22:32] WilkAndy commented on #5599
Thanks for your comments, everyone.  I will try your PC suggestions, Dimitry, although I should have said this example is actually nothing like Heather's original.   Hers is a solid-mechanics + fluid-mechanics problem: i just removed all her kernels to simplify the bug-search.

a

[2015-08-26 22:39] karpeev commented on #5599
@jwpeterson Thanks!  That got libMesh built and now I'm building MOOSE.

As I said, it's probably not a good idea to use LU on a problem like this, but we'll see.
At the very least we want to use SuperLU, hoping that they do a better job with fill
(via a fill-reducing ordering or something).

@friedmud It doesn't take that much to create a request of upwards of 2GB for LU factors (a problem with 3

[2015-08-26 23:01] jwpeterson commented on #5599
Wouldn't an NxN dense matrix, with N > sqrt(2^31) ~ 46,341 be enough to do it?

[2015-08-27 04:10] hsheldon commented on #5599
It works with BJACOBI instead of LU. Thanks for your help!

[2015-08-27 04:11] WilkAndy commented on #5599
Heather, are you talking about your real "Laverton" simulation, or this example?  I hope that "Laverton", because that takes the heat off me :-)

a

[2015-08-27 04:16] hsheldon commented on #5599
The real Laverton works! So yes, the heat is off you.

From: Andy Wilkins [mailto:notifications@github.com]
Sent: Thursday, 27 August 2015 12:12 PM
To: idaholab/moose <moose@noreply.github.com>
Cc: Sheldon, Heather (Mineral Resources, Kensington) <Heather.Sheldon@csiro.au>
Subject: Re: [moose] PETSc malloc error for simple steady-state 3D diffusion problem (#5599)

Heather, are you talking about y

[2015-08-27 05:14] bwspenc commented on #4945
I finally got around to looking into this.  The issue isn't actually with VectorOfPostprocessors -- it's with CrackDataSampler.  I have a fix for it.

[2015-08-27 14:38] #5597 closed

[2015-08-27 14:43] #4945 closed

[2015-08-27 14:49] dschwen commented on #5595
One issue are undeclared variable dependencies. This is an error a user can easily make. E.g. For a free energy ```F=c*V```, where ```V``` is a chemical potential AuxVariable, we need to specify ```args = V``` to the ```CahnHilliard``` kernel. This is required for the kernel to 'see' the gradient of F due to the gradient of ```V```.
I think my first move will be to add a runtime check that looks f

[2015-08-27 15:19] dschwen commented on #5595
Let's look at a simple free energy, which is basically a ramped chemical potential

![F=c*V, V~x](http://quicklatex.com/cache3/bc/ql_61a51de2f96df6722006d47b3e0478bc_l3.png)

And lets assume ![kappa=0, M=1](http://quicklatex.com/cache3/ef/ql_c6c3f097388cdfd730aea1299d3d97ef_l3.png) so that the CH equation reduces to

![dc/dt=\nabla^2 dF/dc](http://quicklatex.com/cache3/55/ql_ced4a6eab940ce973e21b3

[2015-08-27 15:36] jwpeterson commented on #5595
@dschwen may be missing the boundary term, (grad dF/dc . n, psi ).

[2015-08-27 18:27] #5610 closed

[2015-08-27 18:29] karpeev commented on #5599
BJACOBI is the default.  It really is Block Jacobi with ILU(0) on the blocks, and in serial it reduces to ILU(0).  If you are running in parallel and think it could do better, then you can try ASM with ILU(0) on the blocks.  By default ASM uses overlap of 1, aka ASM(1). ASM(0) will give you BJACOBI, but if ASM(1) works better than ASM(0) then you can try increasing the overlap, but not too much, s

[2015-08-27 20:19] permcody commented on #5599
I'm going to close this issue for now. I think we have a reasonable resolution here.

[2015-08-27 20:19] #5599 closed

[2015-08-27 21:50] sveerara opened #5624 "Merging Solid and Tensor mechanics"
1. Moved files common to both tensor and solid mechanics (like pressure, pressure action, gravity, inertial force, NewmarkVelAux and NewmarkAccelAux) to tensor mechanics and made solid mechanics depend on tensor mechanics.
2. Solid mechanics tests depending on any of the common files are moved to combined/tests/solid_mechanics
3. Renamed PressureTM to Pressure, PressureActionTM to PressureAction a

[2015-08-27 22:22] karpeev commented on #5599
FWIW, I verified that this problem runs when PETSc is configured
--with-64-bit-indices=1 and libMesh is configured --with-dof-id-bytes=8.
It does slow my laptop way down, since so much memory is allocated for
the factors.

Incidentally, @jwpeterson, the factors don't have to be full, but
they are likely to be dense (e.g., for a banded matrix LU will fill between
the outer diagonals only; the inver

[2015-08-28 15:35] jwpeterson opened #5627 "Bug with MeshModifier dependencies"
I think commit e8ddc5a may have broken, or at least changed, something with `tests/mesh_modifiers/rename_block/rename1.i`.  Unfortunately exodiff on most systems is not detecting the difference for some reason.

`ncdump gold/rename1_out.e` reports:
[code]

While `ncdump rename1_out.e` says:
[code]

Based on the names, I think the current output is actually correct and the file should be regolded,

[2015-08-28 15:42] jwpeterson commented on #5627
I also get a different result on Linux vs. OSX (also not detected by exodiff):

`ncdump rename1_out.e`
[code]

@WilkAndy, I believe this is your test, and it does not say what the expected result of the long sequence of renaming modifiers is supposed to be... do you recall anything about this test?

[2015-08-28 15:56] jwpeterson commented on #5627
Turns out it's a simple 9 step process (if we go by the order of MeshModifiers laid out in the input file):

* Step 1:
Subdomain Bounding box creates a small subdomain 1 in the bottom corner.

* Step 2:
Subdomains renumbered:
0->2
1->3

* Step 3:
"ename_no_effect" does nothing.

* Step 4:
Subdomains renamed:
'2' -> 'two_was_zero'

* Step 5:
Subdomains renamed:
'two_was_zero' -> 'simply_two'

* Ste

[2015-08-28 16:02] jwpeterson commented on #5627
And, just to clarify a bit more, this MeshModifier:
[code]
creates a new, unnamed block with ID 4, so its name should be the empty string in the Exodus file.  In other words, the gold file is correct, and the outputs on both Linux and OSX are wrong (and don't agree with each other).

[2015-08-28 16:23] jwpeterson commented on #5627
Here's the order of MeshModifiers, as produced by the dependency resolver.  Neither is correct, nor do they match one another.  @permcody, did you use `MooseRandom` to determine the ordering? :smile:

OSX order:
[code]

Linux order:
[code]

[2015-08-28 16:30] waxmanr opened #5628 "Timing of TM j2 plasticity vs SM linear strain hardening"
Creating side-by-side tests to compare timing and results of TM/j2_plasticity/hard1 vs SM/LinearStrainHardening_test (hardening_constant = 0).

[2015-08-28 16:37] friedmud commented on #5628
Count me as interested....

[2015-08-28 17:03] jwpeterson commented on #5627
I furthermore don't see how the dependency resolution is supposed to even work in this case, since the *only* thing that determines the dependencies in this example is the ordering of the MeshModifiers in the input file.

[2015-08-28 17:16] dschwen commented on #5628
Rachel showed a slide at today's group meeting which clocked TM about a factor of 7 slower than SM for a hardening problem (so far we had only tested small and finite strain setups, which came out roughly even). I requested this testset so that we can do some profiling to confirm (or falsify) our suspicions about where the additional cost lies (tensor inverts, which are trivial in the isotropic ca

[2015-08-28 17:23] dschwen opened #5629 "Too many modules tests fail with --error"
We should make an effort to keep out tests free of warnings. A ton of tests was not updated when ```oversampe``` was deprecated, when the displacements were changes to a vector parameter, and when I changed ```Rnd_variation``` to ```pos_variation``` etc.

[2015-08-28 17:26] permcody commented on #5627
The order used to be mostly or hopefully determined by input file order.
However after I added dependency resolution, it would now be determined by
pointer value of the actual objects (somewhat predictable, but not reliable
and sensitive to OS, etc.). The right solution is to add the "depends_on"
parameter to ensure they run in the desired order.

On Fri, Aug 28, 2015 at 11:03 AM John W. Peterson

[2015-08-28 17:28] permcody commented on #5629
:+1: We have this in moose/test now, but not modules... Let's get there.

[2015-08-28 17:35] jwpeterson commented on #5627
OK, didn't know about depends_on, I will try to fix this test using that.

[2015-08-28 17:38] friedmud commented on #5628
Scandalous!  Lol.

I'm interested in the developments here.  If you have input files I can run, please point me to them...

[2015-08-28 18:05] YaqiWang commented on #5629
Good to know this! Yak has the same issue...

[2015-08-28 18:34] permcody commented on #5629
Well when you get to the point of wanting to fix those up. I'll show you how we can turn that flag on in your run_tests scripts so you won't get any more regressions.

[2015-08-28 19:43] dschwen opened #5631 "ElasticEnergy should provide derivatives w.r.t. strain"
And the ```CahnHilliard``` and split CH kernels should use those in their residual and Jacobian terms. @laagesen could start looking at this. We'll need to figure out a clean way to integrate this with the ```DerivativeMaterialInterface```.

[2015-08-28 20:10] jwpeterson commented on #4201
This should hopefully be fixed with the latest libmesh update.

[2015-08-28 20:10] #4201 closed

[2015-08-28 21:04] permcody opened #5636 "MeshExtruder needs variable size layers"
As mentioned in #3554

[2015-08-28 21:05] dschwen opened #5637 "PoroMechanics should use a displacements variable vector as well"
@WilkAndy, it would be cool if the PoroMechanics action would also accept the new
[code]
parameter style. In TensorMechanics we have deprecated the old
[code]
style. This makes it easier to support RZ coordinate systems etc.

[2015-08-30 02:37] friedmud opened #5639 "Error if variable not found for MultiAppPostprocessorInterpolationTransfer"
If you specify `variable = stuff` in a `MultiAppPostprocessorInterpolationTransfer` and `stuff` doesn't exist... you currently get a segfault in an optimized binary!

In debug you end up getting a fairly cryptic libMesh error.

This should really give you a nice MooseError... even in optimized mode.

[2015-08-30 04:18] WilkAndy commented on #5637
i totally agree.  i'm away for a week, and might have time after that -  it's not a lot of work but i'm not really working on this stuff much at the moment,

a

________________________________________
From: Daniel Schwen [notifications@github.com]
Sent: Saturday, 29 August 2015 7:05 AM
To: idaholab/moose
Cc: Wilkins, Andy (Energy, Pullenvale)
Subject: [moose] PoroMechanics should use a displaceme

[2015-08-30 04:21] WilkAndy commented on #5627
yes, thanks guys - the tests assume the modifiers are applied in the input-file order.  actually, when i wrote the tests i thought that's what happened for all moose objects, but that's definitely wrong now,

a

________________________________________
From: John W. Peterson [notifications@github.com]
Sent: Saturday, 29 August 2015 3:36 AM
To: idaholab/moose
Cc: Wilkins, Andy (Energy, Pullenvale)

[2015-08-30 13:56] permcody commented on #5627
That's not a bad assumption but since we don't control the full stack of
tools and operating systems can sometimes doing things in a different order
we prefer to control these kinds of things explicitly. Ironically by me
adding explicit control it broke your otherwise working test.

On Sat, Aug 29, 2015 at 10:21 PM Andy Wilkins <notifications@github.com>
wrote:

[2015-08-31 14:25] permcody opened #5640 "_var_normals() gives a seg fault when used with NodalBCs"
We need to either automatically supply informations from the the NodalNormals system or a better error message for this case. Also, let's get this documented!

[2015-08-31 14:38] andrsd commented on #5640
`_var_normals()` does not exists in the code ;-)

[2015-08-31 14:45] andrsd commented on #5640
Also, nodal normals are not populating `MooseVariable::normals`. That comes from libMesh's FEBase. When using `NodalNormalBC`-derived classes, we provide `_normals` like `IntegratedBC` does. And that's what people are supposed to do anyway.

However adding a `mooseError` into `MooseVariable::normals()` when the variable is nodal will prevent the users of doing stupid $hit.

[2015-08-31 15:56] friedmud commented on #5640
:+1: to @andrsd 's comments

[2015-08-31 16:45] #5627 closed

[2015-08-31 19:12] permcody commented on #5639
`variable` isn't a valid parameter for `MultiAppPostprocessorTransfer`

[2015-08-31 19:34] friedmud commented on #5639
Sorry... mean `MultiAppPostprocessorInterpolationTransfer`... I'll edit the title

[2015-08-31 22:27] dschwen commented on #5631
We will have to provide ```dtotal_strain/ddisp_x``` etc. and/or ```delastic_strain/ddisp_x``` etc. This should probably be done at ```ComputeStrainBase``` level. In there we need to re-evaluate the fetching of _old_ properties (@sapitts you fetch them when the problem is transient, but they are **not** needed for small strain formulations. We can probably use input parameter magic to avoid statefu

[2015-08-31 22:42] dschwen opened #5642 "ComputeStrainBase should only request stateful material properties in needed"
The stateful displacement and displacement gradient properties should only be set up if absolutely necessary. We can introduce a (private) bool input parameter that gets set by derived classes. Or add an additional constructor parameter.
I prefer the input parameter way (```stateful_displacements```). We can default it to ```false``` and call ```params.set<bool>("stateful_displacements") = true```

[2015-09-01 14:27] waxmanr commented on #5628
I also have two side-by-side input files for a 2D necking problem that illustrate the same pattern (~7x longer for TM to run once you get past a few time steps). I can push those files if you guys want them; I wasn't sure if just the two there were sufficient. The one thing the necking problem shows that this doesn't is if you don't have the problem set up a specific way (re: time step, applied di

[2015-09-01 14:31] permcody commented on #5628
@waxmanr - Are you working on a Linux or OS X workstation?

[2015-09-01 14:32] waxmanr commented on #5628
I am running Linux Mint.

[2015-09-01 14:37] friedmud commented on #5642
What cases are there where the "old" value can't be declared in the derived class instead?

[2015-09-01 14:58] permcody commented on #5628
Was hoping you'd say "OS X". Profiling is trivial with the XCode tools, but
that's OK. Profiling on Linux with free tools generally involves using
"gprof" or "google's performance tools" both of which require extra flags
and additional steps to actually profile your code. It is time well spent
but would require you to invest a several minutes or hours to get
everything going. We can help you if yo

[2015-09-01 15:06] dschwen commented on #5628
Googlle Perf Tools to _not_ require extra flag or steps to compile the code! They are injected using LD_PRELOAD.

[2015-09-01 15:08] permcody commented on #5628
Oh good, I actually hadn't tried that suite yet. You still have to install
it though but maybe that can be done through a package manager? Again, my
OS X preference is starting to tarnish my Linux experience.

On Tue, Sep 1, 2015 at 9:06 AM Daniel Schwen <notifications@github.com>
wrote:

[2015-09-01 15:09] dschwen commented on #5642
Yeah, I was wondering about this as well. I had long talks with Mike about this and I kind of forgot why we ended up with this solution in the first place. I think we wanted to avoid the code duplication as we have to declare and fetch the old gradients in two different derived classes. I have a patch to at least move the old displacement (not the gradient) into the one derived class where it is n

[2015-09-01 15:46] friedmud commented on #5642
I see (about the code duplication) another option (though it may be too heavy handed in this case) is to have an intermediate base class that declares the stateful stuff... so anyone that needs that would inherit from THAT class instead.

The InputParameters option isn't bad either.., just doesn't quite feel as clean.

[2015-09-01 15:51] dschwen commented on #5642
We have a conditional in the code; it checks if ```_fe_problem.isTransient()```. Is that even necessary? Shouldn't the stateful material system automatically refuse to generate state data if the solve is not transient?

[2015-09-01 16:03] SudiptaBiswas opened #5645 "Kernel for Vacancy Annihilation"
Two additional kernels needed for vacancy annihilation due to presence of interstitial and grain boundaries.

[2015-09-01 16:24] friedmud commented on #5642
I wonder if @YaqiWang has some Executioners that are NOT transient but depend on stateful material properties.

What is "transient" is going to be tough to define in my new Executioner system... so we'll definitely have to revisit that whole thing soon...

[2015-09-01 18:27] #5639 closed

[2015-09-01 18:28] aeslaughter commented on #5603
@permcody @friedmud

Should the default be to output initial condition for transient solve and not for steady?

[2015-09-01 18:38] YaqiWang commented on #5603
I think Steady and eigen executioners should not output initial by default. It actually may confuse users because they may be expect only one solution but now get two in the output.

[2015-09-01 18:50] #5642 closed

[2015-09-01 18:55] jasondhales opened #5649 "PBS option to append string to output file names"
We'd like to be able to use "./run_tests --pbs" where it appends a string to all output file names.  Something like "./run_tests --pbs fred --pbs_out_tag my_string" would result in the typical Exodus output file being named <baseNameFromInputFile>_my_string.e.

[2015-09-01 18:55] aeslaughter commented on #5603
I tend to agree with Yaqi, except sometimes Steady solves do have initial conditions and then those would be turned off by default thus, by not all information is provided.

[2015-09-01 18:59] aeslaughter commented on #5649
This should be able to be accomplished via the python by appending
"Outputs/file_base='my_new_file_base_name'" to the executable being run.

This would require that there was no Exodus sub-block that also sets
file_base in the input file.

On Tue, Sep 1, 2015 at 12:55 PM, Jason Hales <notifications@github.com>
wrote:

[2015-09-01 19:37] permcody commented on #5649
Actually we chatted about this already. We may or may not handle this at the MOOSE level. We really need to save these files on a central server for comparison over time. Whether that happens in moose_build (civet), moose or run_tests is to be decided.

[2015-09-01 19:43] jhbradley opened #5651 "GrainTracker fix for multiple occurrences of same grain id"
Grain Tracker needs to be able to handle multiple occurrences of the same grain id when these occurrences belong to the same grain (as in the case of kidney-shaped grains when dealing with serial sections). Otherwise there is a mismatch between the EBSD centers and the Grain Tracker Centers.
I believe @permcody will be handling this.

[2015-09-01 19:44] jasondhales commented on #5649
The "Outputs/file_base='new_name'" works great when running a single
problem, but we want to add a unique tag to the output file names of all
tests run with run_tests.

On Tue, Sep 1, 2015 at 1:37 PM, Cody Permann <notifications@github.com>
wrote:

--
Jason D. Hales, PhD
Department Manager
Fuels Modeling & Simulation
Idaho National Laboratory
(208) 526-2293

[2015-09-01 20:10] permcody commented on #5651
Seems fine to me, I'll see if I can dig up my previous unmerged solution to this issue.

[2015-09-01 20:27] permcody commented on #5603
I think this is good. My vote would be to turn off initial conditions for steady solves (and I suppose Eigen solves too). Even if they exists, they are rarely impactful on the final steady solution. In those cases, they could be turned on.

[2015-09-01 20:34] friedmud commented on #5603
I don't like having inconsistency.

The "initial condition" is important in steady state solves too... it's the initial guess and sometimes plays a LARGE roll in convergence.

What about people who do only one timestep using a Transient Executioner?  They're going to get "two" timesteps worth of output as well.

All that needs to be done is have clear documentation: "The initial values are always

[2015-09-01 20:35] aeslaughter commented on #5603
I am with @friedmud, consistency is important.

[2015-09-01 20:36] permcody commented on #5603
Ok - I don't have any strong convictions one way or the other. Go for it.

[2015-09-01 21:08] dschwen opened #5652 "Allow ParsedAux to couple to material properties"
There is no good reason this is not possible currently.

[2015-09-01 21:28] aeslaughter commented on #5603
This is ready if anyone wants to pull the trigger.

[2015-09-01 21:30] #5603 closed

[2015-09-01 21:31] dschwen commented on #5652
Hmm, I'd like to use the ```FunctionMaterialPropertyDescriptor``` system, but that is still in phase_field. Add the feedback from OD and I think I'll bench this for now.

[2015-09-01 21:33] permcody opened #5653 "Spurious warning about checkpoint system deleting material checkpoints"
@friedmud removed the material checkpoint files during the tiger team (don't have the commit handy). There is a warning about files not being deleted in Checkpoint.C

[2015-09-01 21:34] friedmud commented on #5653
How did this make it through the testing system?

[2015-09-01 21:38] permcody commented on #5653
I'll investigate, If I had to guess I'm going to say that we may not be passing --error with our checkpoint tests. I'll see if I can fix that up too

[2015-09-01 22:27] permcody commented on #5653
Wow - We are NOT passing `--error` when running `run_tests`. I could have sworn we put that in, but I guess I'm just remembering adding `--error-unused` which is completely different. I also did some work to make --error work better with the parser but it never got added to the `TestHarness`. This really all needs to be fixed up. It looks like we have seven tests complaining in moose_test when I p

[2015-09-02 16:23] SudiptaBiswas commented on #5595
Is this issue resolved? I noticed that while coupling PhaseField and Tensor Mechanics, the elastic energy goes up as applied load increases. This eventually leads to increase in Totral free energy and Cahn-hilliard is not able to reduce it (probably tensor mechanics is governing). Is there anything needs to be taken care of in this case?

[2015-09-02 16:29] dschwen commented on #5595
We are working on this. Currently a term is missing in the elastic free energy derivatives. File this issue for further updates.

[2015-09-02 18:03] SudiptaBiswas commented on #5595
Thanks for the update @dschwen. I will keep an eye one this issue. Let me know if I can contribute to this in any way.

[2015-09-02 22:55] friedmud opened #5658 "Add Automatic Differentiation To MOOSE"
It's that time.

MOOSE needs programmatic automatic differentiation that's built right in.

This is going to start small (just in Kernels) and then grow out from there.

I'm using @roystgnr 's MetaPhysicL package ( https://github.com/roystgnr/MetaPhysicL ) to do the heavy lifting.

First implementation will be a little rough... but will get the job done.

Look for a PR tonight... I already have th

[2015-09-03 02:00] friedmud commented on #5658
TODO:
 - [x] Add MetaPhysicL package to MOOSE contrib
 - [x] Create ADKernel base class that only has `computeQpResidual` and compute the Jacobian automatically (for diagonal block)
 - [ ] Allow coupling to AD values
 - [ ] Implement off-diagonal Jacobian computation
 - [ ] Implement AD for gradients and add ADDiffusion
 - [ ] Test derivatives of Material properties
 - [ ] Deal with Stateful prope

[2015-09-03 02:41] friedmud opened #5660 "Fail solve on max nonlinear iterations hit for Steady"
Right now if you hit nl_max_its in a Steady solver it just exits... like nothing went wrong.  It should really be an error.

[2015-09-03 12:45] amccaskey opened #5663 "Implement Real-Time Updater for Eclipse Integrated Computational Environment"
An outstanding feature request from the MOOSE Dev Team and MOOSE application developers/users is for real-time updating, in ICE, of Postprocessor data. As MOOSE simulations are running, a simple XY plot of user-specified Postprocessor data should be updating in real time with information provided by the executing simulation.

[2015-09-03 12:50] amccaskey opened #5664 "Provide a simple install script for Eclipse ICE"
Provide a shell script that automates the install of ICE: pulls down and installs ICE dependencies HDFJava and VisIt, pull down and install ICE, configure those dependencies with that ICE install.

[2015-09-03 12:52] dschwen commented on #5663
This sounds like more of an ice issue than a mouse issue. You could already tail the PP output files (like the CSV output) and display the data in real time.

[2015-09-03 13:11] amccaskey commented on #5663
Hey Daniel, you could do that, but that seems like more of a work-around. We'd like something a little more direct because ICE needs to be able to get data back for both local and remote executions. We're targeting communication over a web socket, since the ICE Core is an HTTP server.

Through discussions with Cody and Andrew, we decided to develop a new Output subclass that uses ICE C++ Updater l

[2015-09-03 13:15] amccaskey commented on #5663
Just to keep this public, I wanted to provide a discussion of the way we're testing this:

Basically, we wrote a new python script in python > TestHarness > testers that subclasses RunApp. Its implementation of getCommand starts a web server that listens at localhost:8080/ice/update for posts, and checks that it found the correct number of posts. We added a test case with an input file that uses t

[2015-09-03 13:15] dschwen commented on #5663
Interesting. Does this support specifying a custom update URL so that you
can stream updates over reverse ssh tunnels?

On Thu, Sep 3, 2015, 7:11 AM Alex McCaskey <notifications@github.com> wrote:

[2015-09-03 13:24] amccaskey commented on #5663
That's a good question. With this implementation, you can specify a custom URL for the HTTP Post but it does nothing for reverse ssh tunnels.

However, you should be able to set up reverse ssh tunnels in ICE through our integration with the Eclipse Parallel Tools Platform, I just haven't tried it yet.

[2015-09-03 13:40] permcody commented on #5663
I'm in support of this. My only suggest is that we try to avoid adding additional dependencies where possible. I suggest using https://docs.python.org/2/library/simplehttpserver.html as the test server which is already part of the Python 2.x distribution.

[2015-09-03 13:42] amccaskey commented on #5663
I think that sounds good. I'll look into SimpleHTTPServer and see if I can get it to receive posts at the localhost:8080/ice/update URL that the ICEUpdater is using.

[2015-09-03 14:06] capitalaslash opened #5665 "regex error in moose tests"
when using petsc 3.6.1, `moose/python/TestHarness/testers/PetscJacobianTester.py` wrongly parses petsc output including a comma.

[2015-09-03 14:18] permcody commented on #5590
Did you get this to work? I still don't think this is a bug.

[2015-09-03 14:30] andrsd commented on #5590
I did not do anything about this. I can lower the priority to minor, because I want to revisit the code before closing...

[2015-09-03 14:43] permcody commented on #5590
Ok fair enough, I did verify that adjusting the tolerance to just below 1e-13 does indeed give you the right behavior. Dang floating point arithmetic!

[2015-09-03 14:55] #5665 closed

[2015-09-03 16:15] #2855 closed

[2015-09-03 16:15] #5653 closed

[2015-09-03 16:20] dschwen opened #5667 "Improve plasticity performance in Tensor Mechanics"
Currently the plasticity steps in Tensor Mechanics take substantially longer than the plasticity calculations in Solid Mechanics.
```ComputeMultiPlasticityStress::plasticStep``` currently takes a **large** chunk of the total simulation time. We need to bring TM to comparable levels of performance as SM (at least for isotropic systems if that makes any difference).

Pink @WilkAndy and @cpritam (and

[2015-09-03 16:52] cpritam commented on #5667
I will look into the plasticStep(). In the NR solve of the constitutive model, both SM and TM should have the same number of iterations for similar tolerance levels. Can start by comparing that. Let me know if you have any suggestion.

[2015-09-03 18:03] dschwen opened #5669 "Port snowflake example to the phase field module"
I'm adapting @xy515258's anisotropic interfacial energy example and integrate it into the phase field module. Should only be merged on the condition of Yang's permission.

[2015-09-03 21:47] permcody commented on #5651
@jhbradley, I was just looking at the GrainTracker to see if I could remember how I handled this situation and realized that my solution DID get merged. I maintain another map on top of the "grain id" to map to the possibly non-unique "ebsd id". I believe it works with the one dataset that Brad gave me but it hasn't be tested extensively. If you have another dataset that's failing, I'll need to ta

[2015-09-03 21:50] #5624 closed

[2015-09-03 21:52] permcody commented on #5537
So no can this issue be closed?

[2015-09-03 21:55] #5563 closed

[2015-09-03 21:56] #5537 closed

[2015-09-03 21:57] dschwen commented on #5651
Is it possible that he is just not using this additional layer of mapping?

[2015-09-03 22:00] permcody commented on #5651
It's automatic if you are using the EBSD reader option.

[2015-09-03 22:41] jhbradley commented on #5651
The data set I am using is in
moose/modules/phase_field/examples/ebsd_reconstruction/IN100_128x128.txt

On Thu, Sep 3, 2015 at 4:00 PM, Cody Permann <notifications@github.com>
wrote:

[2015-09-03 23:07] dschwen commented on #5631
Solution (example in 3d without loss of generality):

* create nine variables that contain the components of the gradients of the three displacement variables (```g_xx```, ```g_xy```, ... ```g_zz```).
* create nine kernels to set the values of the variables (```R = g_ij - _grad_disp[i](j)```)
* strain is now a function of these g_ij variables! create material to supply the derivatives of strain w.

[2015-09-04 06:09] lw4992 commented on #5658
Cool!

[2015-09-06 22:11] WilkAndy commented on #5667
Hi @dschwen .  I'm not actively working on this plasticity at present, and will not have time to do major stuff.  However, your observation looks disastrous!  Can you attach an input file?  Perhaps the tolerances were not optimal?

a

[2015-09-06 23:42] dschwen commented on #5667
Check out https://github.com/idaholab/moose/pull/5632 for an input file.

On Sun, Sep 6, 2015, 4:11 PM Andy Wilkins <notifications@github.com> wrote:

[2015-09-07 05:01] WilkAndy commented on #5667
OK, got it, thanks @dschwen .  This is a real disappointment for me.  I'll look when i get the chance, but that may be a few days (hopefully not weeks!)

a

[2015-09-08 15:14] permcody commented on #5651
That's the example that Brad and I worked on when we encountered this
problem. I just fired it up and besides the error on the
"output_postprocessors_on" syntax (which I just fixed and checked in), it
appears to be running fine. That particular EBSD dataset has exactly 111
grains but the grain tracker sees 114 (you'll see that when you run the
simulation). The GrainTracker logic sees this and prop

[2015-09-08 15:19] jhbradley commented on #5651
Will do. Thanks for you time!

On Tue, Sep 8, 2015 at 9:14 AM, Cody Permann <notifications@github.com>
wrote:

[2015-09-08 17:14] permcody commented on #5651
If you find an actual issue, please feel free to reopen.

[2015-09-09 11:04] WilkAndy commented on #5667
I found 30mins today, but no luck yet.  By including the stuff below in the input file, i could see that the number of newton-raphson iterations in the return-map algorithm is just 1 (for a plastic step - obviously it's zero for an elastic step).  This indicates that the return-map is working as planned, but for some reason it's super slow compared with the solid-mechanics return map.

Also, i put

[2015-09-09 11:06] WilkAndy commented on #5667
By the way, what tool, or commands in moose code, would you use to do this profiling?  i want to quickly see what functions/routines take the most time.  They must be functions called from plasticStep.

[2015-09-09 12:25] Liuux opened #5673 "Something Wrong with Displaced Outputs"
When I deal with some problems with displaced mesh,the outputs given by  serial and parallel computation are different.The serial outputs are OK,but the parallel outputs have some problems.
The example below shows the differences between  serial and parallel outputs.This example comes from the MOOSE tests.
The .i file is as below:
[Mesh]
  dim = 2
  file = square.e
  uniform_refine = 3
  displacem

[2015-09-09 14:19] aeslaughter commented on #5673
I was able to reproduce the problem. This test is restricted to run on a
single processor, does any MOOSE developer know the reason?

On Wed, Sep 9, 2015 at 6:25 AM, Liuux <notifications@github.com> wrote:

[2015-09-09 14:39] permcody commented on #5667
I haven't done profiling on Linux machines for awhile, but this question
was recently asked on this list. The old way is using gprof which is part
of the standard GCC distribution. You add an extra flag to your compile
flags then run the tool and analyze the results. It's several steps to get
it all done. Daniel suggested using Google's "gperftools" but I haven't
tried that out personally. On OS X

[2015-09-09 14:45] aeslaughter opened #5674 "InputParameters from custom action need to be smater"
Currently, if you have some custom syntax like this:

[code]

The Action must extract the parameters from each level manually:

[code]

This seems wrong, because now we are hard coding input file syntax in two places: syntax function call and then the object itself. These parameters should be automatically extracted and stored in the action, then accessed in a more generic fashion. What that looks

[2015-09-09 14:50] permcody commented on #5673
Look like you were the one who disabled it, unfortunately you didn't say why....
https://github.com/idaholab/moose/commit/a0bbb04e29a1d29bdb233cafc4c3501d001d15b0

[2015-09-09 14:55] waxmanr commented on #5667
A note from someone who knows nothing about profiling:

I spent some time looking at gperftools (I'm on Linux) --- all the info I've found online and in the INSTALL file indicates there are a lot of unresolved issues for google's tools when using 64bit Linux. I got it to install after a few extra steps, but it still fails one test and I don't know enough about it to be able to tell if that's signi

[2015-09-09 14:56] aeslaughter commented on #5673
I wrote this:

    # Test the displaced mesh output; the gold file for this was generated from
    # moose_test/tests/mesh/adapt/displaced_adapt_test.i

git blame ~/projects/moose/test/tests/mesh/adapt/tests

[code]

[2015-09-09 14:58] permcody commented on #5674
Well we've never designed nor necessarily wanted the syntax to work this way. Why it is convenient to have inherited parameters like this, once we decide to go this direction it really looks in one component of the input file syntax (i.e. hierarchical nesting).

You've gotten around this in the past by having meta-Actions that populate children parameters so that those children remain ignorant of

[2015-09-09 15:00] aeslaughter commented on #5674
I am not doing this, people writing actions are doing this.

[2015-09-09 15:04] permcody commented on #5667
Thanks Rachel, perhaps we'll try some new tools out on Linux and see if we
can come up with some good recommendations for our users. I forgot to
mention one other very obvious tool...

MOOSE itself contains a performance logging capability. If you look through
our source code you'll see several references to "push" and "pops" of names
of methods or significant logic pieces. If you just want to do

[2015-09-09 15:06] permcody commented on #5673
That's a different test but may be related to the same issue.

[2015-09-09 15:08] dschwen commented on #5595
@SudiptaBiswas we are working on this at #5631

[2015-09-09 15:14] permcody commented on #5674
@friedmud and I talked about this a long time ago. IIRC we were both somewhat open to the idea but it has to be implemented correctly.

So points from our discusison:
 - If an object really needs a parameter from a parent level, that object still needs to declare that it needs that parameter within it's own `validParameters` function so nothing changes from the user perspective.
 - What changes is

[2015-09-09 15:21] aeslaughter commented on #5673
I copied the test from you, the only difference in the tests is that the
Mesh version doesn't output the displaced mesh and the Outputs version
does. If enable the displaced mesh output for your test, the results are
the same. Regardless of who made the test, something is wrong.

On Wed, Sep 9, 2015 at 9:06 AM, Cody Permann <notifications@github.com>
wrote:

[2015-09-09 15:27] YaqiWang commented on #5674
This topic is interesting to me. In yak we implemented the multiscale transport capability, where different discretization schemes apply on different parts of the entire domain. The entire calculation is set up by an action system like the one you discussed here. Maybe @aeslaughter is referring me. The parenting level is responsible for describing all the parameters required by all schemes, while

[2015-09-09 15:38] friedmud commented on #5674
@permcody I'm still on board with having C++ like "scoping"... where parent parameters are automatically able to fill sub-block parameters.

I think it could clean up quite a lot of input file syntax actually.  For one thing... the `GlobalParams` block can go away... you would just specify those parameters at the outermost level!

[2015-09-09 15:43] permcody commented on #5674
Ok - I'll take it from here. I think we'll leave GlobalParams alone at least for now. The phase-field guys use it very heavily to control things like number of order parameters and number of grains. With their syntax spread among multiple top level blocks they'll still need global parameters unless they reorganize their syntax.

[2015-09-09 15:45] aeslaughter commented on #5674
This is not critical to what I am doing, just something I noticed that must be confusing for action writers.

[2015-09-09 18:54] friedmud commented on #5674
My point was that the actual `GlobalParams` _block_ itself can go away.  You should be able to just put parameters at the "global scope" (ie outside of any block) and have them feed into every block in your input file.

Like this:

[code]

[2015-09-09 19:47] SudiptaBiswas commented on #5595
Thanks @dschwen , I figured that out.

[2015-09-09 20:24] WilkAndy commented on #5667
Thanks everyone, i'm doing this currently on osx.  i tried "instruments" and got:

xcode-select: error: tool 'instruments' requires Xcode, but active developer directory '/Library/Developer/CommandLineTools' is a command line tools instance

[2015-09-09 20:27] WilkAndy commented on #5667
Can someone tell me what is the size of the linear system in SM ?   In TM it is 8x8 : there are 6 symmetric components of plastic strain, 1 yield function, and 1 internal parameter (which is irrelevant here because no hardening, but it is still included).   6+1+1=8.  If SM somehow reduces this because of isotropic J2, that may explain the time difference.

[2015-09-09 20:29] permcody commented on #5667
XCode can be downloaded from the Apple App Store.

[2015-09-09 20:32] WilkAndy commented on #5667
OK, thanks @permcody .  i did remember someone suggesting Xcode caused moose to break.  obviously i was wrong.

[2015-09-09 20:37] permcody commented on #5667
I've heard the same rumors. However I always have XCode installed.

On Wed, Sep 9, 2015 at 2:32 PM Andy Wilkins <notifications@github.com>
wrote:

[2015-09-09 21:04] WilkAndy commented on #5667
Sorry for providing such dribbly output from my investigations - i never know when i'll next get to work on this, and i want to keep you updated with my potentially useful findings in case it helps your investigations.

Within plasticStep, about 10% of time is spent allocating stuff, and i can get rid of this by re-coding; about 15% is spent in the line search, again calculating unnecessary stuff

[2015-09-09 21:08] permcody commented on #5667
This is great! It helps to document as you go since you never know when somebody else will find a few minutes to dig in with the partial information supplied so far.

[2015-09-09 21:26] cpritam commented on #5667
Andy - SM uses the radial return mapping with one variable instead of the
general return mapping using 8. Definitely TM will be slower. We are
looking into your code to see if we can make it faster. To get the same
efficiency we would have to implement radial return mapping as a specific
case of return mapping.

On Wed, Sep 9, 2015 at 2:27 PM, Andy Wilkins <notifications@github.com>
wrote:

[2015-09-09 22:15] WilkAndy commented on #5667
OK, thanks @cpritam .  the bulk of the time is actually spent in nrStep actually calculating the jacobian (and less time, but still noticeable, spent calculating the RHS).  the solve of the 8x8 system using LAPACKgesv is comparatively quick.

In many ways i'm pleased with this so far - the code is actually doing the right thing, and most of the multi-surface generality is not actually costing much

[2015-09-10 14:28] #5651 closed

[2015-09-10 14:39] #5637 closed

[2015-09-10 15:26] dschwen opened #5679 "Add convenience parameter for groups of coupled variables to SMP"
Add a parameter to ```SingleMatrixPreconditioner``` that will accept a list of couple variable groups:

[code]

This will be a more convenient way of declaring the off-diagonal jacobian blocks for the preconditioning matrix for many phase field applications, where we have lots of coupling between groups of variables but where a ```full = true``` would be overkill.

[2015-09-10 15:29] friedmud commented on #5679
I think this could just be an addition to SMP... no need for a whole 'nother Preconditioner.

[2015-09-10 15:36] dschwen commented on #5679
Yeah, maybe, let me push what I have now and let's talk again.

On Thu, Sep 10, 2015 at 9:29 AM Derek Gaston <notifications@github.com>
wrote:

[2015-09-10 15:39] dschwen commented on #5679
Here. Up to you if we add another parameter and another if clause to SMP. There is not that much code duplication between the two classes, which is why I went with a separate class for now.

[2015-09-10 16:18] friedmud commented on #5679
I agree about code duplication... but that's not really the issue here.  Your new Preconditioner is still an SMP preconditioner (it still stores everything in a single matrix in the exact same way as SMP)... you're just adding a different method or specifying off-diagonal blocks.

Just thinking of the documentation and explanation to users... I think it would be easier if this were just part of SM

[2015-09-10 16:18] friedmud commented on #5679
Why did I leave off John?  @jwpeterson ;-)

[2015-09-10 16:51] andrsd commented on #5679
+1

[2015-09-10 17:13] dschwen commented on #5679
Ok, all the same to me. I'll rework the branch accordingly.

[2015-09-10 20:48] dschwen commented on #5679
Is there any benefit to declaring and implementing an empty virtual destructor (isn't it enough that the parent class declares a virtual DTOR)?

[2015-09-10 20:49] aeslaughter commented on #4604
The basis system has been implemented, further improvements will be in new issues.

[2015-09-10 20:49] #4604 closed

[2015-09-10 20:53] aeslaughter opened #5680 "Control Logic Improvments"
- [x] Add --controllable-dump execution method to show all possible controls as well as a --show-controls that shows in the information record the parameters being controlled
- [x] Use a set method rather than the vector pointer stuff
- [ ] Add ability to use scripting language to control MOOSE
- [x] Update object naming to support input file and generic "_moose_base" defining of control parameter

[2015-09-10 21:21] permcody commented on #5679
I don't believe declaring an empty dtor in a derived class is necessary. We seem to do it in MOOSE a lot, but it's not necessary.

[2015-09-10 21:27] dschwen commented on #5679
Soooo.... I'm removing it then?

[2015-09-10 23:46] #5652 closed

[2015-09-10 23:50] dschwen commented on #5600
I'm having second thoughts about the proposed names. The kernels implement only components of the Cahn-Hilliard and Allen-Cahn equations. ```CHParsed```/```CahnHilliard``` needs to be combined with ```CHInterface``` for example (```ACParsed``` and ```ACInterface``` are the same and ```SplitCHParsed``` needs ```SpitCHWRes```).
So it might be better to keep a homogeneous naming scheme and go with
[c

[2015-09-10 23:51] dschwen commented on #5631
@laagesen we need to implement the off diagonal Jacobian for the ```GradientComponent``` Kernel (w.r.t. the displacement variable). Do you feel up to it?

[2015-09-11 00:17] laagesen commented on #5631
Sure I can give it a go.

[2015-09-11 04:18] friedmud commented on #5679
Yeah - we started doing that because if people copied our classes we wanted
them to know that the destructor needed to be virtual.

However, it's pretty dang rare for people to need destructors when using
MOOSE... so I vote to take them all out.  If people need destructors then
they should also know enough to make them virtual ;-)

On Thu, Sep 10, 2015 at 5:21 PM Cody Permann <notifications@github

[2015-09-11 17:10] dschwen commented on #5680
![anim 0106](https://cloud.githubusercontent.com/assets/202302/9821141/b55cb1fa-5875-11e5-9bdb-ee7c4f31f291.png)

[2015-09-11 19:08] #5679 closed

[2015-09-11 22:38] dschwen opened #5686 "FauxGrainTracker is not drop in for GrainTracker"
We need a common ```GrainTrackerInterface``` base class which both ```FauxGrainTracker``` and ```GrainTracker``` inherit from. Then all objects (Materials, AuxKernels, Kernels etc. ) that require a grain tracker object should actually call ```getUserObject<GrainTrackerInterface>```. Otherwise the faux grain tracker is pretty much useless...
Ping @permcody

[2015-09-14 10:55] WilkAndy commented on #5667
I think the only way around this is to let each plasticity model be able to perform its own custom return-map, if it is coded.  I'm pretty sure the multi-surface stuff costs very little overhead, so we can leave that alone.  Perhaps in ComputeMultiPlasticityStress::nrStep we can optionally use a plastic model's own custom return-map if: (1) there is only 1 plastic model; (2) the plastic model has

[2015-09-14 14:40] permcody commented on #5686
Sounds good, I'll take care of this.

[2015-09-14 15:04] friedmud commented on #4941
Reopening this to take another shot at it.

Ideally the top level Checkpoint file will contain all the data necessary to restart the sub-apps.  No need for the sub-apps to write checkpoint files.

First cut at this is not going to work with mesh adaptivity (because the mesh is not currently stored in the checkpoint file).

[2015-09-14 15:28] cpritam commented on #5667
Andy - Atleast for the isotropic j2 plasticity we are planning to implement
the radial return mapping by overriding the nrStep. I hope that will make
the computational time comparable with SM.

On Mon, Sep 14, 2015 at 4:55 AM, Andy Wilkins <notifications@github.com>
wrote:

[2015-09-14 15:36] jbair34 opened #5687 "Problem running DebugResidualAux kernel in parallel"
DebugResidualAux kernel doesn't seem to work in parallel when doing transient problems. It also has no test.

[2015-09-14 15:57] SudiptaBiswas commented on #5631
Does PR #5677 only work with non-split CH? What about the split-version?

[2015-09-14 16:00] jbair34 commented on #5687
Made test file that runs on single processor, doesn't work in parallel...

[2015-09-14 18:58] #5559 closed

[2015-09-14 20:43] SudiptaBiswas commented on #5631
DisplacementGradientAction does not converge with splitCH kernels.

[2015-09-14 20:48] dschwen commented on #5631
No and neither should it. It is only for the non split case.

On Mon, Sep 14, 2015, 2:43 PM Sudipta Biswas <notifications@github.com>
wrote:

[2015-09-14 20:57] SudiptaBiswas commented on #5631
Elastic energy goes UP for the split version as well. Is that something yet to come?

[2015-09-14 21:49] friedmud opened #5689 "MultiApp Reset With Restart/Recover"
Even though a lot is getting fixed up in #4941 ... MultiApps that need to be reset / moved are still not working with recover.

Fix those later ;-)

[2015-09-14 22:40] #5669 closed

[2015-09-15 03:55] friedmud opened #5690 "MultiApp Recover/Reset With Adaptivity in a Sub-App"
This is still not going to work even after #4941 is fixed.

[2015-09-15 04:18] friedmud opened #5691 "Initial Adaptivity/Refinement With MultiApp Restart"
Normal Restart allows for initial adaptivity and uniform refinement to be applied during restart.

Unfortunately, the solution to #4941 doesn't allow for that in a sub-app when restarting.

This problem is beyond the issue (although somewhat related) that is in #5690 .

The issue here has to do with the fact that sub-apps in a restart scenario don't get to choose _when_ their solution vectors get

[2015-09-15 04:29] friedmud opened #5692 "MultiApp Restart With New Variables in Sub-Apps"
This needs to be investigated... but I expect issues.

Solution vector data is stored very rigidly in Checkpoint files.  It basically is stored in a way where the memory layout must be EXACTLY the same on restart.  That's not normally a problem... but adding / removing variables will directly screw it up.

We could fix this in a number of ways... but it all comes down to more sophisticated load/st

[2015-09-15 13:20] rppawlo commented on #3525
I just submitted a pull request for this.  It was needed to be able to compile moose against the latest DTK.

[2015-09-15 14:34] permcody commented on #5687
Thanks for the report. We'll take a look.

[2015-09-15 14:38] permcody commented on #5691
This isn't the first time that we've run into this type of problem. I ran into it with Multiapp initialization when I was trying to get the output syntax printing in the right order. We used to do the compute initialSetup for Multiapps right in the Action!  We actually need additional callbacks so that we can execute a normal tree-traversal for multiple stages of the setup. This really shouldn't b

[2015-09-15 14:53] Liuux commented on #5673
Is this a libmesh' s issue, or moose's? Could you give me some suggestion, I would like fix it.

[2015-09-15 15:20] permcody commented on #5673
Most likely MOOSE's issue. We'll take a look when we get a chance. I'll bump the priority since this issue is important to fix.

[2015-09-15 16:18] andrsd opened #5695 "MultiApp restart bug"
Here is a [branch](https://github.com/andrsd/moose/tree/restart-bug) that shows a bug in multi-app restart.

The problem being solved is very trivial. The sub-app is computing `u = x * t`on a 1D domain from `t = 0..1` with `dt = 0.1`. This solution is transferred onto master app into a variable called `v`. The master app computes `u = x * t` on a 2D domain.

For the first part, I let the `t = 0..0

[2015-09-15 16:42] friedmud commented on #5695
I'll take a look at this later tonight... unfortunately I'm tied up all afternoon.

Thanks for the simple example and the explanation

[2015-09-15 16:46] andrsd commented on #5695
Thanks. Also, I have not seen a test for multi-app restart (maybe I did not look close enough), so this could serve as a basis for it...

[2015-09-15 18:24] permcody commented on #5686
Actually I was just looking at this and we have a pretty good interface in the BASE CLASS already that both the real and faux grain tracker object inherit from. Does this not meet your needs?

http://mooseframework.org/docs/doxygen/modules/classFeatureFloodCount.html

[2015-09-15 18:33] dschwen commented on #5686
Oh... ```FeatureFloodCount``` has the full interface? So what happens if I pass a ```FeatureFloodCount``` object to an object that expects a ```GrainTracker```?

[2015-09-15 18:36] permcody commented on #5686
Well, I think you have it backwards. Your objects should actually use a `FeatureFloodCount` object instead of GrainTracker and you'd pass in either `FauxGrainTracker` or `GrainTracker` based on which object was active for your simulation. This is the way the `FeatureFloodCountAux` object already works. If I need to add additional methods to the BASE CLASS that's fine. It has several already.

[2015-09-15 19:21] permcody commented on #5687
Resolved in #5697

[2015-09-15 19:21] #5687 closed

[2015-09-15 19:29] permcody commented on #5660
How old is your MOOSE? Do you need to rebase an old PR or something? This was resolved in early June. https://github.com/idaholab/moose/pull/5156

[2015-09-15 19:29] #5660 closed

[2015-09-15 19:35] #4546 closed

[2015-09-15 19:38] permcody commented on #568
Tested in https://github.com/idaholab/moose/blob/devel/test/tests/utils/2d_linear_interpolation/2d_linear_interpolation_test.i

[2015-09-15 19:38] #568 closed

[2015-09-15 19:43] permcody commented on #789
This ticket is outdated and being dealt with in #5229.

[2015-09-15 19:43] #789 closed

[2015-09-15 19:49] permcody commented on #1661
Very outdated ticket.  The issue with this has to do with using PresetNodalBCs and can be resolved by choosing which "Residual" to compare against when calculating the L2 error. See https://github.com/idaholab/moose/pull/5066

[2015-09-15 19:49] #1661 closed

[2015-09-15 19:53] permcody commented on #1544
Very outdated ticket. I believe we handle this fairly well now. See ba72bdca0628e77e4ae7cb79d06a252aa63f9c92 and 226f1cc8e93bdeeb2018806c510b21e15114e3ab

[2015-09-15 19:53] #1544 closed

[2015-09-15 20:17] permcody commented on #2098
We haven't hit any issues with MooseArray in a long time. If we do, we can start using SharedPointers to solve these issues.

[2015-09-15 20:18] permcody commented on #2097
This really isn't an issue. We've fixed MOOSE to conform to the guidlines so we'll close this as an issue.

[2015-09-15 20:18] #2097 closed

[2015-09-15 20:25] permcody commented on #2412
This issue was discussed at length, and worked around eventually. It may cause brain bleeds if you read through it but there is a "solution". See #4638.

[2015-09-15 20:25] #2412 closed

[2015-09-15 22:11] permcody opened #5703 "Add accessor for initial residual in NonlinearSystem"
... before @YaqiWang or somebody else sees that we have writable public members to the initial residual in NonlinearSystem!

[2015-09-15 22:22] YaqiWang commented on #5703
haha. No worry, i am not going to abuse this one.

[2015-09-16 14:11] #2223 closed

[2015-09-16 14:12] #1512 closed

[2015-09-16 16:23] dschwen opened #5705 "Gnuplot output should support VectorPostprocessors"
The Gnuplot is super convenient for quick plotting and it should work for VectorPostprocessors just like CSV does.

[2015-09-16 20:13] permcody commented on #2240
@aeslaughter - I saw this issue since i was poking around looking for threaded issues after the merge of https://github.com/idaholab/moose/commit/a4c5b5fe8502fa77d78ce21d4084f9f5f154d7a2 and I still can't repeat this error. Maybe you could try it once again and see if you can get it to fail.

[2015-09-16 20:16] aeslaughter commented on #2240
I can't get it to fail either.

[2015-09-16 20:16] #2240 closed

[2015-09-16 21:23] permcody commented on #2251
@friedmud - I believe this issue is now invalid with the new restart format. Please review and close if possible

[2015-09-16 21:26] permcody commented on #2381
Looks like this was eventually fixed after the revert of the revert of the revert finally in 85464f1a28b413d0d6949ba19e0a8d0264cb7eab. :smile:

[2015-09-16 21:26] #2381 closed

[2015-09-16 21:27] permcody commented on #2847
@jwpeterson - I believe this ticket has been addressed.

[2015-09-16 21:28] #2628 closed

[2015-09-16 21:29] permcody commented on #2545
Fixed in 7188a4664013bf4d9a1f2ccb329d890855e08e6b

[2015-09-16 21:29] #2545 closed

[2015-09-16 21:33] jwpeterson commented on #2847
Yeah... we decided not to use Nanoflann so I'll close this.

[2015-09-16 21:33] #2847 closed

[2015-09-16 21:34] permcody commented on #3162
Yikes, I just ran across this old ticket... I bet you don't have those files anymore do you?

[2015-09-16 21:37] permcody commented on #3481
I wonder if this is related to that issue that we solved with the gdb backtraces? I'm going to close this unless we can repeat the issue. AFAIK rod and cone are running very well now. Even beers were purchased for that solution!

[2015-09-16 21:37] #3481 closed

[2015-09-16 21:45] permcody commented on #3826
This code has been refactored. This issue is not long valid.

[2015-09-16 21:45] #3826 closed

[2015-09-16 21:47] jwpeterson commented on #3826
So it's short valid?

[2015-09-16 21:47] permcody commented on #3826
What are you talking about? Looks fine to me!

[2015-09-16 21:53] permcody commented on #4640
I'll close this ticket. I haven't seen any of these for awhile so hopefully most of these have been removed.

[2015-09-16 21:53] #4640 closed

[2015-09-16 22:28] amjokisaari commented on #3162
I have no idea... I actually don't even know if this is still an issue.
I guess close the ticket and if it crops up again, go from there?

On 15-09-16 05:34 PM, Cody Permann wrote:

[2015-09-17 00:59] friedmud commented on #2251
Yep.

[2015-09-17 00:59] #2251 closed

[2015-09-17 01:13] friedmud commented on #3481
I think you're right.

[2015-09-17 06:58] WilkAndy opened #5710 "Create TensorMechanicsPlasticMeanCap"
This has yield function = a*(mean stress) - b

It is useful for placing "caps" for models with compaction or volumetric expansion.

[2015-09-17 13:13] #2423 closed

[2015-09-17 14:07] permcody commented on #3162
Closing for now. Will investigate later if this crops up again.

[2015-09-17 14:07] #3162 closed

[2015-09-17 16:00] jwpeterson commented on #486
I think it has since been decreed that we are not going to be calling Python from C++.  Also this ticket is fairly old and no one's been clamoring for the feature..

[2015-09-17 16:00] #486 closed

[2015-09-17 16:08] #2304 closed

[2015-09-17 16:23] friedmud commented on #5695
Ok - I see the issue.  It's a restart vs. recover issue again.

The sub-app is being "recovered"... even though the master app is being "restarted".

The problem is that the sub-app gets its exact state pushed down to it from the master app.  That's the right thing to do for "recover" but wrong for "restart" (the difference is in the `declareRestartableData()` vs `declareRecoverableData()`... data

[2015-09-17 16:29] jwpeterson commented on #995
I think this already works via `registerDeprecatedObjectName`.  For example:
[code]

[2015-09-17 16:29] #995 closed

[2015-09-17 16:30] friedmud commented on #5695
Actually - I don't think this will be that bad... stay tuned

[2015-09-17 16:32] permcody commented on #995
Well this was more so we could refer to the same object with different names. It was just an idea and I'm fine with abandoning it since it would lead to confusion. People would be off looking for objects that don't exists (in this case "Laplacian").

[2015-09-17 16:34] permcody commented on #5695
As a developer I'm a little confused about when I should use one or the other of these methods. Is there guidelines for how to talk to users about this? I guess users have to ask the question do I want the state to start over for "restart" but not for "recover"? Is that your thinking?

[2015-09-17 17:36] jwpeterson commented on #1117
This is no longer an issue, because `ParsedFunction` provides derivatives via the FParser automatic differentiation stuff.

[2015-09-17 17:36] #1117 closed

[2015-09-17 19:16] jwpeterson commented on #1777
Can we close this issue since it is forever-ongoing and just refer to it as needed?

[2015-09-17 19:17] permcody commented on #1777
I like that idea. sure

On Thu, Sep 17, 2015 at 1:16 PM John W. Peterson <notifications@github.com>
wrote:

[2015-09-17 19:22] jwpeterson commented on #1898
BCs which derive from `NodalBC` can now override `computeQpJacobian()` and `computeQpOffDiagJacobian()`.  I think you can probably use this to implement any kind of problem-dependent scaling you might require for DirichletBCs.  Also, since there hasn't been any response on this issue since David's first attempt to fix it, I'm closing...

[2015-09-17 19:22] #1898 closed

[2015-09-17 19:23] #1777 closed

[2015-09-17 20:08] jwpeterson commented on #2128
Just a slight update on this...

We are currently being pretty smart about calling Lapack in ColumnMajorMatrix.C: we only use our `FORTRAN_CALL` fallback if PETSc is either not available or is too old.  The only other use of LAPACK in the framework that I see is a `dgels` call in PolynomialFit.C.  That would be nice to similarly protect, but PETSc only provides an interface to `?gelss` which solve

[2015-09-17 20:28] dschwen commented on #5686
Per our discussion from two days ago: The question was whether it makes sense to set up objects to formally request a ```FeatureFloodCount``` object when they _conceptually_ require a grain-tracker-like object. I think the grain-trackerness should be enforced by inserting a class into the inheritance hierarchy below FeatureFloodCount and above the Faux- and real GrainTracker.

[2015-09-18 03:12] friedmud opened #5714 "Move restart_file_base to [Problem]"
`restart_file_base` doesn't really belong in `[Executioner]`.  Not only is it not really an Executioner thing... but all the Executioner does is turn around and call `_problem.setRestartFile(_restart_file_base)`... which is just wrong for so many reasons...

[2015-09-18 19:05] amccaskey commented on #5663
I removed the dependence on web.py, should be ready for the pull request. I would just ask that you guys double check me on correctly integrating framework/contrib/iceupdater into the build.

[2015-09-18 19:17] amccaskey opened #5715 "File parameters defined as std::string instead of FileName"
I noticed a few places in the code where a parameter like 'data_file' is added to InputParameters as a std::string (seems to be the case in a lot of the Function classes for example). There's nothing wrong with that, but it would make it much easier on ICE's side if it was declared as a FileName (MooseTypes.h) derived string type. As of the other day, ICE now has support for taking FileName and Me

[2015-09-18 19:39] permcody commented on #5715
Yes, those changes can be made without any other changes. If you feel so inclined go ahead, otherwise one of us will take care of it next week.

[2015-09-18 19:40] permcody commented on #5663
Go ahead and open your PR, we'll review it.

[2015-09-20 23:15] friedmud commented on #5695
@permcody For our users it's easy: they should only ever use `declareRestartableData()`.  In fact.. they have _no choice_ because `declareRecoverableData()` is actually _private_.

`declareRecoverableData()` should only be used internal to the library.  It's meant to denote data that needs to keep it's state during a Recover... but should NOT keep it's state during a Restart (because it needs to s

[2015-09-21 06:07] friedmud commented on #5695
This is incredibly nasty.  It's 2AM here and I'm calling off the search until tomorrow.

I think I need to take a different approach...

[2015-09-21 14:57] YaqiWang commented on #5695
Sorry for asking here. Actually restart/recover also confuse me. It is easy to understand why we have recover. But not very for restart, why do we just start the simulation from scratch, what is the difference?

[2015-09-21 15:14] permcody commented on #5695
Restart is much like the two-part simulations you run. You might use data
from a previous simulation as the initial condition for another simulation.

On Mon, Sep 21, 2015 at 8:57 AM Yaqi <notifications@github.com> wrote:

[2015-09-21 15:19] YaqiWang commented on #5695
Oh thanks. Now makes sense. But is restart a subset of recover? If so we should just let user to make the difference.

[2015-09-21 15:38] permcody commented on #5695
Restart is a subset of recover and I really don't think we want the user
deciding in general. As Derek pointed out there are a few key pieces of
data that are recoverable but in general we really don't want users to pick
one or the other and get themselves messed up. I'm actually really happy
that only one method is exposed. If you have special needs for Eigen
Execution, we can deal with that at t

[2015-09-21 15:46] friedmud commented on #5695
Yep.  `declareRestartableData()` is the only function users ever need to be aware of.

For now, I'm managing access to `declareRecoveeableData()` using `friend` classes in `Restartable`.  I have a good idea though about how to uncover it for specific systems that might need access to it in derived classes (TimeSteppers, Output, Executioners are a couple).  But, so far, there has been no need for t

[2015-09-21 18:13] #5710 closed

[2015-09-21 19:36] aeslaughter opened #5718 "Remove old-style [./InitialCondition] block"
This was deprecated before I started, it is time for it to go. This will help me further separate input file syntax from action and object creation.

[2015-09-21 19:40] dschwen commented on #5718
Oh, noooooo. I love that syntax :-(

[2015-09-21 20:16] permcody commented on #5718
Yeah but it is a difficult syntax to maintain. I suggest that we talk about augmenting our shortcut syntax if necessary. We already have a way to set constant initial conditions right inside of the variable block, maybe we can support a few others like functions... The rest should go in the new style [ICs] block unless you have other compelling reasons to keep the old one around.

[2015-09-21 20:59] aeslaughter commented on #5718
One possible "fix" would be to require "variable" to be a defined parameter
in the [./InitialCondition] block. This would allow us to avoid parsing the
action name name to look for the variable name, which is what I am wanting
to remove, since it relies on input file syntax to work correctly.

On Mon, Sep 21, 2015 at 2:16 PM, Cody Permann <notifications@github.com>
wrote:

[2015-09-21 21:06] permcody commented on #5718
"fix" in quotation marks... That's more of a hack. Even if I had the nested lookup finished, this still wouldn't help us here.

[2015-09-21 21:26] aeslaughter commented on #5718
I want to remove it and I am working on it. But, my "fix" would meet my needs. If you look at AddICAction.C, my fix would remove all lines except 42 (so it must be one answer), which eliminates all the parsing stuff of the action name.

[2015-09-21 21:49] dschwen commented on #5718
Ok, well, my rationale for liking the syntax is that every variable has _at most one_ initial condition, contrary to BCs, Kernels, etc., of which many can apply to a single variable. Also having the shortcut initial_condition _and_ and IC in the ICs block is an easy mistake to make (or you may have some variables with the IC as a shortcut and some with an IC at a very different location in the inp

[2015-09-21 22:33] #2095 closed

[2015-09-21 22:34] aeslaughter commented on #5718
This is staying for now.

[2015-09-21 22:34] #5718 closed

[2015-09-21 22:38] friedmud commented on #5718
I would definitely be for making the default IC be FunctionIC and having `initial_condition` be of type `FunctionName`.

Then you can put a constant, a function of x,y,z,t OR pass in the name of a real function you've defined below...

Making `initial_condition` more useful might obviate the need for people to go to the `ICs` block as often...

[2015-09-22 14:53] permcody commented on #5703
![Uploading test_image.jpeg…]()

[2015-09-22 17:07] dschwen opened #5722 "Add marker that refines/coarsenes the entire simulation cell at given times"
We have a PF simulation that runs into convergence issues with fine grids at early times. With a marker that would trigger refinement at a set time we could fast track the microstructure evolution and obtain a refined solution at later times.
This would possibly have to insert sync times.

[2015-09-22 18:24] friedmud commented on #5722
This is the perfect use for Control Logic... use it to activate a Marker at
certain times....

On Tue, Sep 22, 2015 at 1:07 PM Daniel Schwen <notifications@github.com>
wrote:

[2015-09-22 18:24] aeslaughter commented on #5722
This seems like it could be done in the control logic system:
1. Create the Marker you want to enable.
2. Make the "marker" input syntax controllable in the Adaptivity block
3. Make a Control object that changes the marker given some criteria (e.g., time).

In the nearish future, the Marker objects will also be able to remain inactive until the switch is thrown to save computation time, but that f

[2015-09-22 18:42] dschwen commented on #5722
Yeah, CL came to mind. Will there ever be a command line client that connects to a running MOOSE sim (i.e. via sockets) that will allow us to change stuff interactively? There are so many more potential applications (like adjusting the simulation end_time or num_steps interactively after eyeball analysis of the intermediate outputs).

[2015-09-22 18:58] friedmud commented on #5722
Officially: No

Unofficially: Do whatever you want ;-)

That type of stuff is a NIGHTMARE for reproducibility.  I should know... I
did just that for a lot of my master's thesis!

You can always continue a simulation using recover/restart if it didn't run
long enough.

Of course... you can rig something like this up yourself right now.  Just
have your TimeStepper or Executioner or whatever you want

[2015-09-23 12:00] friedmud commented on #869
Just bumping this a bit since people are asking for it: https://groups.google.com/forum/#!topic/moose-users/iALxx76WhnU

[2015-09-23 15:28] milljm opened #5725 "PBS perflog times"
When using PBS options, performance times are not being printed.

[2015-09-23 15:46] dschwen opened #5726 "LaTeX formulae don't render in Doxygen docs on mooseframework.org"
The Mathjax path is set wrong.

[2015-09-23 16:03] dschwen commented on #5726
I'm also fixing some other Doxygen errors.

[2015-09-23 16:25] snschune commented on #5543
@YaqiWang  @permcody My plan is to use a Partitioner action to set _custom_partitioner in MooseMesh that is used of partitioner type is set to custom.

The problem is the order in which I need to set up things:

1. Construct mesh object
2. Set _custom_partitioner using PartitionerAction
3. Set partitioner in MooseMesh.

To do that I will need to move setting the partitioner in MooseMesh from the c

[2015-09-23 16:55] permcody commented on #5543
Yes, That should work fine. We'll want to create a new task
"set_mesh_partiioner". We can either satisfy that task with a new Action or
one of the existing ones if that makes sense.

On Wed, Sep 23, 2015 at 10:25 AM Sebastian Schunert <
notifications@github.com> wrote:

[2015-09-23 18:51] dschwen opened #5728 "Cleanup KKS model classes"
The KKS model classes in phase field need some cleanup. Some dead code needs to be removed and the equations need to be double checked (and verified with the Jacobian checker).

[2015-09-23 19:27] dschwen commented on #5728
Off-diagonal Jacobians of the ```KKSACBulkC```, ```KKSACBulkF``` kernel pair are buggy.

[2015-09-23 19:39] dschwen commented on #5728
On-diagonal Jacobian contribution from ```KKSACBulkC``` is inexact (~5% L2 error in the UO2 randomized IC test case)

[2015-09-23 20:51] #2345 closed

[2015-09-23 23:57] aeslaughter opened #5731 "PostprocessorDirichletBC is not needed."

[2015-09-24 00:03] friedmud commented on #5731
:-1: Yes it is.

[2015-09-24 13:37] aeslaughter opened #5734 "Calling getRandomReal() w/o calling setRandomResetFrequency causes Seg. Fault."
We just need to capture this problem with an error.

[2015-09-24 14:18] #5726 closed

[2015-09-24 14:33] dschwen commented on #5734
An assertion seems more appropriate here, as the error is not triggered by user input but by a developer screwup.

[2015-09-24 15:03] dschwen commented on #5718
:+1:

[2015-09-24 15:51] aeslaughter commented on #5734
I disagree, I am creating an AuxKernel, as a user would, that calls
getRandomReal(). If I don't call the set method, I get a seg. fault.

On Thu, Sep 24, 2015 at 8:33 AM, Daniel Schwen <notifications@github.com>
wrote:

[2015-09-24 15:52] friedmud commented on #5734
I agree with @aeslaughter

[2015-09-24 16:01] dschwen commented on #5734
So we add a check that is run at every call of ```getRandomReal()```?! If I'm writing code and get a segfault I run in ```dbg``` mode. This sort of check needs to run exactly _once_ and then you _fix_ the bug. It does not need to run millions of times during a simulation.

[2015-09-24 16:16] permcody commented on #5734
Well we don't have necessarily need a check. We could just set a default.

On Thu, Sep 24, 2015 at 10:01 AM Daniel Schwen <notifications@github.com>
wrote:

[2015-09-24 16:45] aeslaughter commented on #5734
I think a default is the way to go, in most cases the user never needs to
know anything about this setup.

On Thu, Sep 24, 2015 at 10:01 AM, Daniel Schwen <notifications@github.com>
wrote:

[2015-09-24 17:17] permcody opened #5736 "What is this?! Slapboard candidate"
https://github.com/idaholab/moose/blob/devel/framework/src/transfers/MultiAppDTKUserObjectEvaluator.C#L76

I'm sure that it probably isn't doint what you think it's doing!

[2015-09-24 17:19] permcody commented on #5736
Actually it appears that it is unused even though my compiler didn't tell me so...

[2015-09-24 17:19] #5736 closed

[2015-09-24 17:32] #3525 closed

[2015-09-24 20:04] permcody commented on #5734
There is already an assertion in place so if you just build debug mode you'd get a helpful error:
https://github.com/idaholab/moose/blob/devel/framework/src/utils/RandomInterface.C#L73-L96

If a majority wants another branch EVERY time the random method is called, we can certainly change this method.

[2015-09-24 20:26] gleicher27 opened #5737 "Feature request for Time Integrator Aux"
I noticed that both FastNeutronFluenceAux in BISON and VariableTimeIntegrator in yak essentially do the same thing. This feature seems useful enough that MOOSE should provide at least a base class.
If it doesn't have it already.

[2015-09-24 20:28] friedmud commented on #5737
:+1:

[2015-09-24 20:39] gleicher27 commented on #5737
Yaqi says their is something for this in place for MOOSE, but he does not like it ???
Hmmm...I haven't found it yet (Derek, Cody, and Yaqi if you could chime in....)

[2015-09-24 21:07] permcody commented on #5737
I don't know of any existing AuxKernel that performs that calculation in MOOSE. You'll have to ask @YaqiWang

[2015-09-24 21:42] YaqiWang commented on #5737
No I do not know any in MOOSE for this. What we want here is to create an var integrator perform the following: u(x, t) = u(x, t_0) + \int_{t_0}^t f(x,t') v(x, t') dt', where f(x,t) is a moose function.

[2015-09-24 21:48] YaqiWang commented on #5737
This might be complicated then we thought because `v` could be obtained with various time integrators. We should use those solutions at intermediate steps to more accurately do this integration.

[2015-09-24 21:48] gleicher27 commented on #5737
At the heart this looks like for BISON:

Real
FastNeutronFluenceAux::computeValue()
{
  return _u_old[_qp] + 0.5*_dt*(_fast_neutron_flux[_qp] + _fast_neutron_flux_old[_qp]);
}

And then for YAK:
Real
VariableTimeIntegrator::computeValue()
{
  return _u_old[_qp] + (_cvar[_qp] + _cvar_old[_qp]) * _dt / 2.0 * _coef;
}

[2015-09-24 21:50] gleicher27 commented on #5737
Well, part of it should maybe depend upon the time scheme that is currently asked as well, so that at least the same consistency is given ?

[2015-09-24 22:49] laagesen commented on #5728
On-diagonal contribution from `KKSACBulkC` is coming from term ` + _prop_dh[_qp]  * A2` that should be zero (partial derivative vs. total derivative). Removing it.

[2015-09-25 01:59] aeslaughter commented on #5734
I don't want a call in getRandomReal(), if you all think the assert is
enough then we can close this. Personally, I would like the constructor to
random interface set a value.

On Thu, Sep 24, 2015 at 2:04 PM, Cody Permann <notifications@github.com>
wrote:

[2015-09-25 03:00] permcody commented on #5734
That's not an option. That would mean we build generators for every active
bc, kernel, postprocessor and anything else that inherits from random
interface. It's a demand system so when you make that call it actually
allocates and starts updating the independent generators at every dof.
There needs to be some way you tell the system you want to use random
numbers in this object. If you think of som

[2015-09-25 03:01] aeslaughter commented on #5734
Good enough for me.

[2015-09-25 03:01] #5734 closed

[2015-09-25 03:03] aeslaughter commented on #5731
:poop: :rice_cracker:

[2015-09-25 03:03] #5731 closed

[2015-09-25 03:03] friedmud commented on #5734
I don't really have any great ideas... but I guess the most "MOOSE-like" thing to do is have a default.

I really don't like that it's so easy to get a segfault.  I would rather have a default and then have people change it when they realize it's not doing exactly what they want...

Maybe make the default "timestep"?  I think that makes the most sense...

[2015-09-25 03:06] aeslaughter commented on #5307
Step 10 (#5730) will have ICs

[2015-09-25 03:29] permcody commented on #5734
We can't have a default. The call actually allocates the random data
object.The segfault comes from there being no generator on the other side
making numbers. If I were to create a single global generator that gets
replaced when you make the call that might be on possible way to handle
avoiding a segfault. Of course you won't get all the nice parallel
properties of the system either.
On Thu, Sep 2

[2015-09-25 03:56] friedmud commented on #5734
I see.  Well damn.  Whatever then.  We did the best we could ;-)

[2015-09-25 13:40] permcody commented on #5734
"You tried your best and failed miserably. The lesson is, never try"

- Homer Simpson
On Thu, Sep 24, 2015 at 9:56 PM Derek Gaston <notifications@github.com>
wrote:

[2015-09-25 15:34] #5725 closed

[2015-09-25 15:35] jwpeterson commented on #5663
Closing this as the original PR was merged, but feel free to reference it in future work.

[2015-09-25 15:35] #5663 closed

[2015-09-25 20:04] #5686 closed

[2015-09-25 20:11] permcody opened #5741 "ICEUpdater bugs"
It appears that the ICEUpdater has a few bugs which need to be resolved:

- [ ] Fails to run in parallel at all, (here's the start of a potential solution: https://github.com/permcody/moose/commit/552b1b98656c3827ceb1b496a772a077a140799f
- [ ] Reports the following error in serial sometimes `Number of Posts was 5, but should have been 4`

That's all I can nail down for sure right now. It appears t

[2015-09-25 20:32] amccaskey commented on #5741
I'll take a look at this and push a fix soon to my fork.

[2015-09-25 20:36] dschwen opened #5744 "analyzejacobian.py fails with 3.6.1"
PETSc output is screen-scraped by the script and has minutely changed between 3.6.0 and 3.6.1

[2015-09-25 20:48] permcody commented on #5741
I was hoping there would be some weird problem in the TestHarness piece but I don't believe that's the case. I have a PR open now that cleans up some of the unecessary overrides in the new `ICEUpdateTester.py` but it still fails on my system in serial about 10% of the time even with these fixes.

```for i in `seq 1 20`; do ./run_tests --re=outputs -j24;  done ```

[2015-09-25 21:44] #5744 closed

[2015-09-28 15:46] milljm opened #5746 "Create a PBS emulator"
Having the ability to test --pbs on our local machines would be nice. Figure it out.

[2015-09-28 16:32] dschwen opened #5747 "Doxygen still throws a ton of warnings"
One type of warnings that was not addressed in #5726 was the issue of ```#include``` strings in the doxygen docs. The ```#``` operator is used for explicit file linking and needs to be escaped. We also need to add some verbatim commands and tag some TeX.

[2015-09-28 16:55] mangerij opened #5748 "initial_from_file_timestep should be able to grab "end""
If end(ie the last timestep) is tried in the restart system, the following error is thrown.

`ERROR: Input value for variable GlobalParams/initial_from_file_timestep is of the wrong type.
       value = end expected type = i`

Would this be easy to change?

[2015-09-28 21:46] dschwen opened #5750 "use_displaced_mesh segfaults"
I may be misunderstanding the point of the ```use_displaced_mesh``` parameter, but nonetheless I think using it should not crash MOSOE with a  segmentation fault.

I'm committing a test file that should show up in this issue in a minute.

[2015-09-28 21:49] dschwen commented on #5750
Looks like a ```VariableValue``` stays uninitialized when choosing ```use_displaced_mesh = true```:

[code]

[2015-09-28 23:02] dschwen commented on #5595
Possibly related to not using displaced meshes. Cannot check due to bug #5750.

[2015-09-29 14:39] permcody commented on #5748
Yes, We've already solved this problem with the `block` and `boundary` parameters in MOOSE. We just changed the type to string and then attempt to convert them to integers. If they successfully convert without leaving left over characters, we know they are actually integers and we can treat them as suck. If they don't convert, then we can attempt to treat them as a string and do something differen

[2015-09-29 14:48] SudiptaBiswas opened #5751 "Radiation Source Term"
Need Kernel and Material for incorporating vacancy and interstitial source terms. Already exist in marmot, can be moved to moose.

[2015-09-29 14:51] friedmud commented on #5748
:+1:

[2015-09-29 14:57] friedmud commented on #5750
So that my comment (on @dschwen 's commit) is not lost:

The issue here is most likely `initial`... maybe the displaced mesh hasn't been updated and the displaced system hasn't been reunited yet.

[2015-09-29 15:10] dschwen commented on #5750
In 3b97017 I've modified the test input to do a solve with one timestep and I have removed the execute on initial. It outputs

[code]

[2015-09-29 16:08] friedmud commented on #5750
Damns.  WTF

[2015-09-29 22:53] YaqiWang commented on #4840
I am thinking to replace MooseObjectAction with my own MooseObjectAction, for example the AddMaterialAction. Then I can change object parameters before the creation of the object. I need to replace the syntax with my new action though. This seems a low risk change and can solve my problem. If you think this is better, you can close this issue for now.

[2015-09-30 03:28] friedmud commented on #4840
Please don't do something like that @YaqiWang .  Please don't change the basic way objects are created!

[2015-09-30 14:18] #5715 closed

[2015-09-30 15:26] jasondhales opened #5756 "'output_final = true' doesn't output final"
Try the following.  The final step (0.1 s) is not written out to the console or the Exodus file.

[Mesh]
  type = GeneratedMesh
  dim = 2
  xmin = 0
  xmax = 1
  ymin = 0
  ymax = 1
  nx = 10
  ny = 10
  elem_type = QUAD4
  # This test uses ElementalVariableValue postprocessors on specific
  # elements, if you use ParallelMesh the elements get renumbered.
  distribution = serial
[]

[Functions]

[2015-09-30 15:29] jasondhales opened #5757 "'show = <var name>' not working"
Try the following with either 'show' line active.  All variables are written out and not just the one on the 'show' line.

[Mesh]
  type = GeneratedMesh
  dim = 2
  xmin = 0
  xmax = 1
  ymin = 0
  ymax = 1
  nx = 10
  ny = 10
  elem_type = QUAD4
  # This test uses ElementalVariableValue postprocessors on specific
  # elements, if you use ParallelMesh the elements get renumbered.
  distribution =

[2015-09-30 15:47] aeslaughter commented on #5756
'output_final' isn't used anymore, you should be seeing warnings. Try using `execute_on = 'initial timestep_end final'`, if this doesn't work I will take a look.

[2015-09-30 15:50] aeslaughter commented on #5757
I will take a look next week, we are doing training this week.

[2015-09-30 15:54] jasondhales commented on #5756
I don't see a warning.

That line puts the final result in the Exodus file, but the console does
not show the final step.

On Wed, Sep 30, 2015 at 9:47 AM, Andrew E Slaughter <
notifications@github.com> wrote:

--
Jason D. Hales, PhD
Department Manager
Fuels Modeling & Simulation
Idaho National Laboratory
(208) 526-2293

[2015-09-30 16:18] #5750 closed

[2015-09-30 16:36] permcody commented on #4840
Agreed - If you do that, I don't know how we'll be able to support you. Of all the things in MOOSE this is really at the core and further divergence will certainly occur. If you need this parser enhancement to make your problem work then it'll be my priority. Let's chat about this again and make sure I'm on the right page with you.

[2015-09-30 16:39] dschwen opened #5758 "Variable dependent mobility in Allen-Cahn kernel is buggy"
Ping @tonkmr

Variable dependent _L_ mobilities in the ```ACParsed``` kernel cause the system to evolve unphysically (such as increasing the total free energy!). This may explain a good portion of the stuff observed in #5595

[2015-09-30 16:45] YaqiWang commented on #4840
I basically need the keyword substitution somewhere in the code for making the input easier. Users does not have to remember specific variable or material property names for postprocessing especially they are added through actions. It is ok whenever the substitution happens before the construction of the objects. The earliest one would be in the parser, the latest would be in `MooseObjectAction::a

[2015-09-30 17:18] permcody commented on #4840
I'm really busy today but I'll see if I can help you out tomorrow.

On Wed, Sep 30, 2015 at 10:45 AM Yaqi <notifications@github.com> wrote:

[2015-09-30 17:19] dschwen commented on #5758
d80f982 adds a minimal input file that demonstrated the bug. A plot of the free energy is shown below.

![acmobilitybug](https://cloud.githubusercontent.com/assets/202302/10200661/ee8845d6-6764-11e5-8b3c-b02fdb87f7a5.png)

[2015-09-30 18:07] aeslaughter opened #5759 "SideFluxIntegral needs to use PropertyName type"

[2015-09-30 19:25] roystgnr opened #5760 "Give major libMesh changes more thorough testing"
The typical MooseBuild tests are sufficient for most libMesh updates, but for major changes or for changes to features where we don't have enough test coverage, it would be nice to have more.

@jwpeterson suggests "...the easiest way would probably be to put in a PR to MOOSE that contains a libmesh update to the hash with your changes.  That will run the moose_pr_app_tests which will hit most of o

[2015-09-30 19:37] permcody commented on #5760
That's a good solution for now. MOOSE build is currently being redesigned and we should be able to accommodate more of these types of requests when we rollout the new version.

[2015-09-30 20:49] SudiptaBiswas opened #5762 "Grain advection and elastic deformation combination seems to be buggy"
It has been observed that combination of grain advection and elastic deformation leads to increase in concentration field in phase filed. I will be creating small test files to analyze and debug this issue.

[2015-09-30 21:21] SudiptaBiswas commented on #5762
8c9b5b6 only has advection and time derivative kernels, no tensor mechanics or CH/AC kernels.
Concentration remains constant. However, since diffusion is not there, the grain motion is not smooth because interface has low velocity than the part inside grain.

[2015-09-30 22:55] dschwen commented on #5758
The issue seems to be in ```ACInterface```. The behavior looks ok with ```kappa = 0```.

[2015-09-30 23:20] dschwen commented on #5758
Got it. The weak form is _wrong_ in this kernel. The derivation leads to

![eq1](http://quicklatex.com/cache3/62/ql_ece4c7227aa39f8c856a291a6c3fd362_l3.png)

but the kernel implements

![eq2](http://quicklatex.com/cache3/7f/ql_0b22298433d98ee568d98ef4f5d3b97f_l3.png)

I.e. the weak form was derived under the assumption that _L_ and _kappa_ are constants and can be pulled out of the gradient term.

[2015-09-30 23:52] a-f-dykhuis commented on #5758
Now I see what you're talking about. I do have a variable kappa.

[2015-10-01 00:20] a-f-dykhuis commented on #5758
FYI - Running it with constant L and kappa does lead to oxide growth (with massaging of other numbers to compensate).

[2015-10-01 00:56] tonkmr commented on #5758
The Allen-Cahn equation is \dot{eta} = - L dF/deta. So, there is no gradient term that acts on L. Once you sub in the value for F you get

R = \dot{eta} + L df_loc/deta - L kappa grad^2 eta

So, there is no gradient on kappa either. In weak form, the interface term becomes

L kappa (grad eta, grad phi)

[2015-10-01 01:00] dschwen commented on #5758
Product rule integration will give the term above. The current residual is
clearly wrong.

On Wed, Sep 30, 2015, 6:56 PM Michael Tonks <notifications@github.com>
wrote:

[2015-10-01 01:25] tonkmr commented on #5758
I see what you are saying, it comes when we lower the order of the derivative on the variable using the divergence theorem. I think this same issue will pop up when we add support for variable kappa in the split form of the Cahn-Hilliard equation.

In addition to the kernels, all of the documentation on the wiki is wrong as well.

[2015-10-01 01:52] dschwen commented on #5758
Yes. The docs are definitely wrong. I'm already working on a fix that will
include variable kappas. I will fix the docs as well.

On Wed, Sep 30, 2015, 7:25 PM Michael Tonks <notifications@github.com>
wrote:

[2015-10-01 04:24] dschwen commented on #5758
The fix is working. Kappa dependence needs even more terms (additional terms emerge from the variational derivative). But I'm getting there.

![acmobilitybug_fixed](https://cloud.githubusercontent.com/assets/202302/10212809/cfe26e06-67c1-11e5-8093-57dc41064eca.png)

[2015-10-01 14:21] snschune commented on #5543
I would like to create an easy way of adding new partitioner now. For that purpose I plan to create a
class MooseNativePartitioner that inherits from libMesh::Partitioner and MoosePartitioner. Then I override the getPartitioner function and return ```this```. If you want to add a partitioner, say in yak, you can now
inherit from MooseNativePartitioner. Does that make sense?

[2015-10-01 14:23] andrsd commented on #5714
Is anybody working on this? If not, I'd do it...

[2015-10-01 14:29] permcody commented on #4840
I'm ready to take a hard look at this today. I can see why you think the Parser may not have all the information it needs during parse time to make substitutions because right now the parse order is not defined, nor should it be. We want our input files to remain very flexible and have no defined order or creation.

That doesn't mean that we can't solve this problem in the Parser though. It would

[2015-10-01 14:31] permcody commented on #5543
Almost... Why not make the user inheritance easier though? Users should only need to inherit from one class not two. If you design your base class right this should be possible.

[2015-10-01 14:31] permcody commented on #5714
Go for it

[2015-10-01 14:47] lindsayad opened #5765 "Add interface block mesh modifier"
This comes out of the discussion here: https://groups.google.com/forum/#!topic/moose-users/011fudvdHng

Ideally, I would like to be able to generate the same qualitative characteristics of the mesh 2blk-conf.e (used in Moose test input file conforming_two_var.i) using GeneratedMesh and MeshModifiers. The proposed mesh modifier would be capable of inserting an interface element block, disconnecting

[2015-10-01 14:48] permcody commented on #5649
@jasondhales - I'd like to get this resolved for you. Either I don't recall or we didn't capture quite enough information in this ticket, but how do you plan to use this tag again? I believe you wanted to track information over time which is why I said something about storing it on a central server. That really is important but as a first step we can at least start making unique names. Thinking ab

[2015-10-01 14:50] permcody commented on #5765
Yes, until the simulation actually starts you can mesh around with the Mesh quite a bit, removing and deleting elements, sidesets and/or nodesets. There are lots of tools right in libMesh for making all of these things occur, it's just a matter of digging in and creating all the correct logic.

[2015-10-01 14:51] snschune commented on #5543
I intent MooseNativePartitioner to be this base class, i.e. the (sole) base for all partitioners that are added to the herd (as opposed to being implemented in Libmesh).
Another option is that MoosePartitioner itself inherits from Partitioner making MooseNativePartitioner redundant, but  the problem would be how to make LibmeshPartitioner work. LibmeshPartitioner basically "wraps" partitioners imp

[2015-10-01 14:52] #5287 closed

[2015-10-01 14:55] friedmud opened #5766 "Solution Comparison Example"
We really should have an example that shows how to compare solutions using `SolutionUserObject`, `SolutionFunction` and `ElementL2Error`

I'm working on this

[2015-10-01 14:56] friedmud opened #5767 "Compilation Problem With IceUpdater"
I currently can't compile MOOSE.  I get this error:

[code]

I suspect that the issue is that I don't use TBB.

I'll fix it.

[2015-10-01 15:02] permcody commented on #5543
Well you basically you are designing a system around perceived limitations
in the way libMesh expects to use Partitioners which ends up creating two
somewhat related by not quite compatible trees. I'd rather not think about
`LibMeshPartitioner` vs `MoosePartitioner` vs `MooseNativePartitioner`.
That's already very confusing especially since libMesh partitioner actually
inherits from MOOSE!

It's v

[2015-10-01 15:28] YaqiWang commented on #4840
So will the call back function be something like
[code]
?

If so, few questions:
1. how the command-line parameters be passed in? Are they already in GetPot?
2. how easy to query the input syntax in GetPot? For example, can I check the following easily:
   the number of subblocks; if a particular parameter is given in a block; the value of a parameter, and etc.

I was thinking query the action war

[2015-10-01 15:30] jasondhales commented on #5649
Yes, that is one option, and we are currently storing them that way.  That
keeps the directory structure around, and we don't really need that.  What
would be better is to collect all the results files (csv files) in one
place.  If they had unique names (test name plus date) plus some way to
pull out the results files only and not other csv files, we'd have what we
need.

We could go into every as

[2015-10-01 15:53] permcody commented on #4840
1. You bring up a good point and now I'm thinking this won't quite work like I want since you'll basically be reimplementing all of the logic in the Parser extraction routines which have to check CLI args before checking input parameter args. Also if I implement the parameter lookup that would also mess with this...

OK, so this design is out!
I think what I'll have to do is delay these calls unti

[2015-10-01 16:25] YaqiWang commented on #4840
There could be a misunderstanding. For example in `AddMaterialAction::act()`, a material will be constructed using the parameters passed by MooseObjectAction, which is set by the parser. What I want to do is that right before the construction, I do substitution. The parameters are indeed available during construction.

[2015-10-01 16:32] permcody commented on #4840
You aren't thinking about the general case. Some parameters that appear in a block are for the Action that reads the block while the remaining ones are for the object being constructed. There's no differentiation from a user perspective. If we did the substitution during act(), none of those Action parameters would be allowed to have substitution strings. Just take a look at `CreateExecutionAction

[2015-10-01 16:34] #5767 closed

[2015-10-01 16:55] permcody commented on #5649
I was thinking about this some more and another general problem with this whole idea is that with "--pbs" the TestHarness may not be the last thing that touches those output files. It's conceivable that you launch all the jobs with a cron job and then never re-run script with the status option to check them. If you failed to perform that step after _every_ job had completed you may miss some of th

[2015-10-01 17:09] jasondhales commented on #5649
Seems like the parameter substitution idea would be useful in several
ways.  I vote to have this available on the command line.  Something like
./myapp-opt -i input.i --sub="DATE=20151001".  Then the parser would
replace zero or more instances of DATE with 20151001.

On Thu, Oct 1, 2015 at 10:55 AM, Cody Permann <notifications@github.com>
wrote:

--
Jason D. Hales, PhD
Department Manager
Fuels Mod

[2015-10-01 17:14] permcody commented on #5649
In my design I'm thinking they'll be a base class callback that is called first to do simple replacement of reserved strings (DATE) or simple substitutions that don't need user intervention. However there will also be a user-overridable callback for more complicated parameter generation. Whatever the system, CLI overrides should definitely be incorporated.

[2015-10-01 21:12] friedmud commented on #5543
Might as well throw a couple of pennies in here...

Firstly...  this is going to take some time to get right.  It might take a couple of iterations too...

@snschune was just trying to copy the way do we `Preconditioners` here.  `MoosePreconditioner` is just a base class that doesn't inherit from anything.  `PhysicsBasedPreconditioner` inherits from both `MoosePreconditioner` and the libMesh `Prec

[2015-10-01 21:28] friedmud opened #5771 "ElementL2Difference"
We don't actually have a Postprocessor that computes the L2-norm of the difference between two fields.  This would be useful in a lot of cases...

[2015-10-01 22:57] #5766 closed

[2015-10-02 00:10] laagesen commented on #5728
Currently the off-diagonal Jacobian contributions from `KKSACBulkC` and `KKSACBulkF` return negligible errors when the 2 kernels are activated independently. However when both kernels are activated together, errors are detected.

[2015-10-02 00:19] laagesen commented on #5728
Pushed updated input file to `marmot-problems/problems/UO2Xe_KKS/test.i`

[2015-10-02 23:41] dschwen opened #5774 "Jacobian analyzer script fix for El Crapitan"
It seems that ```/usr/bin/env``` in El Capitan unsets the ```DYLD_LIBRARY_PATH``` variable (this is an issue for peacock as well @permcody).

The fix is to specify the python interpreter directly (better ideas appreciated).

[2015-10-02 23:56] dschwen commented on #5774
This is the issue: https://forums.developer.apple.com/message/31148

[2015-10-03 02:34] jwpeterson commented on #5774
More like El Crapitan.

[2015-10-03 21:21] dschwen commented on #5774
This is actually big. We should find a way to ditch ```DYLD_LIBRARY_PATH``` entirely. Why are the library paths not compiled in for some libs? Atom auto completion doesn't work anymore either.

[2015-10-03 21:29] friedmud commented on #5774
With Python there is no binary to compile a path into (such is the case for Peacock).

Have you been able to find other people running into this issue with El Capitan?

[2015-10-03 21:40] dschwen commented on #5774
Well, I confirmed that the DYLD_LIBRARY_PATH is passed through in Yosemite and not in El Capitan. The rpath needs to be set in the moose executables of course! That way we wouldn't have to rely on DYLD_LIBRARY_PATH anymore at all (isn't it _evil_ anyways? ;-)

[2015-10-03 21:41] dschwen commented on #5774
B.t.w. the testing harness does not work either (if that conclusion hasn't been obvious from the previous posts).

[2015-10-03 21:47] dschwen commented on #5774
```install_name_tool``` can be used on macs to fix this (i.e. set an absolute path for every library in the executable).

For example:
[code]

This has to be done for every library that doe not have a full path.
I'm working on  a small script to do this as a quick fix.

[2015-10-03 22:05] friedmud commented on #5774
@dschwen before you go crazy on this... let's investigate a little more.  DYLD_LIBRARY_PATH is a _real_ thing... it's a thing we're supposed to be able to rely on.  It's not something we made up - or something we're using incorrectly.

We need to get to the root of why DYLD_LIBRARY_PATH is not passing through /usr/bin/env.  It could be a security setting  - or maybe some other way we need to invok

[2015-10-03 22:06] friedmud commented on #5774
Can you describe the issue a little bit more?  Is it an issue that only surrounds /usr/bin/env?  Or are you seeing DYLD_LIBRARY_PATH getting dropped in other places?

[2015-10-03 22:11] friedmud commented on #5774
It's definitely an issue that other people are seeing: https://forums.developer.apple.com/message/31148

[2015-10-03 22:12] dschwen commented on #5774
Christ, I know what ```DYLD_LIBRARY_PATH``` is! Or ```LD_LIBRARY_PATH``` on Linux. Of course it is not something you made up. But its use is _discouraged_. And now OSX has changed the behavior for _this_ environment variable _specifically_ when the environment is passed to child processes.

The variable is dropped **for every child process** (for some reason not for children of the shell though!).

[2015-10-03 22:18] dschwen commented on #5774
Ok, I can confirm that using the script in f380e6c I can get a MOOSE installation and compiled MOOSE executables that run fine without a ```DYLD_LIBRARY_PATH``` set. It requires running the script on the vtk libs and the PETSc libs.

[2015-10-03 22:33] friedmud commented on #5774
After doing some catching up on this issue... this is a complete mess.  It's being done for security... but really messes up a lot of stuff.

It sounds like I offended you, and I certainly didn't mean to.  I'm glad you're looking into this, I was just preaching caution about heavy handed reactions.  I'm specifically referring to your statement of

Yes, for binaries we can embed rpaths (we've done

[2015-10-03 22:34] dschwen commented on #5774
No, python programs are _not_ the problem. We just need to get all binaries in shape to _not_ require DYLD_LIBRARY_PATH (sorry, but it looks like this is the only option).

[2015-10-03 22:36] dschwen commented on #5774
As I said above, I have this all running on my El Capitan system now.

[2015-10-03 22:36] dschwen commented on #5774
The real solution will be to fix the Make files to set all rpaths to fully qualified filenames for the linked libraries _at build time_.

[2015-10-05 14:12] andrsd commented on #5774
This will also have some implications on how @milljm builds the MOOSE package...

[2015-10-05 14:12] milljm commented on #5774
PETSc fails to build due to this issue.

[2015-10-05 14:14] andrsd commented on #5774
@dschwen Do you use TBB? On my machine, the binary relies on the `DYLD_` variable.

[2015-10-05 16:06] #5771 closed

[2015-10-05 19:41] jwpeterson commented on #1777
Interesting warning I haven't seen before from the latest (El Capitan) clang compiler:

[code]

[2015-10-05 21:51] #5748 closed

[2015-10-05 22:58] #5756 closed

[2015-10-05 22:58] #5757 closed

[2015-10-06 04:46] SudiptaBiswas commented on #5762
CaseI to CaseIV are all with constant forces applied to grains, none of them show any increase in average concentration. However, when reaction force between two particles are considered (case V), the  solution does not converge at all. Jacobian debug shows jacobians are off by almost 50%.
I am not sure if this the reason behind increasing concentration, when coupled with elastic deformation. As o

[2015-10-06 13:33] jessecarterMOOSE opened #5779 "Postprocessor data not being reset after rejected timestep"
Noticed this when using the TotalVariableValue postprocessor with the DT2 timestepper. The _value_old variable gets initialized by getPostprocessorValueOldByName(name()) in the constructor, and that is returning the last value computed by the postprocessor even if the timestep was rejected.

Link to some discussion:
https://groups.google.com/d/topic/moose-users/9QIG_VHr5fs/discussion

[2015-10-06 14:26] permcody opened #5780 "JacobianAnalyzer script might fail to find valid executable"
As reported here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/moose-users/Khh6QA5eIAQ/wiLEjxwGCwAJ

[2015-10-06 14:28] permcody commented on #5779
Thanks Jesse

[2015-10-06 18:44] dschwen commented on #5780
According to Maria the following command is dispatched by the analyzer

[code]

The detected executable is ```../../../hart/```, which is just a path, not an executable. The script searches from the current path **up**, so if ```../../../hart``` is not a parent of the current directory (i.e. if it is not equivalent to ```../..``` this cannot work anyways.

I cannot reproduce this on my machine and

[2015-10-06 22:35] #5737 closed

[2015-10-06 23:46] sveerara opened #5783 "Modified Nodal Constraints to allow multiple master nodes and added kinematic formulation to classes deriving from NodalConstraint"

[2015-10-07 02:00] friedmud commented on #3029
One more use...

https://groups.google.com/forum/#!topic/moose-users/cthPGyKPPCE

[2015-10-07 02:38] friedmud commented on #1777
What are the side effects of dereferencing something?

[2015-10-07 02:51] friedmud opened #5784 "MultiApp Input-file/positions enhancement"
@mellis13 needs a small enhancement to MultiApps.  Currently if you use `positions_from_file` you can only use one input file.

Instead... we should allow one input file per `positions_with_file`.

[2015-10-07 04:13] mellis13 commented on #5784
Thanks for posting and self-assigning this issue, @friedmud !

[2015-10-07 04:55] YaqiWang commented on #3554
@permcody I am reopen this issue because I noticed few things while I am using it:
1. we currently did not check the element type of remapped blocks. Users could remap two blocks in different element type into the same block, which should be error out during extrusion but not now;
2. Is the layer numbered from 1 or 0? If the layer number is bigger than the maximum layer number, will the extruder e

[2015-10-07 10:56] jwpeterson commented on #1777
This seems really picky, but according to the answer here: http://stackoverflow.com/questions/9563600/what-exactly-is-a-side-effect-in-c

"Accessing an object designated by a volatile glvalue (3.10), modifying an object, calling a library I/O function, or calling a function that does any of those operations are all side effects, which are changes in the state of the execution environment."

And de

[2015-10-07 14:26] jessecarterMOOSE opened #5786 "implement "end" for timestep parameter in SolutionUserObject"
Allow user to pick last timestep of Exodus file by supplying "timestep = end" (or something similar) when using a SolutionUserObject. This would make it consistent with the restart system and initial_from_file_timestep. See below.

https://github.com/idaholab/moose/pull/5754
https://github.com/idaholab/moose/issues/5748

[2015-10-07 14:31] permcody commented on #3554
OK - I'll reopen the issue but it may take some time for me to get to it. I'm currently reworking all of the parsing stuff that you've asked for :)

[2015-10-07 15:36] dschwen opened #5787 "Integate PyCALPHAD in the phase field module"
I just met @richardotis, the developer of https://github.com/richardotis/pycalphad at a conference. This package can give us free energy expressions from standardized TDB CALPHAD data files. The package deals with parsing the database files and can construct an AST for the free energy expression for us. We can translate this into a auto-diffable expression for example using ```ExpressionBuilder```

[2015-10-07 16:20] richardotis commented on #5787
It was a pleasure meeting you as well @dschwen. The way I would recommend doing this is using the `pycalphad.Model` class to build the AST for a particular phase ( http://pycalphad.readthedocs.org/en/latest/api/pycalphad.html#module-pycalphad.model ). You can then access the `Model.energy` or `Model.ast` attribute to get a SymPy object which represents the molar Gibbs energy. From there you can ei

[2015-10-07 18:01] dschwen commented on #5787
I changed the title as we may as well add pycalphad to the redistributable package (we use miniconda). That would take care of dependencies, such as sympy.
I'm looking into transforming the SymPy AST into the tree structure that I need for my automatic differentiation. Should be straight forward. Mike (@tonkmr) mentioned you were worried about conditionals (e.g. stitched different functional forms

[2015-10-07 19:48] #5784 closed

[2015-10-07 21:05] dschwen commented on #5787
Starting from the ```ccode``` printer I'm working on a SymPy printer that generates an [FParser](http://warp.povusers.org/FunctionParser/fparser.html) expression for the free energy.

[2015-10-07 21:19] YaqiWang commented on #3961
I hate to say this, but I have to go a little further on this two material property interface. I need this in another case, where I have to have this capability. I will send in a PR shortly.

[2015-10-07 21:23] dschwen commented on #5787
ff398ba is a proof of concept. I need to fix the precedence of the pow operator (which is not an issue in C, as it is a function).

[2015-10-07 22:43] permcody opened #5792 "Request: restart_file_base should support "END""
We recently implemented this for initial conditions #5754, and plan to do it for `SolutionUserObject` as well #5786. We should probably add it for restart file base as well. It's one of those annoying things you have to check each time you do restart on the "Part 2" run.

[2015-10-08 02:53] dschwen commented on #5787
Ok, I can now load a TDB database, construct a Model class, and convert the ast to FParser syntax. If I do this for the AlFe database and the _LIQUID_ phase I get

[code]

which seems to be a good start. I'll need to figure out a way to map the variables (looks like the phase concentrations are prefixed with the phase name.

It also looks like as if the piecewise defined free energies for differen

[2015-10-08 13:43] friedmud commented on #5787
No.  You are creating a monster that we cannot hope to support.

The more of this kind of thing you bolt on the less likely anyone will be able to build or use our software.

One of the reasons for the success of MOOSE is keeping down external dependencies... Especially the "calling Python from C++" kind.

I have worked on these massive Frankenstein codes with thousands of pieces glued together...

[2015-10-08 13:55] dschwen commented on #5787
:-D

Ok, gorillas... or how about this: Just let me (or @laagesen) deal with support requests in the phase field module. My plan here is to make this fail gracefully. I do not want to get MOOSE or the phase field module into a situation where the build or execution fail if the python integration does not work.

Thermodynamic database integration ist just something we've been wanting to do _so badl

[2015-10-08 14:17] andrsd commented on #5792
For ICs, we have the solution in a single file and we pick a time step from it.
In this setup, each time step is in its own file. So, do you plan to do `ls` and pick the largest number? That is something I do in my scripts when I use restart. The danger here is that if my re-run of the initial phase has fewer time steps, this will use the older restart feel with the higher number (I have to rememb

[2015-10-08 14:17] permcody opened #5793 "Investigate kernel_coverage_check it doesn't skip all possible checks"
This parameter needs to be looked at a bit more. There are multiple kernel checks.

[2015-10-08 14:24] permcody commented on #5787
https://www.youtube.com/watch?v=hSb7mlz7Hag

On Thu, Oct 8, 2015 at 7:55 AM Daniel Schwen <notifications@github.com>
wrote:

[2015-10-08 14:31] permcody commented on #5792
I'm not forcing you to use "end", I just want to make it possible. Yes, I would retrieve all of the checkpoint files and pick the largest number. I've certainly run into the case you mentioned where the oldest one is stale. If we wanted to be really clever we could check the timestamps and print warnings when the largest wasn't the newest or something. I also considered deleting checkpoints when y

[2015-10-08 14:42] andrsd commented on #5792
I understand that `END` is optional ;-)

So, may be we could have a tag called "LATEST" that would pick the one with the most recent timestamp?

I agree, we should be be deleting file (i.e. doing cleanup for people).

[2015-10-08 14:49] friedmud commented on #5787
Using PyCalphad as a preprocessor to generate input to MOOSE sounds like a really good idea.  For one thing... it means you can do your preprocessing on your desktop machine... and then go run on a supercomputer without needing to have Python working at all on that machine.

Further, you can version control the outputs from the preprocessing step... allowing you to come back and run a problem from

[2015-10-08 14:55] dschwen commented on #5787
Yeah, thinking about it a bit more this really seems to be the way to go as
the preprocessor does have knowledge and can set up a multiphase input
file. We could do this with an action but it would make things way more
opaque.

On Thu, Oct 8, 2015, 10:49 AM Derek Gaston <notifications@github.com> wrote:

[2015-10-08 14:56] dschwen commented on #5787
@permcody must be disappointed now

[2015-10-08 14:57] permcody commented on #5787
Not at all, I have plenty of other stuff to keep me occupied and busy.

On Thu, Oct 8, 2015 at 8:56 AM Daniel Schwen <notifications@github.com>
wrote:

[2015-10-08 15:00] friedmud commented on #5792
LATEST isn't a bad idea for restart.  That's what we already do for recovery by default: https://github.com/idaholab/moose/blob/devel/framework/src/actions/SetupRecoverFileBaseAction.C#L66

What if we just "demote" `restart_file_base`.  Maybe we make a `restart_from` that just points at the directory itself and then it defaults to getting the newest file in the same way `--recover` does...

[2015-10-08 15:04] richardotis commented on #5787
I'm +1 on the loose coupling solution proposed by @friedmud ; it's a lot to ask your users to build the whole scipy stack just to use MOOSE, especially when it's not relevant to most of them.

If you really want deep TDB integration, I have a C++ TDB parser floating around built on the Boost::Spirit library. It's from an unmaintained, pre-alpha version of pycalphad that used a C++ core. However, I

[2015-10-08 16:47] permcody opened #5795 "MOOSE Hangs in Multiapps"
Yikes! It turns out that the `TransientMultiapp::solveStep()` routine has several early exit points where the communicator is left in a swapped state. With the latest additions to the restart and recovery routines, we definitely need to make sure that MOOSE is left in a sane state so that it can recover after failure. I'll fix this.

[2015-10-08 17:04] YaqiWang opened #5796 "Make GeneratedMesh able to assign block IDs for all elements"
This will be handy for creating multiple-block tests and I can remove GeneratedBIDMesh in Yak. Assign this to me.

[2015-10-08 18:24] dschwen commented on #5787
@richardotis the generated variables names follow the schema _phase,number,constituent_. Is the number a sublattice index or why can we have multiple concentrations of the same constituent?

[2015-10-08 18:37] richardotis commented on #5787
You are correct that it is a sublattice index. The variables are sublattice site fractions. For single-sublattice phases like the liquid, the site fraction is equal to the mole fraction.

On Oct 8, 2015 2:24 PM, Daniel Schwen <notifications@github.com> wrote:

@richardotis<https://github.com/richardotis> the generated variables names follow the schema phase,number,constituent. Is the number a subl

[2015-10-08 19:06] #5516 closed

[2015-10-08 21:24] #5795 closed

[2015-10-08 21:37] andrsd opened #5800 "Picard and FunctionDT do not work together"
Sample problem is at 6b6a9c2689161cd4b6d4f6a6d047e39be8a25c0f

Without picard, the time steps are: 0.1, 0.1, 0.2, 0.4, ...
With Picard on, they are: 0.1, __2e-14__...

[2015-10-08 21:38] andrsd commented on #5800
I'll try to resolve this issue myself...

[2015-10-08 21:59] gambka opened #5801 "Interleaving of Error Messages"
As discussed here https://groups.google.com/forum/#!topic/moose-users/TZCkZOYJICo certain error messages should be printed on rank0 to avoid error message interleaving.

The example I presented was interleaving of the:

Solve failed and timestep already at dtmin, cannot continue!

Error message.  I have also experienced the interleaving on the unused parameter in your input file error as well.

[2015-10-09 00:15] laagesen commented on #5728
Was missing a negative sign in `KKSACBulkF`. Correcting it has eliminated `slightly off` warnings when checking with only the `KKSACBulkF` kernel on. Still getting error when both `KKSACBulkF` and `KKSACBulkC` are activated, but I think it might be due a a very small difference between the `computeQpOffDiagJacobian` calculation (magnitude 0.000000) compared with the finite difference calculation (

[2015-10-09 14:35] friedmud opened #5804 "Better stateful material property initialization"
#5733 is changing things in `initialSetup()`... but for now we must do initial setup of stateful material properties _after_ initial userobject computation (which is just wrong first of all).  I don't know why this is... and it needs to be undone.

Initial computation of stateful material properties should be done _before_ restoration of restartable data to allow for adding new stateful material p

[2015-10-09 15:16] jwpeterson commented on #5801
We decided to add a `mooseConsoleError()` macro to handle this issue.  It will be the same as `mooseError()` but print to the `_console` instead.  Both macros should be implemented in terms of a common third macro since `mooseError()` is non-trivial.

[2015-10-09 16:13] friedmud commented on #5795
No - the communicators are not being swapped anymore. The only thing those
routines do is possibly change PETSc options.

If you were seeing a hang this probably wasn't the cause of it.

Derek
On Thu, Oct 8, 2015 at 5:24 PM John W. Peterson <notifications@github.com>
wrote:

[2015-10-09 16:16] friedmud commented on #5795
Actually - I just looked... and we are swapping something... I don't know
why we're still doing that though... because we give each PETSc object its
own real comm now. I think this is only necessary during options setting. I
should probably revisit that.
On Fri, Oct 9, 2015 at 12:13 PM Derek Gaston <friedmud@gmail.com> wrote:

[2015-10-09 16:31] permcody commented on #5795
Well we had a discussion with Dmitry about this. Even if each PETSc object
has it's own comm, there's no notion of a localized Options DB in PETSc.
That's actually a little problematic because if we really do want to have
different PETSc options on different Multiapps, we have to set them in the
Global database then reset them again for each multiapp (asking SNES to
load options from the global DB

[2015-10-09 17:17] friedmud commented on #5795
It's not really true. There is a proper way to do this with PETSc... We
just don't use it. The right way to do it is with prefixing:
http://www.mcs.anl.gov/petsc/petsc-current/docs/manualpages/SNES/SNESSetOptionsPrefix.html

It lets you create a "namespace" for PETSc options so that different solves
can have their own database.

If we would actually use that capability than this kind of thing can

[2015-10-09 17:20] permcody commented on #5795
Cool! That's exactly what we need

On Fri, Oct 9, 2015 at 11:17 AM Derek Gaston <notifications@github.com>
wrote:

[2015-10-09 19:33] dschwen opened #5806 "Add a physical FluxBC"
Investigate if a boundary condition for setting ```_grad_u*M``` exist and whether it supports ```M``` that are functions of nonlinear variables (this will affect the Jacobian of such a BC).
If it does not exist it might be a handy addition to the phase field module, allowing us to impose a flux of a species through a simulation cell.

[2015-10-09 20:29] permcody opened #5808 "Bug in restart/recover somewhere when adding a [Problem] block"
I've been attempting to track down a really nasty bug that shows up if you introduce a `[Problem]` block in the restart problem. I've traced it to the line in `FEProblem::initialSetup()` where the resurrector is used to load data. I've looked to make sure that restart is true and the method is actually being called but have yet to see where the issue is.  The problem is that _dt is set not initial

[2015-10-09 20:30] permcody commented on #5808
BTW - This problem persists with your current Multiapp restart branch.

[2015-10-09 20:39] #5796 closed

[2015-10-09 21:01] friedmud commented on #5808
Ok - I'll check it out tonight

On Fri, Oct 9, 2015 at 4:30 PM Cody Permann <notifications@github.com>
wrote:

[2015-10-09 21:10] permcody commented on #5808
Lol - So I have an input file patch to the sifgrs test file that works with your https://github.com/idaholab/moose/pull/5733 branch but only if I set the flag  `use_legacy_uo_initialization = false` for that test. However, that currently can't be done because adding a [Problem] block in order to disable the legacy flag triggers this issue's bug #5808.

[2015-10-09 21:12] permcody commented on #5808
Still looking for this bug because if we can fix, we can merge #5733 without additional hacks or mods. I suspect that adding the `[Problem]` block is triggering some object or Action a little earlier affecting the restartable data in some unintuitive way.

[2015-10-09 23:53] lindsayad commented on #869
Any progress on this issue? If not, I'm going to attempt to implement this. If successful (a pretty significant if), I can submit a PR

[2015-10-10 01:42] friedmud commented on #5808
WTH.  I don't get it.  Still looking....

[2015-10-10 02:20] friedmud commented on #5808
Ok - the issue is the naming of the FEProblem.  It forms part of the basis of the unique name of restartable data.  The default name is *blank* without a `[Problem]`.  With a `[Problem]` block it defaults to `Problem`.

If you were to have the `[Problem]` block in both the first and second input files you would be fine.  Adding it in the second one changes the name... and so the data doesn't match

[2015-10-10 14:40] permcody commented on #5808
Interesting.
On Fri, Oct 9, 2015 at 8:20 PM Derek Gaston <notifications@github.com>
wrote:

[2015-10-10 19:43] dschwen commented on #5806
There is a ```FluxBC``` base class in framework and derived from it a ```DiffusionFluxBC``` which corresponds to the ```Diffusion``` kernel (no mobility at all). The heat conduction module has a ```HeatConductionBC``` (also derived from ```FluxBC```), which adds a _constant_ mobility (conductivity) factor.

So, I guess we need a ```CahnHilliardFluxBC``` that implements the Jacobians for variable d

[2015-10-11 21:12] WilkAndy commented on #5667
Is anyone working on this currently?  Last night i had an idea that i could implement some sort of "initial guess" at the solution to the return map.  For things like J2 this would actually be the exact solution, and for more complicated models it could be an approximate solution.  Then with careful coding, the nrStep (and line search, etc) could be bypassed if this initial guess was good enough.

[2015-10-11 21:32] sapitts commented on #5667
I should be completing the implementation of isotropic J2 plasticity ( a
direct translation of the combined creep + plasticity model from solid
mechanics) which Pritam mentioned, but I have not had a chance to work with
the code at all as of late.  I'd be quite interested to see your "initial
guess" code for the J2 case.

On Sun, Oct 11, 2015 at 2:12 PM, Andy Wilkins <notifications@github.com>
wro

[2015-10-11 21:34] dschwen commented on #5667
Rachel Waxman is working on radial return mapping. Check with her.

On Sun, Oct 11, 2015, 3:32 PM Stephanie Pitts <notifications@github.com>
wrote:

[2015-10-12 00:50] WilkAndy commented on #5667
Hey Rachel (@waxmanr) , what's the status of your work?  i'm super slow on this stuff, because can only work during the evenings.  i don't want to double-up on your work!

I've obviously thought of this stuff before, but had forgotten.  You'll see that each TensorMechanicsPlasticXXXX UserObject can override a function called activeConstraints.  One of the things that function can return is "return

[2015-10-12 10:48] WilkAndy commented on #5667
I just spent 30mins looking into this further, and am pretty confident we could tackle it this way.  We can re-write ComputeMultyPlasticStress::elasticStep to use a new function TensorMechanicsPlasticXXXX::returnMap.  That function does the return-map for that particular plastic model (e.g. radial return for J2): it calculates the returned stress, the plastic-multiplier increment, the change in in

[2015-10-12 14:18] waxmanr commented on #5667
Hi @WilkAndy: I have written a radial return map function (overriding nrStep and also the consistent tangent operator, if it's not set to elastic). So far, with the elastic flag set, it's reduced run time by about 40% for J2 (4x4x4 gen-mesh, 50 time steps). I have pushed my code to my repo, but not created a PR yet. We were waiting to see if any other changes could be made to speed things up more.

[2015-10-12 15:41] permcody commented on #869
Nobody has had time to work on this. Please feel free to implement it, if
you have questions or need guidance, let us know.

On Fri, Oct 9, 2015 at 5:53 PM Alex Lindsay <notifications@github.com>
wrote:

[2015-10-12 20:18] YaqiWang opened #5814 "Suppressing a non-exist parameter does not issue a warning"
I make a typo in my code which is trying to suppress a parameter does not exist. There is no error or warning. I think I should report this. It only affects the parameter dump and does not affect the calculation though.

[2015-10-12 21:05] #5808 closed

[2015-10-12 22:36] WilkAndy commented on #5667
That's really great progress, @waxmanr .  I really encourage you to do a PR.  I won't have time to review your code until tonight at the earliest (>12 hours from now).  Now perhaps i don't have to do anything!  But perhaps my method outlined above would be computationally faster as less function evaluations would be needed (which can be expensive if you're calculating eigenvalues and so on).  Anyw

[2015-10-13 01:15] WilkAndy commented on #5667
Hi @waxmanr , i had a quick look at your code, and yes, i think it does need refactoring, but at least you've done all the hard work, and stuff just needs rearranging.

Generally, i think that a lot of your additions to ComputeMultiPlasticStress should not actually be in that class, and should be included in TensorMechanicsPlasticJ2, somehow.  The problem is that ComputeMultiPlasticStress is reall

[2015-10-13 14:06] waxmanr commented on #5667
Yes, I agree it should be rearranged. I'm new to both C/C++ and return mapping (saw them both for the first time last month), so I mostly just wanted to get something working.

I will start moving things over to the userObjects today. Once I get that done and working, I'll create a PR so you can take a look.

Also, once I figure out some segfaults / out-of-bounds errors, I'll open an issue for the

[2015-10-13 15:46] dschwen opened #5816 "Clean up phase field module tests"
Remove use of file_base, prettify input files (indenting, removing dead crap, add comments)

[2015-10-13 17:03] permcody opened #5818 "Some Executioner params cannot be set in derived Executioners"
Reported here:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/moose-users/JD4xQ1l_BlE/hrtq4EonDAAJ

It appears that the "CreateExecutionerAction" is managing more parameters than it should. This is interfering with setting parameters in code. Note that setting parameters in the Input file or CLI works fine.

[2015-10-13 17:34] #5695 closed

[2015-10-13 17:57] YaqiWang opened #5819 "Solver type with FD could error out with MAT_NEW_NONZERO_ALLOCATION_ERR"
Even the default value of `Problem::error_on_jacobian_nonzero_reallocation` is false. This can happen when users do not have the exact Jacobian implemented. Because PETSc will call `FEProblem::computeResidual()` to evaluate the Jacobian, so I am suggesting to add
[code]
in `FEProblem::computeResidual()`.

If you agree, I will send a PR for this.

Thanks.

[2015-10-13 20:00] #5800 closed

[2015-10-13 21:56] YaqiWang commented on #5818
Taking this as an opportunity, I feel I should let you know that `l_abs_step_tol` in `CreateExecutionerAction` is never used and should be removed.

[2015-10-13 22:17] WilkAndy commented on #5667
OK cool @waxmanr .  Here's how i reckon we should proceed:

(1) You write your TensorMechanicsPlasticJ2 with a "returnMap" function (write a dummy one into TensorMechanicsPlasticModel), and a "consistentTangentOperator" function.  Call them different names if you like...
(2) I grab your code before you do a PR and attempt to implement my strategy outlined above.  If it works, then you grab that co

[2015-10-13 22:20] WilkAndy commented on #5667
Oh, maybe you just did (1), @waxmanr ?

[2015-10-13 22:26] waxmanr commented on #5667
I did (1) but used nrStep, not radialReturn. I could move everything over from earlier on if you want? The only plus that would offer would be not going through all the deactivate_due_to_ld, etc. Though I think with j2, it just skips those loops/if-statements because everything is false or size-1. nrStep is where the major difference takes place.

The problem is now that I've moved over nrStep to

[2015-10-13 22:34] permcody commented on #5818
Yes I plan to look at all of the params in `CreateExecutionerAction` when this ticket is handled. It's the main problem and most if not all of those parameters belong in the Executioner, not the `Action`.

[2015-10-13 22:53] WilkAndy commented on #5667
Thanks for (1).  Is it OK for you to leave this for the next 12 hours or so, while i try to implement (2)?  I hope to get on to this about 3 hours from now.

Yea, all that deactivate_due_to_ld, etc, shouldn't play any role here at all.  I'm confident we'll get performance gains, and timing will be similar to SolidMechanics once it all pans out.

a

[2015-10-14 02:09] WilkAndy commented on #5667
OK @waxmanr , i've got your branch and am modifying it.  Please don't "push -f" over the top of my stuff for the next few hours,

a

[2015-10-14 04:03] #5375 closed

[2015-10-14 11:34] WilkAndy commented on #5667
I just had lots of fun doing about 8 hours of coding MOOSE !!  Haven't had the chance to do that for ages.  I've just created a PR for you, @waxmanr , which should bring my code into your branch.

The main contribution is ComputeMultiPlasticityStress.quickStep and MultiPlasticityRawComponentAssembler.returnMapAll.  Now it should be pretty easy to implement your own return-map algorithm.

By the wa

[2015-10-14 15:30] YaqiWang opened #5820 "Solve type LINEAR is not doing matrix-free calculations"
In `PetscSupport.C:setSolverOptions(SolverParams & solver_params)`, when solver type is linear, SNES type ksponly is used, but no `-snes_mf` or `-snes_mf_operator` is set. MOOSE's way of setting up a system is that the residual evaluation is assumed to be correct, while Jacobian could be just an approximation. If Jacobian is indeed an approximation and the problem is linear, setting solver type to

[2015-10-14 15:35] dschwen opened #5821 "Spherical mesh issues"
I'm at the CHiMaD workshop at Northwestern right now. One benchmark problem is solbing the PF equations of the surface of a sphere. This revealed a few issues. The mesh is 2D in 3D space.

* Exodus output (@aeslaughter) flattens the mesh to a pancake. Is that output module dropping the z component when outputting a mesh from a 2D problem? Tecplot output is reported to work.
* Mesh refinement seems

[2015-10-14 15:35] YaqiWang commented on #5820
I think we should change the name to JFK (Jacobian-free Krylov). Similarly NEWTON type is a little misleading, it is better to name it to NK (Newton Krylov), FD to FDNK (finite difference Newton Krylov). It is up to you.

[2015-10-14 15:40] YaqiWang commented on #5821
This is like a d-1-dimension block in d-dimensional mesh in mortar method. Can we make the mesh still 3D but all element in it are 2D? We have something similar in radiation transport where 2D unit sphere need to be meshes if we want to do FEM on it. Mesh refinement is special and there has to be some extra work to do to project and prolong the solution.

[2015-10-14 15:43] jwpeterson commented on #5821
The issue here is that MOOSE by default uses the mesh_dimension (which in this case is 2) instead of the spatial dimension for Exodus output.

Exodus.C line 139:
[code]

The fix would be to just make this a Param in the Exodus.C object.

Can you elaborate on this?  The normals can't be screwed up unless the elements themselves are screwed up, and I'm pretty sure @permcody just showed me a problem

[2015-10-14 15:43] dschwen commented on #5821
Refinement would only be an issue if you want to constrain all refined nodes to the surface of the sphere, right? That would be nice though.

[2015-10-14 15:44] andrsd commented on #5820
`ST_LINEAR` is for solving `A * x = b` in a non-linear solver setup.

[2015-10-14 15:45] YaqiWang commented on #5820
I know, but users could provided `A*x-b` but did not provide Jacobian `A` accurately.

[2015-10-14 15:49] dschwen commented on #5821
Ok, I guess we can make it an optional parameter. I'll put in a PR for that.
Here is a screenshot the Olle Heinonen just sent me.

![mesh](https://cloud.githubusercontent.com/assets/202302/10489050/19f8d85a-7261-11e5-9d88-5d4ecb5f6365.png)

It looks like the original elements (outlined in the blue regions) have normals and get shaded by Tecplot, while the refined elements (everything else) is shad

[2015-10-14 15:51] andrsd commented on #5820
That would be a different solver setup, thus it should have a different name.
Correct me if I am wrong, but in `ST_LINEAR` we compute Jacobian and residual once and then PETSc takes over and solves the system. With your modification, we would be evaluating the residual in each linear iteration, thus killing the efficiency of `ST_LINEAR'.

Now, since linear problems are subset of non-linear, why ca

[2015-10-14 15:52] jwpeterson commented on #5821
I think this is a Tecplot+adaptivity issue. Try opening a non-flattened file in Paraview and it should look fine...

[2015-10-14 16:00] permcody commented on #5821
Yes, it is flat but it looks fine in paraview (Exodus output)

On Wed, Oct 14, 2015 at 9:52 AM John W. Peterson <notifications@github.com>
wrote:

[2015-10-14 16:04] permcody commented on #5820
Yaqi, David is correct. We let PETSc solve the system without making
callbacks with ST_LINEAR. You can put print statements in your callbacks to
confirm. That doesn't mean that we should also support some other scheme,
just telling you what we have now.

On Wed, Oct 14, 2015 at 9:51 AM David Andrs <notifications@github.com>
wrote:

[2015-10-14 16:15] YaqiWang commented on #5820
Maybe we should name it as JK (Jacobian Krylov) then. LINEAR does not necessarily mean the Jacobian is exactly assembled. I think the names are confusing.

[2015-10-14 16:16] dschwen commented on #5821
The flatness is a separate issue. @permcody are you saying that paraview shows it as a sphere?

[2015-10-14 16:26] permcody commented on #5821
No, but there really isn't distortion either from the "front on" view. it's
just a projection in 2D space but good luck rotating it :)

On Wed, Oct 14, 2015 at 10:16 AM Daniel Schwen <notifications@github.com>
wrote:

[2015-10-14 16:29] jwpeterson commented on #5820
On Wed, Oct 14, 2015 at 10:15 AM, Yaqi <notifications@github.com> wrote:

May be, but they are documented (I think?) and already used in lots of
input files.  Plus I would argue your proposed names are not that much more
enlightening...

--
John

[2015-10-14 16:53] YaqiWang commented on #5821
If the initial mesh is fine enough and we do not have to put all newly added node on sphere, things will be easy. But if you want to go crazy, you can try implement the exact refinement on sphere...

[2015-10-14 21:02] WilkAndy commented on #5667
Hi @waxmanr , If you need to chat (using our voices i mean, not our fingers), there is a short time when we're both at work (viz in the next couple of hours).  i can ring you if you can't ring me,

a

[2015-10-14 22:20] waxmanr commented on #5667
I did have a couple questions/comments, looking at the code. I ran your new routines and the timing is much improved.

First, the tangent operator: I fixed this, where you had a TODO note (CMPS, around line 237). I just changed your definition from `E_ijkl` to:

`if (_tangent_operator_type == elastic)`
 &nbsp;&nbsp;&nbsp;&nbsp;`consistent_tangent_operator = E_ijkl;`
`else`
&nbsp;&nbsp;&nbsp;&nbsp;

[2015-10-14 23:16] YaqiWang opened #5823 "Add Picard iteration for steady-state executioners?"
We have Picard iteration for Transient, should we add the similar thing in Steady, NonlinearEigen and InversePowerMethod? We need this for Rattlesnake. But if you are against this, I can make derived class in Rattlesnake. Thanks.

[2015-10-14 23:40] friedmud commented on #5823
Well... the ultimate answer to this is over here: https://github.com/idaholab/moose/issues/5229

I have some work done on it here (and more on my laptop that isn't pushed): https://github.com/friedmud/moose/tree/executioner_refactor_5229?files=1

BUT: it's going to be a while before that works (and before I have time to work on it).

I would say: implement what you need in Rattlesnake for now...

[2015-10-14 23:52] friedmud commented on #5820
I like LINEAR the way it is. Note that with LINEAR you can use lots of
different solvers... So "Krylov" doesn't make sense.

As for what you're after Yaqi... I don't understand how it's any different
from JFNK or PJFNK... is it just because you expect the thing to be linear?
I don't think that PETSc has a mode where you do matrix-free mat-vecs in a
linear solver...

Derek
On Wed, Oct 14, 2015 at 1

[2015-10-15 00:03] WilkAndy commented on #5667
I'm not sure about this consistent_tangent_operator (cto) stuff, @waxmanr .  I had a quick look and what you did is fine if quickStep was called from computeQpStress.  However, what if it were called from CMPS::returnMap?  Then the cto might have contributions from surfaces that were active at some stage during the return process, and also you might not even need to calculate it if final_step=fals

[2015-10-15 04:06] WilkAndy commented on #5667
Regarding timings, I get:

 * 5.2s for SolidMechanics (LSH_mod.i)
 * 8.1s for TensorMechanics (j2_hard1_mod.i).
 * 7.1s for TensorMechanics if in computeQpStress, the rotations of  _stress[_qp], _elastic_strain[_qp], and  _plastic_strain[_qp] using _rotation_increment[_qp] are NOT performed.

Given this, i wouldn't be surprised if the difference in runtimes is now not due to return-mapping, but is

[2015-10-15 14:12] waxmanr commented on #5667
Yes, I don't think TM will ever be quite on par with SM, as far as timing. I'll take a look today and see if I can implement what you suggested in your previous comment. I'll let you know what sort of progress I make.

[2015-10-15 15:09] friedmud commented on #5667
Note: we don't need them to be perfectly equal in timings... as long as the
penalty is not egregious. Giving up a little bit of time for better and
more maintainable code that is shared by everyone in the community that is
doing solid mechanics should be fine.

From the timings Andy just posted it looks like there are still a few
things that can be done to bring them even closer to parity... but e

[2015-10-15 15:46] tonkmr commented on #5667
The long term goals of TM is to create "smart" tensors that act like tensors but only store and compute what is necessary for their symmetry. @dschwen is that work still in the plans?

[2015-10-15 15:54] waxmanr commented on #5667
For reference, with the elastic cto and end_time = 0.5 (previous numbers were end_time = 0.1):

-- 34.1s for SM (LSH_mod.i)
-- 52.1s for TM (j2_hard1_mod.i)

So there's still a noticeable difference when the test runs a little longer (the above is 50 time steps).

@WilkAndy: Just to make sure we're on the same page. Apologies if this is a stupid question. `elasticStep` doesn't exist anymore. It's

[2015-10-15 16:00] dschwen commented on #5667
@tonkmr right now it looks like such _smart tensors_ won't be necessary as the actual tensor math does take up a significant fraction of the CPU time. Once @waxmanr and @WilkAndy are done I'll take another look at the profiling results and will try to identify remaining issues.

[2015-10-15 20:32] dschwen opened #5824 "Incomplete inheritance chains on the online Doxygen docs"
Compare the inheritance graph on

http://mooseframework.org/docs/doxygen/modules/classSplitCHParsed.html

with this graph I generated locally (using Doxygen 1.8.10)

![classsplitchparsed__inherit__graph](https://cloud.githubusercontent.com/assets/202302/10526689/f248db56-7351-11e5-99f0-89dd772bddc6.png)

[2015-10-15 23:47] aeslaughter commented on #5824
I believe this was intentional, we don't include moose/framework in the
modules documentation. Just like we don't include libMesh in the MOOSE
doxygen. Perhaps we need more targets.

On Thu, Oct 15, 2015 at 2:32 PM, Daniel Schwen <notifications@github.com>
wrote:

[2015-10-16 00:11] dschwen commented on #5824
```SplitCHBase``` is in the Phase field module. It should show up at least to that class.

[2015-10-16 00:21] friedmud commented on #5824
I don't remember this being intentional... but I could be misremembering.
I would vote for Modules including MOOSE... otherwise you may not even know
what type of object an class is...

On Thu, Oct 15, 2015 at 8:11 PM Daniel Schwen <notifications@github.com>
wrote:

[2015-10-19 04:54] friedmud opened #5826 "Tests and Documentation for NodalKernels"
NodalKernels are being added in #5815 for #3029 .

Currently they have limited testing and documentation.

At the very least some "check error" tests need to be added to catch corner cases and documentation needs to be added to the Wiki.

[2015-10-19 14:54] andrsd opened #5827 "Solution vectors are not restored when solve fails in sub-apps while doing Picard iterations"
When running BISON (master) and RELAP-7 (sub-app), it can happen that RELAP-7 gets into a non-physical region which results in a NaN in the solution vector. MOOSE correctly cuts the time step in a half and tries to resolve, however, the initial vector on RELAP-7 side still has a NaN, so the solve aborts immediately, time steps gets cut again and so on until we reach dt_min.

[2015-10-19 16:05] friedmud commented on #5827
Are you doing subcycling or not?

[2015-10-19 16:06] andrsd commented on #5827
No sub-cycling.

[2015-10-19 16:15] friedmud commented on #5827
All of the calls in `TransientMultiApp` to `incrementStepOrReject()` ultimately call `TimeStepper::rejectStep()` which will call `FEProblem::restoreSolutions()` ( https://github.com/idaholab/moose/blob/devel/framework/src/timesteppers/TimeStepper.C#L207 ) which should do the right thing.

Here are the `incrementStepOrReject()` calls in `TransientMultiApp`:
https://github.com/idaholab/moose/blob/de

[2015-10-19 16:36] friedmud commented on #5827
Are you allowing "catch up steps"?

If not... then the master app should be restoring all MultiApps from `Backup` when the solve of the current step fails... so there should be no need for a solution restore.

[2015-10-19 16:39] andrsd commented on #5827
Here is the block
[code]

The first reference to `incrementStepOrReject` is irrelevant to my case, since it is in the sub-cycling case.

The second one won't be called at all because my `picard_max_its = 3` which sets the `auto_advance` flag to false. See

https://github.com/idaholab/moose/blob/devel/framework/src/executioners/Transient.C#L390

and

https://github.com/idaholab/moose/blob/devel/fra

[2015-10-19 18:30] friedmud commented on #5827
In your case... when the sub-app fails to solve it should fail out in the master app and you should end up here in the master app's Transient Executioner:

https://github.com/idaholab/moose/blob/devel/framework/src/executioners/Transient.C#L307

Those `restoreMultiApp()` calls should wipe any memory of what what RELAP-7 just tried to do and completely reset it back to the state it was in before it

[2015-10-19 20:02] elementx54 opened #5830 "Add a shape fuction parameter to Soret diffusion modules"
Add the shape function to the denominator of the Soret diffusion modules; namely, SoretDiffusion and ThermoDiffusion.

In many applications the shape function is 1. Hence the default value will be 1 which does not require any changes to existing tests. I'm planning on submitting a merge for this since it is pretty simple.

[2015-10-19 20:25] andrsd commented on #5827
I think that was not happening. When RELAP-7 failed, even though the `NonlinearSystem` reported non-convergence, the `_multiapps_converged` variable was set to true. That's why I had to add the else-statement into `TransientMultiApp`. But, when I ran with that I still saw the code to cut the time steps. When I added that `restoreMultiAppsSolutions` it actually finished.

I agree with you that my f

[2015-10-19 20:48] friedmud commented on #5827
Then the issue is that `_multiapps_converged` wasn't right... can you look into that?

I may be able to look into it later tonight if you have a specific example that shows the issue.

[2015-10-19 21:29] tonkmr opened #5831 "Tensor_mechanics example Bridge.i needs to be updated"
The bridge.i example in tensor_mechanics is out of date and won't run.

[2015-10-19 21:54] andrsd commented on #5827
Yes, that's my plan. I'll let you know when I have something.

[2015-10-20 06:33] #5831 closed

[2015-10-20 13:09] roystgnr opened #5834 "adaptivity/cycles_per_step test is overly sensitive"
As uncovered in https://github.com/libMesh/libmesh/pull/680 - in this regression test we solve an essentially 1-D problem but we refine a 2-D grid, so where a column of cells is a borderline candidate for refinement or coarsening, the choice of which cells in that column to refine may end up depending on solver, rounding error, phase of moon, etc.

In the long run I'd like to investigate here (it'

[2015-10-20 13:56] elementx54 commented on #5830
Closed due to advice of including this shape function with the diffusion coefficient. See idaholab/moose#5833

[2015-10-20 13:56] #5830 closed

[2015-10-20 15:00] friedmud commented on #5827
What's the status here?  I'm tied up today until about 12:30PM your time... but I can help this afternoon.

[2015-10-20 15:06] andrsd commented on #5827
I need to do something for RELAP-7 (user support) today. Then, I'd work on it. What I was thinking to do was to replicate this in a simplified `moose_test` setup, where the sub-app would be generating NaNs based on some conditions (specified in and input file). The simulation that was exhibiting this is in mammoth and has to run for quite a while (~ hours) before I hit the bug.

[2015-10-20 15:25] friedmud commented on #5827
Yeah - if you can make up a small example that does it... I can definitely fix it this afternoon.

[2015-10-20 15:50] twh5306 opened #5836 "Executioner not recognized"
I was making some edits to the Parsed_SplitCH file in phase fields, and saved my changes.  When I went to load my edited version in peacock, peacock didn't recognize the executioner.  I opened the file in Atom, and the executioner is still there (totally unchanged from the one in the original file).  It ran separately in terminal just fine, so I think this is a bug in peacock

[2015-10-20 15:53] permcody commented on #5836
Possibly, or it could be a syntax error. Peacock's parser is actually more
picky than MOOSE's parser so if you leave off a closing brace or anything
like that Peacock will fail to read the file but MOOSE will even though
there's a syntax error. Make sure you carefully check all your opening and
closing brackets, quotes and anything else you may have changed.

On Tue, Oct 20, 2015 at 9:50 AM twh530

[2015-10-20 16:02] dschwen commented on #5836
Could you commit the input file? If you put the issue number in the commit message it will show up right here in this issue conversation.

[2015-10-20 16:04] lw4992 opened #5837 "segment fault with example/ex05_amr"
When using example/ex05_amr to test the new adaptivity system on gcc 4.2 with openmpi 1.6.2 , a segment fault occurs, while, everything is OK on gcc 4.8 with openmpi 1.8.4!
In FEProblem.h, `adaptivity()` was turned off,

[code]

however,  `SetAdaptivityOptionsAction::act()` required to call `_problem->adaptivity();`

[code]

Is here issue?

[2015-10-20 16:08] permcody commented on #5837
A segfault is different than a logic error which I'm not sure I see here. I suspect the issue is somewhere else. Have you run this through the debugger yet? Segfaults are the easiest errors to track down.

[2015-10-20 16:44] twh5306 commented on #5836
it is the exact same format and syntax as the original file version, which loads properly.  I have the two files open side by side in atom.  executioners are exactly the same

[2015-10-20 16:45] twh5306 commented on #5836
input file to follow

[2015-10-20 17:07] twh5306 commented on #5836
#
# Example problem showing how to use the DerivativeParsedMaterial with SplitCHParsed.
# The free energy is identical to that from SplitCHMath, f_bulk = 1/4*(1-c)^2*(1+c)^2.
#

[Mesh]
  type = GeneratedMesh
  dim = 2
  nx = 150
  ny = 150
  xmax = 60
  ymax = 60
  elem_type = QUAD4
[]

[Variables]
  [./c]
  [../]
  [./chem_pot]
  [../]
[]

[AuxVariables]
  [./local_energy]
    order = CONSTANT

[2015-10-20 17:07] twh5306 commented on #5836
wouldn't let me attach a file, so above is the code

[2015-10-20 17:09] andrsd commented on #5836
That's why @dschwen wanted you to commit the file in some branch and push it into your fork with referencing this issue number ;-)

[2015-10-20 17:12] dschwen commented on #5836
having it committed would also generate a diff view which might spotting the problems easier...

[2015-10-20 17:15] dschwen commented on #5836
Ha, got it! There is a space in the ```[./total c]``` postprocessor subblock name!

[2015-10-20 17:18] twh5306 commented on #5836
I had no idea that could have been causing the problem, thanks for the catch!!

[2015-10-20 17:21] #5836 closed

[2015-10-20 18:36] permcody commented on #5819
@friedmud - Do you think we need this?

[2015-10-20 19:30] friedmud commented on #5819
@yaqiwang do you have an example that needs this?  It's hard to see how this would happen, but maybe I'm not creative enough

[2015-10-20 19:56] YaqiWang commented on #5819
It will be a rattlesnake example, rattlesnake/tests/1G-Source-Homogeneous-test/exhom_test.i. We can make a moose test, but we need to create a kernel to not assemble the jacobian.

[2015-10-20 20:15] friedmud commented on #5819
It doesn't make sense Yaqi. PETSc only does finite differences to fill in
entries you've told it about... how could you tell it about entries that
don't exist?
On Tue, Oct 20, 2015 at 3:56 PM Yaqi <notifications@github.com> wrote:

[2015-10-20 20:54] andrsd commented on #5827
Initial set of input files. It does not have the behavior that I originally described, but you can see that when the sub app generates a NaN and fails solving, the multi system reports:
[code]
That's all I have for right now.

The original behavior seems to be difficult to replicate, because the NaNs are coming from the EOS package so it is not that easy as `put a NaN in the residual vector`.

[2015-10-20 21:05] dschwen opened #5841 "Refactor MatDiffusion in phase field into an isotropic and an anisotropic version"
I will use the same approach as for the Cahn-Hilliard kernels (template on mobility type).

[2015-10-20 21:26] YaqiWang commented on #5819
I think you are talking about FDP. But FD solve type is building the entire Jacobian if I am understanding correctly. If for example, we have to variables and a kernel coupling them but not providing Jacobian, then our Jacobian will be block diagonal, but the real Jacobian has the off-diagonal part. In this case FDP will still be fine, but FD will not. I did not investigate this very carefully, bu

[2015-10-20 21:36] friedmud commented on #5827
Thanks! That should be good enough... I'll take a look...
On Tue, Oct 20, 2015 at 4:54 PM David Andrs <notifications@github.com>
wrote:

[2015-10-20 21:37] friedmud commented on #5819
What is FD? I was assuming you were talking about FDP. I have no knowledge
of FD....
On Tue, Oct 20, 2015 at 5:26 PM Yaqi <notifications@github.com> wrote:

[2015-10-20 21:41] YaqiWang commented on #5819
oh, that explains your initial question. FD is a solver type, which can be set by `Executioner/solve_type = FD`...

[2015-10-20 21:46] andrsd commented on #5827
So I played with the code a bit. I can fix the problem that `_multiapps_converged` was true, even if the solve failed by adding that else-branch in `TransientMultiApp` (see my PR for diff). I see that the code cuts the time step in a half for the next iteration, but I do not see `rejectStep()` being called. And when printing the solution vector, the initial values are different than the ones in th

[2015-10-20 21:53] andrsd commented on #5819
@YaqiWang Did you try:
[code]
That should allocate your sparse matrix correctly, so you should not need mem-reallocs, which we do not like.

[2015-10-20 22:04] YaqiWang commented on #5819
@andrsd That indeed fixes the problem. Can we do this
[code]
automatically for FD?

[2015-10-20 22:17] andrsd commented on #5819
That sounds reasonable...

[2015-10-20 22:18] dschwen commented on #5824
To reiterate, even ignoring framework the current inheritance diagram is _incomplete_. The example is missing ```SplitCHCRes``` and ```SplitCHBase```.

[2015-10-20 22:29] YaqiWang commented on #5819
How about this in `FEProblem::init()`
[code]

[2015-10-20 22:35] permcody commented on #5819
I'm not sure I'm crazy about all the broken up logic here. We are creating a cm, then deleting it, then immediately creating it again all in one routine. How about we get rid of that switch statement and just replace it with an "if" statement instead to handle the right combination of cases all at once?

[2015-10-20 22:40] friedmud commented on #5819
Can someone show me where this "FD" thing got added to the code?  It's
completely news to me that it even exists!

What does it do differently from FDP?

Derek

On Tue, Oct 20, 2015 at 6:35 PM Cody Permann <notifications@github.com>
wrote:

[2015-10-20 22:41] friedmud commented on #5827
It does... I'm digging in now.  I'll let you know soon.

On Tue, Oct 20, 2015 at 5:46 PM David Andrs <notifications@github.com>
wrote:

[2015-10-20 22:45] YaqiWang commented on #5819
Should be `PetscSupport::setSolverOptions()`? I am not hundred percent sure.

To reply @permcody ,

I think this will be better, (sorry for being lazy putting this here instead of sending a PR)
[code]

[2015-10-21 00:00] friedmud commented on #5827
I have this figured out.  Working up a PR now with a test...

[2015-10-21 01:52] friedmud commented on #5827
Ok - fix is in.  This ended up being a _few_ issues all piled up:

1.  We weren't correctly returning that the sub-app failed in the case where we weren't doing sub_cycling or catch-up steps (most likely because I never use this! ;-)

2.  Even if we were... we weren't taking the correct action in Transient Executioner.  The issue is that we were in the Picard loop... and we didn't exit if multiapp

[2015-10-21 14:49] jwpeterson commented on #5819
@permcody found the commit: 6ddc778678d45b2, but I don't recall making it :-)

Based on the [docs](http://www.mcs.anl.gov/petsc/petsc-current/docs/manualpages/SNES/SNESCreate.html) it sounds like it might be an alternative to both matrix-free and full Newton methods, where the Jacobian matrix is fully assembled using finite differencing.  Using this and FDP together seems like a very slow and redu

[2015-10-21 14:54] andrsd commented on #5819
I still think this should be in SMP, not in `FEProblem`. That's where we build the `CouplingMatrix`and you have the `solve_type` available. And what you are trying to do, @YaqiWang, assumes single matrix, not block diagonal or anything else.

[2015-10-21 15:43] jiangwen84 opened #5845 "fixed an issue in FiniteStrainCrystalPlasticity"
One test in Grizzly failed because of recent change in FinteStrainCrystalPlasticity. I fixed this issue in FiniteStrainCrystalPlasticity.C and regolded crysp_cutback test.

[2015-10-21 15:47] roystgnr commented on #1777
Nope.  Here "volatile" doesn't mean "the opposite of const", it means "one of those crazy things that systems programmers use to warn the compiler about memory that changes by itself or triggers I/O".  And since the compiler is allowed to assume that an unqualified pointer points to a non-volatile memory address, it can assume that a simple dereferencing of it (where no assignment follows) doesn't

[2015-10-21 16:11] #5827 closed

[2015-10-21 16:12] friedmud commented on #5819
@jwpeterson hah!  Thanks for pointing me to it.

So... this does FD without even needing to build a Jacobian?

[2015-10-21 17:17] dschwen opened #5847 "Clean up class templates in phase field"
When a parent class is added to the inheritance chain through templating, its members are accessed by prefixing them with ```this->```. This can be avoided by adding ```using``` statements to the class as in ef08dad. I should do this for the Cahn-Hilliard base classes as well.

[2015-10-21 18:51] dschwen commented on #5824
Ping @milljm, can you help with that?

[2015-10-21 18:51] #5845 closed

[2015-10-21 19:03] dschwen opened #5850 "Generalize CompositeMobilityTensor and use it for Elasticity tensors as well"
I want to transform ```CompositeMobilityTensor``` (just merged) into a template base class, that can be templated on different tensor types (different ranks). This would allow me to use it to generate ```RankFourTensor``` objects at no extra code cost. We need this as a way to construct variable dependent tensors.

The new base class template would have to live in Tensor Mechanics (which is includ

[2015-10-21 19:55] permcody commented on #5792
I'll work on this.

While I like the idea of just pointing to the directory, I'm not so sure I want to support both syntaxes. It'll just lead to confusion. If we weren't already down this path, I might consider it. Let's go with END and LATEST for now and see how users respond.

[2015-10-21 21:05] YaqiWang commented on #5129
We should fix this issue soon. We basically need to restore the old state after power iterations.
Or maybe we can come up a even better way on doing power iterations, then we do not need to '_problem.transient(true);' for eigen executioners.

[2015-10-21 21:15] permcody commented on #5714
I just chatted with @YaqiWang and @snschune. It looks like none of the Eigen-Executioners support "restart" right now. For one thing they don't set the `restart_file_base` in their Executioners so nothing happens on the problem side. I guess that's a good thing since we won't have to worry about backwards compatibility when we move this. Also, this may have something (everything) to do with why #5

[2015-10-21 21:21] andrsd commented on #5714
@permcody I won't be able to work on this because of the RIA problem ;-( So go ahead...

[2015-10-21 21:29] permcody commented on #5714
I bet you wish you were "through" with the Ria problem...
"through" -> dia
So more like "dia-ria"... :imp:

[2015-10-21 21:36] bakeba opened #5852 "HeatConductionTimeDerivative"
Density and specific heat cannot take on general names.

[2015-10-21 22:47] YaqiWang commented on #5819
We did this to make FD user friendly. FD is not related with SMP in any way.

[2015-10-21 22:48] YaqiWang commented on #5819
Yes, no MOOSE::compute_jacobian is called with FD.

[2015-10-22 03:46] friedmud commented on #5819
Then how does it generate an error about filling in wrong Jacobian entries?
Is it still filling a matrix behind the scenes? If so - how does it decide
what entries to fill in?
On Wed, Oct 21, 2015 at 6:48 PM Yaqi <notifications@github.com> wrote:

[2015-10-22 03:50] friedmud commented on #5792
Three options: END, LATEST, FINAL

We need to pick one... the "execute_on" options already use FINAL...
On Wed, Oct 21, 2015 at 3:55 PM Cody Permann <notifications@github.com>
wrote:

[2015-10-22 13:54] permcody commented on #5792
Well, we already used END for ICs that read a timestep from a file and I have a PR in for doing the same in SolutionUserObject #5842. END makes sense for those two cases. This one with the restart is where things get tricky because of stale files hanging around that might be older but have a higher number. "LATEST" makes better sense for that case.

[2015-10-22 13:57] andrsd commented on #5819
Doing:
[code]
Is exactly what `SMP`, `full = true` does. If you add your logic there, your input would be:
[code]
Do you think this is __not__ user friendly?

[2015-10-22 14:07] permcody commented on #5819
That's not bad, but people are pretty used to putting their `solve_type` in the Executioner block so at the very least, it's an extra step to add the `[Preconditioner]` block to avoid this error. Also, there's tons of confusion surrounding a preconditioner of `FDP` versus a solve type of `FD`. Hell, I'm not sure I fully grasp the subtle differences. We need to present a unified interface to our us

[2015-10-22 14:17] permcody commented on #5852
True, most of our kernels don't allow that. We only recently added that capability to supply names of material properties through the input file. Are you planning on making this change? Is there someone running into an issue? This is an old class so I'm a little hesitant to change it unless there is a specific need.

[2015-10-22 14:39] bakeba commented on #5852
Andrew said he would change it really quickly if I submitted it as an
issue. So, I did.

Benjamin Baker
PhD Nuclear Science & Engineering
Idaho National Laboratory
phone: 208.526.1078
email: benjamin.baker@inl.gov

On Thu, Oct 22, 2015 at 8:17 AM, Cody Permann <notifications@github.com>
wrote:

[2015-10-22 14:39] #5814 closed

[2015-10-22 14:42] #5818 closed

[2015-10-22 14:53] aeslaughter commented on #5852
The companion class "HeatConduction" already does this, it only makes sense
that the time derivative class would support his as well. I am doing it now.

On Thu, Oct 22, 2015 at 8:39 AM, bakeba <notifications@github.com> wrote:

[2015-10-22 15:16] YaqiWang commented on #5819
I think we need to document this more carefully. `solve_type=FD` will disable preconditioning block, PBP will disable all other solve types except JFNK (if i am understanding correctly). This kind of things is not mentioned in our docs. I also do not like `line_search`, `petsc_options`, `petsc_options_iname`, `petsc_options_value`, `solve_type` in preconditioners. We are not prefixing the names in

[2015-10-22 17:07] #5852 closed

[2015-10-22 18:26] #5786 closed

[2015-10-22 19:12] aeslaughter opened #5857 "Provide overwrite flag for Exodus output"
Create a flag for overwriting latest timestep to Exodus.

[2015-10-22 20:39] dschwen opened #5859 "getMaterialProperty does not fail gracefully if requesting a non-existing property"
Demonstrated in 9aa75d598. This is quite a doozey!

[2015-10-22 23:20] #5857 closed

[2015-10-23 03:30] WilkAndy opened #5861 "Quick 2-phase porous flow"
I want to experiment with creating a quick 2-phase porous flow set of Kernels, Material, BCs, etc.  This will be a simplification of the current Richards multi-phase flow with the following assumptions:

 - there are exactly 2 phases
 - the capillary suction function is exactly zero.

I will choose (P, Sgas) as my two variables.

The point of this is that with capillary suction ~ 0, the present Ri

[2015-10-23 16:07] #5806 closed

[2015-10-23 16:13] dschwen opened #5862 "Support for CALPHAD free energies with sublattice compositions"
In #5787 a small code based on pycalphad was added to MOOSE. This code allows exporting free energy expressions from TDB files for use in MOOSE. CALPHAD uses the concept of _sublattice compositions_, whereas the phase field equations operate on the _total composition_ fields. Two problems need to be solved:
- [ ] Constrained minimization of the free energy density with respect to the sublattice co

[2015-10-23 16:13] dschwen commented on #5787
Closing this. I opened the follow up issue #5862 with the remaining points that need to be addressed.

[2015-10-23 16:13] #5787 closed

[2015-10-23 16:57] richardotis commented on #5862
pycalphad already has both of those features but, as was discussed in the previous issue, you probably don't want to force the Python stack into high-performance compiled loops. I'd be happy to provide you detailed information on the numerical methods (there are some gotchas not yet published in the literature), but for deep integration I think you may be best going with OpenCalphad, a separate GP

[2015-10-23 17:13] dschwen commented on #5862
I thought as a first step I export the mole fraction constraint equation from pycalphad and use a Lagrange Multiplier kernel (similar to the [multiphase stuff](http://mooseframework.org/wiki/PhysicsModules/PhaseField/DevelopingModels/MultiPhaseModels/#lagrange-multiplier-constraint)) to minimize sublattice concentrations. I guess I still have to figure out the part where I compute the chemical pot

[2015-10-23 17:25] YaqiWang opened #5863 "User object initialSetup() will be called multiple times on initial"
if it is executed on multiple occurrence, like `initial timestep_end`. I do not think this is desired behavior. This issue could be invalid because users can protect their code with a flag `initialized`. But this behavior may not be expected by user.

[2015-10-23 17:37] #5847 closed

[2015-10-23 17:49] richardotis commented on #5862
The chemical potentials are the Lagrange multipliers of the overall mass balance constraints.

[2015-10-23 18:22] dschwen commented on #5862
Ahh, I see. That leaves the challenge of obtaining their derivatives and
second derivatives. For the Jacobians.

On Fri, Oct 23, 2015, 11:49 AM Richard Otis <notifications@github.com>
wrote:

[2015-10-23 20:25] acasagran opened #5865 "Adding contact tests"
Planning to add multiple sets of contact tests with simple geometries and analytical solutions. These tests will use the constraint system and cover various combinations of friction model and formulation.

[2015-10-23 20:54] jbair34 opened #5867 "Measure Interface energy in phase field models"
A simple 1D simulation should be created for the phase field module examples folder which is able to accurately determine the interface energy between two phases.

[2015-10-23 20:59] jbair34 commented on #5867
@dschwen should review and approve this example.

[2015-10-24 04:43] dschwen commented on #5867
Jake, you have a libmesh submodule update commit in this PR. Can you please remove it?

[2015-10-24 04:46] dschwen commented on #5867
Jake, you have a libmesh submodule update commit in this PR. Can you please remove it?

[2015-10-24 04:47] dschwen commented on #5867
Jake, you have a libmesh submodule update commit in this PR. Can you please remove it?

[2015-10-24 04:47] dschwen commented on #5867
Jake, you have a libmesh submodule update commit in this PR. Can you please remove it?

[2015-10-24 04:48] dschwen commented on #5867
Jake, you have a libmesh submodule update commit in this PR. Can you please remove it?

[2015-10-24 04:49] dschwen commented on #5867
Jake, you have a libmesh submodule update commit in this PR. Can you please remove it?

[2015-10-25 06:03] lw4992 commented on #5837
example/ex05_amr called `ErrorFractionMarker` as `marker'. The segfault was caused by `addRangeCheckedParam`, which did not work correctly on gcc4.1.2. Maybe, it was  `fparser`'s falut.
[code]

[2015-10-26 14:45] permcody commented on #5837
What OS/system are you on?

GCC 4.1.2 is from 2007!. Maybe try updating to a compiler built in this
decade?

On Sun, Oct 25, 2015 at 12:03 AM LIU Wei <notifications@github.com> wrote:

[2015-10-26 15:07] jwpeterson commented on #5837
On Mon, Oct 26, 2015 at 8:45 AM, Cody Permann <notifications@github.com>
wrote:

Sounds like an OSX system GCC from before they switched 100% over to clang.

Both libmesh and MOOSE are known to not work with this compiler and to
produce very weird segfaults, in fact it was one of the reasons we started
building the MOOSE redistributable package....

--
John

[2015-10-26 15:55] aeslaughter opened #5869 "Remove threaded copies of InputParameters"
Ideally, since InputParameters are now stored in `MooseObject` objects as a `const` reference the need for threaded copies of parameters is not necessary. In practice, this is more challenging and raises a few serious questions.

For this conversation, lets consider `Indicators`, which are created by `FEProblem::addIndicator` as follows:

[code]

Notice, that there are thread dependent values of p

[2015-10-26 15:56] aeslaughter commented on #5869
@permcody @friedmud @jwpeterson @brianmoose @andrsd please look and discuss this.

[2015-10-26 16:14] permcody commented on #5869
Just checking... Can we still store references to material properties in our objects if you set the `MaterialDataInterface` after construction?

I'm not too picky about the name, are you sure we even need a new class? Why not just add existing methods to the `MaterialPropertyInteface`? I mean, it seems you always need them both or none of them, unless you have a case where you need one and not the

[2015-10-26 16:30] friedmud commented on #5869
Meh - all sounds too complicated for marginal gain.  Just keep threaded copies.

Remember: basically -4% of people run threaded anyway... no reason to try to optimize this to death.

[2015-10-26 16:59] aeslaughter commented on #5869
@permcody
"Note, MaterialPropertyInterface will not work because it isn't always a part of the inheritance chain (maybe it should be, but that is a different problem)."

[2015-10-26 17:39] permcody commented on #5869
Right but when would you need you MaterialDataInterface when MaterialPropertyInterface is _not_ there?

[2015-10-26 17:49] aeslaughter commented on #5869
I would try to use MaterialPropertyInterface, if we do this.

[2015-10-26 18:53] #5869 closed

[2015-10-26 19:53] lindsayad commented on #869
If I have questions, should I post here, in moose-users, or elsewhere?

I'm curious whether there's a good reason for setting _boundary_id as a private parameter in DGKernel.C? I don't have much of a plan yet, but that seems like it might be a decent parameter for indicating whether you want a child of DGKernel restricted to a boundary (meaning an interfacial or global boundary as opposed to a bou

[2015-10-26 20:07] dschwen commented on #5867
Please squash into one commit and open a PR

[2015-10-26 20:08] dschwen commented on #5862
This might work for the derivatives:
http://mooseframework.org/wiki/PhysicsModules/PhaseField/CALPHAD/CalphadDerivations/

[2015-10-26 20:16] sundmanbo commented on #5862
Richard included me in this discussion recently and I do not know if he has
suggested you look at my paper published in Comp.Mat.Sci, Vol 101 (2015), p
127-137.  That describes a complete minimizer used in the Open Calphad
software.  You can download the latest version from the opencalphad
repository at github.  It has an isoC interface and use OpenMp for
parallelization.

Best wishes

Bosse

2015

[2015-10-26 21:00] permcody commented on #869
I'm not an expert on that class but I believe it's not an ID per se. It's more of a type in that context. It's used to indicate that we are on an internal boundary vs any actual boundary.

[2015-10-26 21:27] lindsayad commented on #869
As far as I can tell for my purpose, the biggest conceptual difference
between ComputeResidualThread::onBoundary and
ComputeResidualThread::onInternalSide is that onBoundary takes an
additional argument, bnd_id, that is used (among other things) to
determine what IntegratedBCs are active on that bnd_id, e.g.:

   _sys.getBCWarehouse(_tid).activeIntegrated(bnd_id, bcs);

However, with onInternalSid

[2015-10-26 22:26] jasondhales opened #5871 "Need underscore in MatProp name"
The MaterialProperty "deformation gradient" should have an underscore instead of a space between words.  This change will align with the convention used in other names.

[2015-10-26 23:32] jasondhales opened #5873 "Add options to RankTwoScalarAux"
Add options to RankTwoScalarAux like those in MaterialTensorCalculator.

[2015-10-27 15:33] #5871 closed

[2015-10-27 16:51] permcody opened #5875 "Make sure we always see the command printed in the TestHarness"
This thread makes we wonder if there's an edge case where we don't see the command that's run in the TestHarness. We should always see the command that's about to run:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/moose-users/4x6SbjNIV3Y/2zqBWY4bAQAJ

[2015-10-27 19:15] permcody opened #5877 "Restart + Recover"
Make these two work together.

We'll have a need for running a restart test with recover in the future. While this currently "works" in that it runs, it doesn't seem to quite do the right thing all the way around. When both a restart and recover file exists, one has to take precedence over the other. It shouldn't be too hard to fix this, but the current tests don't quite do the right thing.

[2015-10-27 19:42] #5649 closed

[2015-10-27 19:52] #5850 closed

[2015-10-27 21:52] gambka opened #5880 "Which PiecewiseLinear file is causing the error"
I have a bunch of PiecewiseLinear functions in my input file and at run time I'm getting the

x-values are not strictly increasing error.

Is there a way to print out the name of the function that the error is occurring in?  If not could this capability be added?

[2015-10-27 22:16] permcody commented on #5880
Currently no, but it wouldn't be difficult to add so I'll add a few notes for whoever gets to it first.

The `LinearInterpolation` class is where this error comes from. It's a utility class so it's meant to be useable outside of MOOSE theoretically. For the most part it is with the exception of the call to `mooseError`. I propose that we make this into a true utility by removing the mooseError and

[2015-10-27 22:19] gambka commented on #5880
In addition, if we are checking all the values in the various PiecewiseLinear functions would it be much more difficult to go further and say what line or what value is leading to the error?

[2015-10-27 22:21] permcody commented on #5880
That part would be very easy.

[2015-10-28 14:14] waxmanr commented on #5667
Run times after recent changes (my computer is feeling quick today):

| end_time 	| TM J2  	| SM LSH 	|
|----------	|--------	|--------	|
| 0.1      	| 5.575  	| 3.492  	|
| 0.5      	| 35.556 	|    21.1825    	|

Also added an exponential hardening test (j2_hard2_exp.i) to check von mises stress vs equivalent plastic strain for exponential relationship (looks as it should). Will re-gold when this

[2015-10-28 14:26] dschwen commented on #5667
@waxmanr what are the input files for "TM J2" and "SM LSH"?

[2015-10-28 14:31] waxmanr commented on #5667
@dschwen: Yes.

I've been looking at run times for some of the other files (e.g., j2_hard2_exp.i), but it's not really fair to compare those to solid mechanics. Once a PR is created for this (eventually...), I'll clean up the directory & get rid of some of the old stuff we were checking.

[2015-10-28 14:37] cpritam commented on #5667
@waxmanr Are you comparing the non hardening case for time? I think a
linear strain hardening currently doesn't exist in tensor mechanics.

On Wed, Oct 28, 2015 at 8:31 AM, Rachel Waxman <notifications@github.com>
wrote:

[2015-10-28 14:40] #5841 closed

[2015-10-28 14:42] waxmanr commented on #5667
@cpritam: In the solid mechanics file (LSH_mod.i), I have `hardening_constant = 0`. Is that what you mean?

@dschwen: I'm trying to fix that conflict now. When Andy pulled my changes and created a PR on my branch, he changed some things that maybe somehow didn't make it on to my branch when I pulled the merge? At least I'm assuming that's what's happened. I've never had a `--rebase` conflict befor

[2015-10-28 15:08] friedmud opened #5883 "Time Integration with NodalKernels"
NodalKernels were introduced in #5815 but they show issues with high order time integration.  We need to get that figured out.

[2015-10-28 15:09] friedmud commented on #1287
This has risen in priority due to #5815

[2015-10-28 15:19] #3029 closed

[2015-10-28 15:30] jwpeterson commented on #5883
Specifically, BDF2 worked great but there were issues with Crank-Nicolson and the second-order Dirk scheme...

[2015-10-28 15:50] SudiptaBiswas commented on #5762
81aa161 is the updated UserObject. @dschwen please have a look, if this what you had in mind. I want to make sure if I am heading in the right direction.

[2015-10-28 17:02] waxmanr commented on #5667
Okay, @dschwen: this should be fixed now. I hope. I can `git pull --rebase upstream devel` without conflicts and the changes have been force pushed back. And the run times I posted above are still valid.

[2015-10-28 17:07] #5714 closed

[2015-10-28 17:07] #5792 closed

[2015-10-28 17:57] YaqiWang opened #5884 "Promote Transient::lastSolveConverged() to Executioner?"
Then we can get rid of line 101 in `FullSolveMultiApp.C`. This is the right thing to do IMO. It also reminds developers that the custom executioners need to provide this. I propose this for my `ApplicationWrapper` for making the query of the convergence of the last solve easier. I might miss some bigger pictures like exception handling though.

[2015-10-28 21:48] permcody commented on #5884
This doesn't sound unreasonable.

[2015-10-28 22:03] YaqiWang opened #5887 "Block restricted nodal user object on all blocks could behave differently from the unrestricted one"
If we have more than one block in the mesh and a nodal user object on all of these blocks, there will be nodes belongs to multiple blocks, which will make the nodal user object executed multiple times for the same node. On the other hand, unrestricted user object will execute on all nodes once. If the user object is doing some sorts of accumulation like `NodalL2Error`, this will end up with differ

[2015-10-28 22:24] dschwen opened #5888 "Let User Objects know which execute_on stage they are currently being called by"
It would be useful to have a flag available in a UserObject that tells us whether we are called due to a residual evaluation or due to a Jacobian evaluation. The idea is that We need to assemble Jacobian information in a UserObject that computes a set of integrals over the domain. The Jacobian assembly adds quite a bit of cost and we'd like to avoid it if we only need the residual.

@SudiptaBiswas

[2015-10-28 22:26] permcody commented on #5887
Yeah, I'm well aware of this issue. In general we call `value()` for every node for every element attached to a node even without bringing block restriction into the mix. Right now, the last person to set the value wins! However, when you consider the normal case of setting initial conditions on a continuous basis, this shouldn't be a problem. Hopefully each node has the same (or close enough to t

[2015-10-28 22:44] dschwen commented on #5887
@YaqiWang how could that ever be solved? Imagine you have two different UOs on the two blocks... It boils down to _which block does a node belong to_. I don't see a good way to give a well defined answer to that question.

[2015-10-29 14:42] aeslaughter commented on #5888
I am working on cleaning up a few things related to this, I will try to incorporate this. I will add a function to SetupInterface called `getCurrentExecuteFlag` (other names suggests welcome) that returns a Moose::ExecFlagType that will be EXEC_NONE unless you call it from the execute/compute methods.

[2015-10-29 14:52] YaqiWang commented on #5888
Just let you know, materials are doing things differently. I'd actually like to have the similar thing for material, but it will be something like `FOR_UO FOR_AUX FOR_LINEAR FOR_NONLINEAR`.

[2015-10-29 14:55] YaqiWang commented on #5887
UO is not assigning values of nodes, so it does not have the issue like in initial conditions. We do have the initial condition issue as well, but fortunately it is just for an initial guess, we do not care if it can be accurately done.

[2015-10-29 14:58] permcody commented on #5888
@aeslaughter - if possible, we should probably do this with a member variable instead of a method. That's more MOOSE-y. It's tricky if you try to add a member to the interface. That member will probably have to go in MooseObject and be set by some internal routine in MOOSE.

[2015-10-29 15:35] #5783 closed

[2015-10-29 15:39] permcody commented on #5887
Sorry, I realize that my earlier comment is not relevant here. I was thinking about ICs when I responded.

I guess I'd like to hear both a use-case and a potential solution for this issue (if there is one). Generally when you are working at nodes you are doing something different (often explicit calculations) than when you are working at elements. Nodes do in fact have the issue of being owned by

[2015-10-29 16:11] aeslaughter commented on #5888
With my new 'FEProblem::execute' method it will be trivial to use a method of member variable. I already implemented it as a method, so I will wait to change until you have a look see.

[2015-10-29 16:19] dschwen commented on #5888
Hmm, a method has the advantage of being able to protect the underlying state variable from write access.

[2015-10-29 16:31] #5880 closed

[2015-10-29 16:36] aeslaughter commented on #5888
As a member it would be a constant reference to something living on
FEProblem, so either way it would be protected.

On Thu, Oct 29, 2015 at 10:19 AM, Daniel Schwen <notifications@github.com>
wrote:

[2015-10-29 16:43] dschwen commented on #5888
Oh, right.. :+1: then

[2015-10-29 18:33] permcody commented on #5888
The reason I prefer member over method is because most other state or values you need to access in MOOSE come through members not methods.

See https://github.com/idaholab/moose/blob/devel/framework/include/actions/Action.h#L125

[2015-10-29 18:54] permcody opened #5890 "EigenExecutioner issues"
@YaqiWang - I just built with the static analyzer and these two issues popped out. They both look real so you may want to look.

[code]

[2015-10-29 19:05] permcody commented on #5837
@lw4992 - Any luck fixing this? Did you figure out if you are using the old Apple GCC compiler?

[2015-10-29 19:09] tonkmr commented on #5502
@dschwen I need this fixed and @frombs does as well. Can you work on it soon?

[2015-10-29 19:54] YaqiWang commented on #5890
looking into it.

[2015-10-29 20:00] permcody commented on #5780
Let's close this. We'll reopen as necessary.

[2015-10-29 20:00] #5780 closed

[2015-10-29 20:08] permcody commented on #4941
This issue has been closed.

[2015-10-29 20:08] #4941 closed

[2015-10-29 20:11] #3734 closed

[2015-10-29 20:13] permcody commented on #876
We now have support for GetPots Dollar Bracket Expressions (DBE).  There are a ton of things you can do with this. Closing this ticket.

[2015-10-29 20:13] #876 closed

[2015-10-29 20:14] permcody commented on #1583
I decided that I don't really care about this. It would just piss me off.

[2015-10-29 20:14] #1583 closed

[2015-10-29 20:15] YaqiWang commented on #5890
! @aeslaughter changed the file in 1080b075feca504fe8a888fb5374c06304e2f9ef, which is significant. Do not do this again before consulting the original developer.

[2015-10-29 20:33] permcody commented on #1287
@friedmud  - I was just looking this over and poking around. I can't see much reason for both `ThreadedElementalLoopBase<>` and `ThreadedElementalLoop<>`. The former class is only the ancestor of one class, it contains no virtuals and is doesn't contain any abstraction that can't be merged into the latter class. Clearly this isn't critical but it looks like this is a good candidate for merging pri

[2015-10-29 20:58] permcody commented on #5254
Closing - unable to repeat.

[2015-10-29 20:58] #5254 closed

[2015-10-29 21:47] #4725 closed

[2015-10-29 21:53] #5793 closed

[2015-10-29 22:12] friedmud commented on #1287
The difference has to do with FEProblem.  ThrededElementLoop _has_
FEProblem... while ThreadedElementLoopBase does not.  There is somewhere in
the code where we need to do an element loop but don't have access to
FEProblem (or at least, there was at one time).

Definitely something that could be handled as part of this work...

On Thu, Oct 29, 2015 at 4:33 PM Cody Permann <notifications@github.com

[2015-10-29 22:17] permcody commented on #1287
Oh I see CachedChangeListsThread in MooseMesh... Ok, that's the one place.

[2015-10-29 22:35] #5890 closed

[2015-10-29 22:46] permcody commented on #4541
This was resolved in ba72bdca

[2015-10-29 22:46] #4541 closed

[2015-10-29 22:50] permcody commented on #2902
This issue is old and vague. Closing since it probably isn't relevant now.

[2015-10-29 22:50] #2902 closed

[2015-10-29 23:00] permcody commented on #1972
I'm closing this. I feel that using experimental parameters can be handled by existing macros in the executable code rather than a new parameter type. Usually it's the code that's experimental, not necessarily the parameter that might turn it on anyway.

[2015-10-29 23:00] #1972 closed

[2015-10-29 23:01] #5888 closed

[2015-10-30 01:02] friedmud commented on #1287
Yeah - Doesn't look like MooseMesh has access to an FEProblem.

On Thu, Oct 29, 2015 at 6:17 PM Cody Permann <notifications@github.com>
wrote:

[2015-10-30 03:08] friedmud opened #5894 "Execute MeshModifers on Mesh Adaptivity"
It could useful to be able to run MeshModifiers after the mesh has been adapted.  Think about adding a nodeset for instance... the nodeset won't be projected properly after mesh adaptivity so it could be useful to re-run the MeshModifer at that point to re-add the nodeset to any new nodes.

I suggest we add an `execute_on = 'adaptvity'` option for MeshModifiers....

[2015-10-30 03:11] friedmud opened #5895 "NodesetWithinDistance"
Need a new MeshModifer that adds a nodeset to all nodes within a certain distance of a given point.  Syntax should look like:

[code]

This would cause all nodes within `2.7` of the point to get added to the nodeset 4 named 'frog'.

[2015-10-30 03:20] friedmud commented on #5888
Guys... you should really be using `SystemBase::currentlyComputingJacobian()` for this...

http://mooseframework.org/docs/doxygen/moose/classSystemBase.html#aef317243e2df31c7eff9b5dd963a2ddb

It's the foolproof way to know you're in the Jacobian computation...

[2015-10-30 03:36] friedmud commented on #5887
Yep... this is your own danmn "vault"

![large](https://cloud.githubusercontent.com/assets/870705/10837926/be8ed028-7e95-11e5-8f1b-e541bb7e89d2.png)

Nodes are shared between subdomains... what else could/should be done?

[2015-10-30 03:50] friedmud commented on #5884
Seems ok to me