[2016-02-10 23:56] WilkAndy commented on #6301
I'm not convinced, @permcody.  The header to the test contains this:

PostProcessor force_z plots the force on the top surface of the cylinder.
Displacement of 0.1 is applied to top of cylinder while other surfaces are
constrained. Plotting force_z vs stress_z will show a slope of 3.14159 (pi),
consistent with formula for normal stress:

I get a diff of "force_z" at almost all timesteps.  It seems

[2016-02-10 23:59] permcody commented on #6301
I believe you are looking at a residual value (axisym_resid) not an actual
value. In that case it could be positive or negative as long as it's close
to zero.

On Wed, Feb 10, 2016 at 4:56 PM Andy Wilkins <notifications@github.com>
wrote:

[2016-02-11 00:01] sapitts commented on #6301
I will need to go through the analytical solution first and the units, because, while 0.1 displacement will be 10% strain in this case, this test appears to be set up to isolate loading/ stress in the z direction.  As @WilkAndy noted, I would also like to double check that setting the abs_zero tolerance makes sense with the problem units, ect.

Give me the weekend to go through this problem (and i

[2016-02-11 00:05] WilkAndy commented on #6301
Oh, i think @permcody is right, oops, thanks!  There is a Postprocessor "force_z", but there is also a residual value (from save_in) called "force_z".  It is the latter that is diff-ing.  That's certainly no big deal.  I'll issue a PR soon.

@sapitts - perhaps this means you can actually not work during your weekend?!

[2016-02-11 00:08] YaqiWang opened #6303 "Need to enhance piecewise functions a little"
so that it can read csv files which contains data more than just abscissa and ordinate. Backward compatible will be maintained.

[2016-02-11 00:11] permcody commented on #6301
Alternatively look into the "use_old_floor" option. We've seen this several times before.

[2016-02-11 15:11] #6301 closed

[2016-02-11 15:12] #6274 closed

[2016-02-11 16:46] #869 closed

[2016-02-11 16:48] #6287 closed

[2016-02-11 17:00] permcody opened #6306 "Infinite loop with start up steps"
It looks like there is a set of parameters that can cause an infinite loop with a failed solve. See the discussion: https://groups.google.com/d/msgid/moose-users/6bf04fe3-e2e0-4139-88f3-8bb15672811e%40googlegroups.com

[2016-02-11 17:12] bwspenc opened #6307 "App revision number isn't being updated"
The make process is not correctly updating the app revision number. If someone builds an app, then pulls down a newer version and rebuilds, the revision number reported by the app is the one from the revision of the original build, rather than the new one. If they do 'git clean -dxf' and then rebuild, the new revision is reported.

[2016-02-11 17:36] bwspenc commented on #6307
The script that writes this in framework/scripts/get_repo_revision.py seems fine. It just isn't getting run unless app/include/base/AppRevision.h is missing. From what I can see in app.mk, it seems like the script should get run every time anything is touched because app_objects depends on app_HEADER, which is what runs the script. It must be something wrong in that Makefile, but I'm not seeing it

[2016-02-11 17:37] bwspenc commented on #6307
@acasagran

[2016-02-11 17:41] bwspenc commented on #6307
Oh, I get it... Make is not running the app_HEADER target because it's looking at the timestamp of AppRevision.h and seeing that it hasn't changed. We need to force it to run that target regardless of the timestamp.

[2016-02-11 17:41] permcody commented on #6307
If the target isn't marked PHONY and the file it depends on exists AND is
older, it won't get rerun. That's probably what's happening here. If we
mark it PHONY though, it'll rerun every time we type make which is annoying
too. I think we can run a git command though and figure out if something is
new...

On Thu, Feb 11, 2016 at 10:37 AM Ben Spencer <notifications@github.com>
wrote:

[2016-02-11 17:43] permcody commented on #6307
Right, I think we can make it even smarter by running a git command inside of make and checking if something has changed. I've messed around with this before when we were mirroring applications in SVN and GIT and it worked quite well. I think that's better than regenerating that file every time we run make.

[2016-02-11 17:44] dschwen opened #6308 "Add libmesh_final to DiscreteElementUserObject"
Now that the libmesh update supporting this is in we should use that feature.

[2016-02-11 17:44] bwspenc commented on #6307
The script is set up to only actually modify the file if the revision has changed (so you don't force a rebuild of everything if it hasn't).  I think the fix is to add this line:
.PHONY: $(app_HEADER)
I'm trying it right now.

[2016-02-11 18:22] permcody commented on #6308
Well maybe, I'm sure once we start supporting C++11 we'll have all sorts of things we can cleanup/refactor. Yes I know we can actually use this now but we won't be testing it on our build boxes just yet.

[2016-02-11 18:24] #6303 closed

[2016-02-11 19:46] YaqiWang opened #6309 "ScalarFunctionIC is needed"
As title. To do this `ScalarInitialCondition` needs to be derived from `FunctionInterface`. Do you want me create this IC in MOOSE or you prefer it is on my app?

[2016-02-11 19:47] gambka commented on #6274
After some additional outsourcing of testing to Canada, make clobber is still appears to be overeager and removing my .git directory and moose submodule in a freshly cloned and updated repository.

It also removes my .git directory in bison if I clone moose beside bison.

[2016-02-11 19:51] permcody commented on #6274
Before we jump to any conclusions, are we absolutely sure you have the current version of the script?

[2016-02-11 19:56] gambka commented on #6274
I checked the git log in the submodule and it contains the following commit:

commit c9793c42a664bb75659b963a9b4bfde8a0240510
Merge: 83f3f82 eadc5c0
Author: Cody Permann <codypermann@gmail.com>
Date:   Thu Feb 11 08:12:28 2016 -0700

    Merge pull request #6278 from dschwen/clobber_6274

    Revise clobber target

I also opened framework/moose.mk and compared the portion of the script to what was

[2016-02-11 19:57] permcody commented on #6274
Nah, I trust you. That means that it's time to do this with Python...

[2016-02-11 20:00] dschwen commented on #6274
WTH. How can this be?!

[2016-02-11 20:03] permcody commented on #6041
Closed in #5943

[2016-02-11 20:03] #6041 closed

[2016-02-11 20:03] permcody commented on #6042
Closed by #5943

[2016-02-11 20:03] #6042 closed

[2016-02-11 20:05] permcody commented on #6309
We'll entertain that in MOOSE.

On Thu, Feb 11, 2016 at 12:46 PM Yaqi <notifications@github.com> wrote:

[2016-02-11 20:06] permcody opened #6311 "Add std::string specializations to support communication of binary data"
Yes, do this to support dataStore, dataLoad operations.

[2016-02-11 21:27] aeslaughter opened #6313 "SideUserObject does nothing when 'boundary' is not set"
[code]

[2016-02-12 13:47] aeslaughter opened #6316 "InterfaceKernel compiler warnings in oprof and debug"

[2016-02-12 16:36] #6311 closed

[2016-02-12 17:25] permcody opened #6317 "Issue with capitalization in input files"
A developer reported an issue where a capitalization issue caused an simulation to display an erronous error message.

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/moose-users/9dm4BO0kUII/LMHE0ljaFAAJ

[2016-02-12 17:57] YaqiWang commented on #6298
I think this issue is critical. There are chances that the code is running wrongly producing inf by dividing zero. Then the test will not catch the error. It could have significant impact. Thanks.

[2016-02-12 19:24] #6309 closed

[2016-02-12 23:49] bwspenc opened #6320 "XFEM"
We have an implementation of XFEM based on the phantom node method that's been under development in a separate development branch for a few years. This has reached a point where I think it's close to being ready to merge into the moose devel branch.

[2016-02-14 17:37] dschwen opened #6322 "Throw compile error if the & is missing for VariableValue members"
We made such a change for `MaterialProperty<>` already, where we can easily make the copy constructor private. However `VariableValue` are just `MooseArray`s and those get copied in the guts of MOOSE al the time.

We might be able to fix this by having `coupledValue` return a class that is derived from `MooseArray`, has a private copy constructor, and implicitly casts 1:1 to a `MooseArray`. This w

[2016-02-15 14:53] dschwen opened #6324 "Make sure examples run"
I need to systematically go over all examples we have and make sure they still run. At the training the first example I executed failed...

[2016-02-15 14:55] brianmoose commented on #6324
See #6269
I just put in a PR #6323

[2016-02-15 15:08] dschwen commented on #6324
Yeah, that's fine. I should clarify that I'm talking about modules
examples. Those aren't even run by the test harness yet.

On Mon, Feb 15, 2016, 8:55 AM brianmoose <notifications@github.com> wrote:

[2016-02-15 17:35] YaqiWang opened #6325 "Can we provide the `positions` parameter in MultiApp a default value?"
Currently it does not have one, which makes lots of our simulations have to have something like `positions = '0 0 0'`, which looks really awkward because the number of subapps is one and the subapp is position irrelevant.

I looked the code, this will just require turning off a moose Error in `MultiApp::fillPositions()`. I will send in a small PR to see if there is any damage on applications.

[2016-02-15 17:44] #6269 closed

[2016-02-15 17:50] friedmud commented on #6322
I would say: hold off on this until we go to C++11.  Once we have the ability to use an explicit `move` operator we can redesign MooseArray to be pickier about how it's copied/moved.

[2016-02-15 18:12] jwpeterson opened #6327 "Look into issue with second derivatives in IntegratedBCs"
@jiangwen84 [reported](https://groups.google.com/d/msg/moose-users/_2Q6l6IloDE/4BMQbH-HDgAJ) an issue with accessing second derivatives from an IntegratedBC object.

Off-list, we already confirmed that the second derivatives are being computed correctly in libmesh, but there is some issue with both the solution (accessed by `second()`) and test function (accessed by `secondTest()`) second derivati

[2016-02-15 18:44] dschwen commented on #6322
Sounds good.

On Mon, Feb 15, 2016, 11:50 AM Derek Gaston <notifications@github.com>
wrote:

[2016-02-15 20:35] jiangwen84 commented on #6327
@jwpeterson Thanks for looking into this issue.

I checked the MooseVariable computed values, the test function and trial function obtained through _assembly.secondPhiFace() and _var.secondPhiFace(), respectively. They both are correct on the quadrature points on the boundary.

Then I looked at the Jacobian, showing that 4.0988e-06 = ||J - Jfd||//J|| 4.32052  = ||J - Jfd||). I do not quite underst

[2016-02-15 22:05] jwpeterson commented on #6327
There is definitely at least one real issue here, and that is that the second derivatives obtained by initializing one's `VariableTestSecond` reference with either `_var.secondPhiFace()` or `secondTest()` (aka the interface method) do not agree, with the former apparently providing correct values and the latter providing incorrect ones.

The differences are not small, either.  I added the followin

[2016-02-15 22:18] jiangwen84 commented on #6327
I find that the second derivatives obtained by interface secondTest() actually references to some values which are calculated on the quadrature points inside the volume, but not the boundary.

[2016-02-15 22:31] snschune opened #6329 "Accessor for number of steps in Transient"
Similar to ```_end_time``` I want to add a function returning a writeable reference
to to ```_num_step```.

[2016-02-15 22:41] andrsd commented on #6327
This is standard PETSc output for `-snes_check_jacobian`. If you want to see the matrices add `-snes_check_jacobian_view`. If you want the other output, it is `-snes_type test -snes_test_display`.

[2016-02-15 22:47] jwpeterson commented on #6327
@andrds pointed out a typo in the input file:
[code]

[2016-02-15 22:51] jwpeterson commented on #6327
If you spell that option correctly, these are the differences between the hand-coded and finite-difference Jacobian:

[code]

[2016-02-15 23:27] dschwen commented on #6327
Wait a minute... are you saying the Jacobian analyzer reports `no errors` but you see a diff in the matrix output?

[2016-02-16 01:31] jwpeterson commented on #6327
That's exactly what I'm saying.

[2016-02-16 02:18] dschwen opened #6331 "Add example input for phase field crystal"

[2016-02-16 04:48] dschwen commented on #6327
:hankey:

[2016-02-16 04:48] dschwen commented on #6327
(its chocolate yoghurt)

[2016-02-16 15:08] #6097 closed

[2016-02-16 15:25] gambka opened #6332 "Add testing for newlines in input files"
Recently two new input files have been merged into MOOSE (which means they passed all of the existing tests and checks) that now come up as modified in my submodule whenever I run the delete_trailing_whitespace.sh script:

test/tests/dgkernels/dg_block_restrict/dg_block_restrict.i
test/tests/interfacekernels/1d_interface/coupled_value_coupled_flux.i

Would it be possible to add to the testing syst

[2016-02-16 15:54] jwpeterson commented on #6332
Just to clarify, these files say
[code]
in `git diff`, and we'd like the pre-check to catch these for us, since they are fixed by delete_trailing_whitespace.sh.

[2016-02-16 15:57] gambka commented on #6332
That is correct.

[2016-02-16 18:12] #6329 closed

[2016-02-16 18:12] sveerara opened #6333 "Edit files in solid mechanics to create a new plasticity model in bison"

[2016-02-16 20:20] #6325 closed

[2016-02-16 20:30] permcody opened #6335 "Import SQA Documentation into the MOOSE repository"
This ticket shall be referenced for importing all of the MOOSE related SQA documents into the framework.

[2016-02-16 20:43] jwpeterson commented on #6335
"shall be"... you really have been reading too many standards docs.

[2016-02-16 20:52] permcody commented on #6335
You have no idea...

[2016-02-16 21:32] YaqiWang opened #6337 "FunctionDT is assuming time_t and time_dt are both always set in inputs and are in the same non-zero size"
As title. I'd make them required and check both in the same non-zero size in the constructor.

[2016-02-16 22:04] YaqiWang commented on #6337
Also the code for `interpolate=false` contains logical errors. `interpolate` basically determines if the function is piece-wise linear or constant. In the later case, size of `time_dt` should be equal to the size of `time_t` plus one.

[2016-02-16 23:52] jwpeterson commented on #6327
@jiangwen84 Could the issue be that the residual we are finite-differencing is almost identically zero for this very simple test problem (u=1), and this leads to a lot of round-off error in the finite difference calculation?

You can play around with different values of `-snes_test_err` on the command line, and it makes almost no difference in `-snes_check_jacobian` output... this isn't normal and

[2016-02-16 23:59] jiangwen84 commented on #6327
@jwpeterson That is a good point. I will figure out a 'meaningful' solution for the test problem and give it a shot.

[2016-02-17 14:44] #6265 closed

[2016-02-17 15:44] gardnerru opened #6338 "Run_tests does not run all tests when --pbs is invoked"
I noticed this from the bison nightly testing script which uses run_tests --pbs to run all simulations. If there is more than one test listed in the tests file of the directory, only the first is run. (Example below) I can see the results of this nightly because less than half of the bison tests run.

I tested this by running ./run_tests re=thermalFuelNFIR, which I know has 2 tests, and they both

[2016-02-17 17:09] jiangwen84 commented on #6327
@jwpeterson I manufactured a solution u = x^2 + y^2 and solve the Lap u = f with f = 4. For the left, top and bottom boundary, I added Dirichlet BC with analytical solution. For the right boundary, I added a penalty term to enforce Lap u = 2 on that boundary.

To compile the code, I have to comment out the ```norm()``` you put in the ```TestLapBC``` as the compiler cannot find the definition for i

[2016-02-17 17:34] jwpeterson commented on #6327
Oops, yes sorry `norm()` is the new name, you need to use `size()` for the version of libmesh MOOSE is currently using.

Damn, I was hoping this would work.  Yeah, I will take a look.

[2016-02-17 19:31] permcody commented on #6338
@milljm - perhaps you can take a look at this?

[2016-02-17 20:15] jwpeterson commented on #6327
One issue: the forcing function Kernel is not active in the input file you pushed in 6e0bf29 (see active line):
[code]

However, when I activated it, the solver does not converge, I think possibly because the penalty that you picked is too small?

Anyway, I changed the problem slightly (see 60fa053) so that we can avoid the penalty term altogether and now it converges with the forcing function tur

[2016-02-17 20:19] jwpeterson commented on #6327
No, sorry, wait!
[code]
is *not* correct, the diagonal entries should be 2 and 2.

So then there *is* something wrong with the values of `_second_u` in BCs after all...

[2016-02-17 20:29] jwpeterson commented on #6327
I also verified that the `_second_u` values are *correct* in the Diffusion Kernel by adding a print statement there (see 3027c0a)
[code]
so this problem seems to be limited to the BoundaryCondition...

[2016-02-17 21:22] jiangwen84 commented on #6327
I also ran the new test and get the same answer. Basically the ```_second_u``` on the boundary is not correct although the solution seems to be correct.

Could it be related to the ```interface``` method issue?

[2016-02-17 21:37] #6333 closed

[2016-02-17 21:45] jwpeterson commented on #6327
Not sure.  One thing I don't quite understand about `MooseVariable` is that it has some `Face` methods, e.g. `phiFace()`, `gradPhiFace()`, `secondPhiFace()`, etc. but no corresponding functions for the solution like `slnFace()` or `secondSlnFace()`.  Not sure if that's an omission or if it's just supposed to work that way.

At the moment I am writing a small libmesh code just to double-check that

[2016-02-17 22:02] andrsd commented on #6327
In `MooseVariable`, `_u` (where we keep the solution) is used both for volumetric and face values. That's why there is no `slnFace()`. Similarly for gradients and second derivatives...

[2016-02-17 22:14] permcody commented on #6327
Also, how 'bout those those FORTRAN naming conventions?

On Wed, Feb 17, 2016 at 3:02 PM David Andrs <notifications@github.com>
wrote:

[2016-02-17 22:14] dschwen opened #6339 "Add getter for MooseMesh::_regular_orthogonal_mesh"
something like `.isRegularOrthogonal()`

[2016-02-17 23:04] jwpeterson commented on #6327
So, for what it's worth, I agree with your assessment that the second derivative values on the boundary are correct in libmesh.  I created this [gist](https://gist.github.com/jwpeterson/41deb2381ac524124e19) which is a modified version of ex4 set up to solve the same u=x^2 + y^2 problem.  The test code prints:

[code]

So I think we still need to focus on finding where the second derivative values

[2016-02-17 23:35] #6339 closed

[2016-02-17 23:53] YaqiWang commented on #6030
@permcody Since I so hate this bug (i have to have too many screen outputs to not trigger the bug), I took some time to find where it is and fixed it on my own system. It turns out the bug is at Line 163 of `hypre-2.10.0b-p1/src/parcsr_ls/par_amg_solve.c`
where it is
[code]
but actually should be
[code]
otherwise Line 260 will trigger a valgrind error of an uninitialized value of `rhs_norm`.

Can

[2016-02-18 00:09] jwpeterson commented on #6030
On Wed, Feb 17, 2016 at 4:53 PM, Yaqi <notifications@github.com> wrote:

Jason can fix this temporarily in the MOOSE package, but we really need to
get it into upstream, so we don't have to apply this patch every time we
build Hypre.

I'll make a diff, look up the Hypre mailing list and send this in.

Petsc also maintains their own Hypre mirror/fork repo here:
https://bitbucket.org/petsc/pkg-hypre

[2016-02-18 00:13] jiangwen84 opened #6341 "add support for user provided crack front points in CrackFrontDefinition (SolidMechanics module)"
In ```CrackFrontDefinition```, instead of using boundary nodes, users can provide a set of points to define the crack front. This will be needed for XFEM calculation.

[2016-02-18 00:27] jwpeterson commented on #6327
As of 60d50d6, I have implemented a "manual" reconstruction of the `_second_u` in `computeQpResidual()` by summing `u[i] * _second_test[i][_qp]` at each quadrature point.  This gives the correct values for second_u, and, most importantly, passes the `-snes_check_jacobian` test.

It's not a solution to the problem, but it does prove that all the "ingredients" are available for computing second deri

[2016-02-18 00:38] bwspenc opened #6343 "Error checking for passing solution variables into save_in"
If you accidentally pass in a solution variable as a parameter for ```save_in``` in a Kernel, you get an ugly error like this:
[code]
It would be better to catch this earlier and give a more descriptive error message.  I have a fix for this.

[2016-02-18 00:40] jiangwen84 commented on #6327
:+1:  :+1: :+1:

-:)

[2016-02-18 00:57] bwspenc opened #6345 "Move the test in modules/combined/tests/solid_mech_cube_body_force"
Ever since a lot of the solid mechanics tests were moved under modules/combined/tests/solid_mechanics, I've had to fight with this test when I do tab completion to get into that directory.  Move this test into the solid_mechanics directory.

[2016-02-18 04:07] friedmud commented on #6030
@YaqiWang can you explain a bit more?  I don't see how it's possible.  `rhs_norm` is initialized when it's declared on line 85.  Also `rhs_norm` is not used on line 260.

That said, I think you're on the right track.  It looks like `resid_norm` might be uninitialized, which then might pass off to the others.  Your fix looks reasonable.

For others that want to look:
https://bitbucket.org/petsc/pkg

[2016-02-18 14:37] permcody opened #6348 "Image Subdomain Test Fails"
mesh_modifiers/image_subdomain.2d fails to complete when run in debug parallel. This test isn't all that big so this should be investigated.

[2016-02-18 14:38] #6345 closed

[2016-02-18 15:31] andrsd commented on #6030
Note that  hypre-2.10.0b-p1 is a patched version of HYPRE by the PETSc team. So if the upstream will not accept the patch, the PETSc team might. And since we are using their version, we would get the patched up one in our package. Just FYI.

[2016-02-18 15:42] andrsd commented on #6030
Also if line 260 is the problem, the correct variable name is `resid_nrm` and that is uninitialized (see line 82).  Then the if statement on line 163 goes into else-branch and the code continues with uninitialized value...

[2016-02-18 15:55] YaqiWang commented on #6030
If Line 163 does not have `tol > 0.`, and we do not set `amg_print_level` bigger than 1 (i.e. no `-pc_hypre_boomeramg_print_statistics`), the code on line 164 to 209 will not be through, and resid_nrm will not be set. However line 245 to 272 is activated by `tol > 0.`. Uninitialized value of resid_nrm is assigned to old_resid and used for branching on line 260, which causes the valgrind error
[cod

[2016-02-18 16:02] YaqiWang commented on #6030
I think uninitialized values are fine unless we start using them. In this case, it actually helps on finding the bug because valgrind can see Line 260 is problematic.

[2016-02-18 16:09] jwpeterson commented on #6327
OK, @andrsd figured out that we were not properly zeroing `_second_u` on element faces in Steady simulations (Transient was fine), hence the doubled values we were seeing.  This is fixed in e0ceccf, and another, related fix in 18f1065.  So you managed to trigger a *very* specific issue with the `TestLapBC` code!

I'm going to clean up this branch and open a PR, including the new test, momentarily.

[2016-02-18 16:13] jiangwen84 commented on #6327
That is so great! @jwpeterson @andrsd  Thank you! :100:

[2016-02-18 16:28] friedmud commented on #6327
Great sleuthing everyone!  Glad this got sorted out! :+1:

[2016-02-18 16:37] jiangwen84 commented on #6327
@jwpeterson Do we still want to fix the interface(```secondTest()''') issue?

[2016-02-18 16:39] jwpeterson commented on #6327
Yes, that's included in this branch.

[2016-02-18 16:43] aeslaughter commented on #6348
I started to look at this, I have a branch on my workstation. The reader seems to be spinning its wheels in VTK, I will get after it next week to see if I can figure it out.

[2016-02-18 16:45] permcody commented on #6348
No rush, just wanted to capture it in a ticket since it's our only fail on the parallel debug build. If you'll get to it soon, I'll just leave it alone rather than committing a 'skip'.

[2016-02-18 17:25] #6343 closed

[2016-02-18 19:35] aeslaughter opened #6351 "Make "snow" example faster"

[2016-02-18 20:45] #6327 closed

[2016-02-18 20:50] snschune opened #6353 "TimeKnotStepper"

[2016-02-18 20:52] permcody commented on #6317
This error turned out to be caused by something else. This ticket is erroneous.

[2016-02-18 20:52] #6317 closed

[2016-02-18 21:00] jwpeterson commented on #6353
What is a time knot?  I'm guessing it's [this](http://galaxyquest.wikia.com/wiki/Time_Knot).

[2016-02-18 21:53] snschune commented on #6353
Almost, just that is was created by the evil Count Yaqula.

[2016-02-18 23:47] permcody opened #6356 "Need configuration without SuperLU"
We need a test configuration without SuperLU, or some way to check that we don't miss a new test that requires SuperLU...  In lieu of adding a new configuration maybe we could just look for those options? That's always a brittle solution but better than nothing.

See this PR:
https://github.com/idaholab/moose/pull/6347

[2016-02-19 20:33] #6161 closed

[2016-02-20 10:45] WilkAndy opened #6359 "DruckerPrager plasticity in tensor_mechanics"

[2016-02-22 15:27] #6341 closed

[2016-02-22 16:56] dschwen opened #6360 "Still construction order dependence for DerivativeSumMaterial"
The dependency system is not dealing correctly with `DerivativeSumMaterials` blocks preceding the material blocks that define the free energies used in the sum.

[2016-02-22 17:08] permcody commented on #6254
Notes: Doesn't appear to be related to types, there is a input file order dependency for UOs and possibly materials. Perhaps this is related to all the warehouse refactoring? Maybe, maybe not.

Also see #6360.

[2016-02-22 19:14] YaqiWang opened #6361 "Minor console issues"
I have noticed two small issues related with console:
1. why console always output on initial even I said `execute_on = timestep_end`?
2. I cannot pass `_console` to my functions which accepts an `ostream`.

[2016-02-22 19:59] dschwen opened #6362 "Add Euler angle to RGB color conversion utility"

[2016-02-22 20:14] permcody opened #6363 "Use GitHub Templates for suggesting standards"
We would like to make use of templates to assist users in providing the detail and rigor necessary for issues and pull requests.

[2016-02-22 20:47] bwspenc opened #6365 "Enable use of CurvedCrackFront option with crack_front_points in DomainIntegral"
If the crack front is defined with ```crack_front_points```, the ```CurvedCrackFront``` option for defining the direction of crack propagation with the ```crack_direction_method``` command doesn't currently work.

[2016-02-22 21:50] permcody commented on #6307
Ugh... This is kind of a nasty problem. I've thought about this quite a bit and I'm convinced that we DO need a phony target that at the very least inspects the file and rewrites it when appropriate. We may be able to get away with normal make rules for the cascade of files that need to be rebuilt from there (i.e. source files that include the Revision file).

[2016-02-22 21:56] permcody commented on #6307
OK more ideas:

I really don't want to force people to recompile tons of stuff every time they switch branches. I think we'll need to introduce a flag in the Makefile to either turn versioning on or not. For many people, we'll just default it to off and generate a static file that just sits there until it gets cleaned up. For other (maybe BISON developers), it'll rebuild that file EVERY time you r

[2016-02-22 21:58] YaqiWang opened #6369 "Multi-system Dependency Resolution"
We met this situation in our simulations where, a postprocessor depends on the evaluation of an aux variable then another aux variable depends on the postprocessor all having the same execute_on. Currently in MOOSE, this cannot be resolved properly because the postprocessor will be always evaluated after aux variable evaluation. Typically this situation can be resolved by changing the execute_on.

[2016-02-22 22:07] #6362 closed

[2016-02-22 22:08] aeslaughter commented on #6361
On Mon, Feb 22, 2016 at 1:14 PM, Yaqi <notifications@github.com> wrote:

From the wiki:

Console-based outputs have special inheritance of common parameters

   - The execute_on parameter, as detailed below, does not get inherited.

This was implemented because 99% of users would find it strange that
initial timestep information is not printed.

We should probably fix this.

[2016-02-22 22:16] aeslaughter commented on #6254
The UserObject warehouse has not been updated yet, the Materials has. If
Materials are order dependent then there may be a case where
MooseObjectWarehouse::sort is not being called, which should happen in
FEProblem::initialSetup, just before initialSetup is called on the objects.

There is certainly ordering issues, the only type of UserObject that gets
sorted is GeneralUserObject all others are c

[2016-02-22 22:22] permcody commented on #6254
These are probably existing issues. The problem with this particular issue is it caused by a call to `getUserObject<T>()` which is and generally should be in the object constructor. To fix this kind of issue, we'd have to make a sorting decision on the parameters, not the objects themselves, or we'd have to have a shim class that would allow us to retrieve non-existent references that would be fil

[2016-02-22 22:30] bwspenc commented on #6307
The script is set up so that if it gets run and the revision hasn't changed, it doesn't touch the file, so nothing gets re-compiled. The trick here is to have nothing except the end executables themselves depend on the phony targets. If anything else depends on the phony target, it will always get rebuilt.

As far as forcing a recompile of everything goes -- hardly anything actually depends on the

[2016-02-22 22:32] aeslaughter commented on #6254
We could also make in an error to call getUserObject outside of a
constructor. I did something similar with copying of InputParameters, where
after construction I set a parameter so that subsequent copies cause a
MooseError. I am sure we could probably come up with something similar with
getUserObject.

On Mon, Feb 22, 2016 at 4:22 PM, Cody Permann <notifications@github.com>
wrote:

[2016-02-22 23:24] permcody commented on #6254
I don't want it to be an error to call those kinds of things outside of the
constructor. There's always some case where somebody wants to do it in
initialSetup (which is fine as long as they don't mind pointers instead of
refs).

On Mon, Feb 22, 2016 at 3:32 PM Andrew E Slaughter <notifications@github.com>
wrote:

[2016-02-22 23:57] permcody opened #6370 "Tolerances for RangeCheckedParameters"
We need the ability to set these. @WilkAndy is avoiding at least one because he lacks the ability to set the tolerance.

[2016-02-23 00:03] #6365 closed

[2016-02-23 00:11] YaqiWang commented on #6361
Great, I am the 1%... ;-) To me the initial values are just bunch of zeros and meaningless. Outputting them on screen seems odd. But I agree that it could contain vital information so I will live with it.

[2016-02-23 15:07] permcody opened #6371 "Possible issue with TBB on Linux (CentOS)"
We've had a couple users report crashing in the first threaded loop in MOOSE since we started cleaning up the threaded code. We need to look at this:

User "mauro13":

See: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/moose-users/SJbCMEY1zD0/zK6_CfsAFwAJ

@milljm - Can you help me get a CentOS box to test on? We just need to run GCC + MPI + CentOS and see if we can repl

[2016-02-23 15:49] aeslaughter commented on #6254
We could make it an error after initialSetup then.

On Mon, Feb 22, 2016 at 4:24 PM, Cody Permann <notifications@github.com>
wrote:

[2016-02-23 16:23] sveerara opened #6373 "Correct small bug in solid mechanics/ReturnMappingModel.C"
This is a follow up to issue #6333. A function call in ReturnMappingModel.C is at the wrong location.

[2016-02-23 18:11] YaqiWang opened #6376 "Need ScalarCoupleable to provide scalar variable order"
As title. I will send a small PR for this.

[2016-02-23 18:13] #6300 closed

[2016-02-23 19:16] #6363 closed

[2016-02-23 19:46] YaqiWang commented on #6030
@jwpeterson sent a MR in PETSc and that MR has been merged. Thanks John.

Now should we update PETSc? Then I will not see the annoying valgrind error on Yak master.

[2016-02-23 19:54] permcody commented on #6030
I'll have Jason take a look at this when he gets back. He's been out sick
this week so far but expects to be back tomorrow.

Cody

On Tue, Feb 23, 2016 at 12:46 PM Yaqi <notifications@github.com> wrote:

[2016-02-23 19:55] jwpeterson commented on #6030
Your patch was merged in the pkg-hypre repo, but they pointed out to me on petsc-maint that there is, in fact, a github repo for upstream, https://github.com/LLNL/hypre, where I would like to put a merge request as well.  PETSc is planning to starting using hypre upstream rather than maintaining their own fork (see the `barry/update-hypre` branch in the PETSc git repo).

But yes, I think the next

[2016-02-23 19:59] #6242 closed

[2016-02-23 20:30] YaqiWang commented on #6337
Fixed by PR #6350.

[2016-02-23 20:30] #6337 closed

[2016-02-23 21:01] YaqiWang opened #6378 "FunctionScalarAux needs to be enhanced to accept different functions for different components"
### Description of the enhancement or error report
FunctionScalaAux currently only accepts one function which is used to set the value of all components.

### Rationale for the enhancement or information for reproducing the error
Components of scalar variables are independent so the functions should be also independent. If the old behavior is desired, just use the same function for all components.

[2016-02-23 23:12] #6378 closed

[2016-02-24 16:02] laagesen commented on #5903
Ended up changing the name of kernel to add Lagrange multiplier to `MatReaction` in #6265.

[2016-02-24 16:14] laagesen opened #6382 "Add LagrangeChemSum and LagrangeGradSum kernels"
### Description of the enhancement or error report
Add a new kernel LagrangeChemSum that will add a residual contribution of `sum(i=1 to n) -(df_chem/deta_i) / n` where `n` is the number of order parameters.
Add a new kernel LagrangeGradSum that will add a residual contribution of `sum(i=1 to n) div (df_grad/d(gradeta)_i) / n` (converted to weak form) where `n` is the number of order parameters.

[2016-02-24 16:50] YaqiWang opened #6383 "A strange seg fault in action"
### Description of the enhancement or error report
It turns out the error is caused by the code which should be calling `_problem->addInitialCondition()` but calling `_problem->addScalarKernel()` due to a copy-paste bug. Although the error should be expected but should not be seg fault inside `NonlinearSystem::checkKernelCoverage()`. Apparently, MOOSE is happy to treat a scalar IC as a scalar kern

[2016-02-24 17:03] dschwen opened #6384 "Remove threadJoin in PF VectorPostprocessors"
### Description of the enhancement or error report
We have empty `threadJoin` functions in two VectorPostprocessors in the phase field module.

### Rationale for the enhancement or information for reproducing the error
Functions are not needed and skew the test coverage report.

### Identified impact
No impact.

[2016-02-24 17:19] dschwen opened #6386 "Add test for PolycrystalICTools::assignPointsToVariables op<grains case"
### Description of the enhancement or error report
The code path in `PolycrystalICTools::assignPointsToVariables` that deal with the grain number being larger than the order parameter number is _untested_. I'll use `HexPolycrystalIC` to generate a test.

### Rationale for the enhancement or information for reproducing the error
Need that sweet sweet test coverage!

### Identified impact
No applica

[2016-02-24 17:20] #6353 closed

[2016-02-24 18:06] #6386 closed

[2016-02-24 19:03] laagesen opened #6389 "Add FindValueOnLineSample VectorPostprocessor"
### Description of the enhancement or error report
Add a `FindValueOnLineSample` VectorPostprocessor that will take a `LineValueSampler` and return a vector (along the line) that gives the position where a user-specified value is found. User controls accuracy by controlling number of points in the LineValueSampler. Will also add an option to do interpolation to get the distance between the points

[2016-02-24 19:09] dschwen commented on #6389
I would make this a postprocessor that does a bisection search.

On Wed, Feb 24, 2016, 12:03 PM laagesen <notifications@github.com> wrote:

[2016-02-24 19:22] aeslaughter commented on #5887
I am running into this with the warehouse re-factor for UserObjects. It seems like the node iterator should handle this, not allowing a node to be visited twice.

I can replicate the current MOOSE behavior but it doesn't feel right to me, because the following two input file blocks give different results (two subdomains exists, 0 and 100, that encompass the entire domain and do not overlap):

[cod

[2016-02-24 19:39] permcody commented on #5887
I believe that this is UserObject dependent. For a given user object this may or may not be desired.
Maybe the ThreadedNodalLoop should maintain a hash table of visited nodes. Users could set a `unique_node` parameter to trigger one behavior or the other.

[2016-02-24 19:40] #6384 closed

[2016-02-24 19:42] aeslaughter commented on #5887
I am on board with making it optional.

[2016-02-24 19:47] dschwen opened #6390 "Fix test for perfect square/perfect cube in HexPolycrystalIC"
### Description of the enhancement or error report
The current tests to check if a number is a perfect square/perfect cube in HexPolycrystalIC are overly complicated.

### Rationale for the enhancement or information for reproducing the error
Simplified source is easier to read and maintain.

[2016-02-24 20:05] YaqiWang commented on #5887
This works for me. A nodal user object has this optional parameter.

[2016-02-24 20:12] laagesen commented on #6389
Sounds good.

[2016-02-24 20:44] bwspenc opened #6392 "Fracture integral improvements needed for XFEM"
### Description of the enhancement or error report

- Enable use of ```intersecting_boundaries``` when a crack is defined with a set of points rather than nodes.
- Update q functions when the mesh changes

### Rationale for the enhancement or information for reproducing the error

The fracture integrals aren't correct for meshes cut with XFEM because they depend on an AuxKernel that is currently o

[2016-02-24 21:14] dschwen opened #6393 "Classes should _not_ overwrite certain DiscreteElementUserObject members"
### Description of the enhancement or error report
Some classes in Tensor Mechanics overwrite parallel communication members inherited from DiscreteElementUserObject. This should not be done.

### Rationale for the enhancement or information for reproducing the error
The change will remove dead code.

[2016-02-24 21:19] #6351 closed

[2016-02-24 21:26] dschwen opened #6395 "Untested objects in HEVP"
### Description of the enhancement or error report
- `HEVPLinearHardening` (@cpritam)
- `TensorMechanicsHardeningCutExponential` and `MultiPlasticityDebugger` (@WilkAndy)

have zero test coverage

### Rationale for the enhancement or information for reproducing the error
Need test coverage

[2016-02-24 21:31] #6390 closed

[2016-02-24 21:33] #6335 closed

[2016-02-24 22:11] permcody opened #6397 "Requirements Traceability Matrix Tests"
### Description of the enhancement or error report

This ticket should be referenced as documentation and requirement numbers are added to the regression test suite.
### Rationale for the enhancement or information for reproducing the error

These annotations will be used to produce the requirements traceability matrix
### Identified impact

(i.e. Internal object changes, limited interface changes

[2016-02-24 22:56] #6393 closed

[2016-02-24 23:17] #6392 closed

[2016-02-25 00:07] WilkAndy commented on #6395
# **MY BOLDFACE IS BIGGER THAN YOURS**

Heheheh, thanks for the notification.  i'll write a test for that soon.

a

[2016-02-25 00:26] dschwen opened #6401 "EBSDAccessFunctors need expanded unit tests"
### Description of the enhancement or error report
`EBSDAccessFunctors` test coverage is less than ideal.

### Rationale for the enhancement or information for reproducing the error
Need more test coverage.

[2016-02-25 00:47] WilkAndy opened #6402 "Richards test coverage"
### Description of the enhancement or error report

Ensure at least 80% test coverage for all lines, functions and classes in the Richards module.

[2016-02-25 00:48] WilkAndy commented on #6395
Oh!  I just realised the boldface comes from the new templates.  I thought you were shouting at me, @dschwen !

a

[2016-02-25 02:44] permcody commented on #6395
Lol
On Wed, Feb 24, 2016 at 5:48 PM Andy Wilkins <notifications@github.com>
wrote:

[2016-02-25 02:55] WilkAndy opened #6407 "BCs should call computeJacobian"
### Description of the enhancement or error report

My Richards Test Coverage report suggests that computeQpJacobian and computeQpOffDiagJacobian are not being called.  Shouldn't BCs contribute to the Jacobian?

### Identified impact
(i.e. Internal object changes, limited interface changes, public API change, or a list of specific applications impacted)

Awesomely increased convergence rates (i wi

[2016-02-25 03:01] WilkAndy commented on #6407
Actually, hold on, i think it might be a coding mistake on my behalf.  I think BCs call computeJacobianBlock instead (which i also have in the BCs), and i've accidently also include a computeJacobian function which is never called.

[2016-02-25 03:18] dschwen commented on #6395
Ha ha ha!

[2016-02-25 03:35] milljm opened #6408 "memory_logger.py no longer produces stack trace information"
memory_logger is failing to operate correctly on our HPC systems (no clue as to why), as well as our personal Macintosh machines (due in part to version differences of system python verses our miniconda implementation)

[2016-02-25 04:45] WilkAndy commented on #6407
Could someone tell me when BCs call computeJacobian and when the call computeJacobianBlock?

[2016-02-25 05:32] YaqiWang opened #6411 "MooseApp _type is not set"
### Description of the enhancement or error report
It appears that `MooseApp::_type` is not set anywhere. In turn `MooseApp::type()` returns empty string.

### Rationale for the enhancement or information for reproducing the error
Adding `_type(getParam<std::string>("_type"),` in the constructor header seems fixing the problem, but I am not sure if it is the correct fix.

### Identified impact
(i.

[2016-02-25 05:50] YaqiWang commented on #6407
I think it is better to not overwrite `computeJacobian` and `computeJacobianBlock` in your BC. Instead, just implement `computeQpJacobian` and `computeQpOffDiagJacobian`. To check when `computeJacobian` and `computeJacobianBlock`, I will use grep linux command to find where they are used, (possibly in threaded computing classes). And keep doing the search to figure out the call tree. Or you can ad

[2016-02-25 05:58] YaqiWang commented on #6369
The situation is simply auxkernel=>userobject=>auxkernel on the same `execute_on`. Currently we only have such an ordering: `preaux userobject=>auxkernel=>postaux userobject`. Unless we had `postUO auxkernel`, we need the error message. I think this should be a critical issue.

[2016-02-25 06:05] WilkAndy commented on #6407
Thanks Yaqi.  I was hoping someone would save me the pain of grepping.  It seems there is ComputeJacobianThread.C and ComputeFullJacobianThread that both have a computeFaceJacobian method that calls the BC computeJacobian or computeJacobianBlock, respectively.  But why my tests should only use the latter (Full and Block) versions, i'm not sure.

[2016-02-25 06:08] WilkAndy commented on #6407
# **I was wrong about Jacobians not being calculated for BCs !!**

(I love this BOLDFACE, heheheh.)

So this issue can be closed, but it would be good if someone could first answer my question above.

[2016-02-25 14:35] permcody commented on #6411
Well it certainly used to be: https://github.com/idaholab/moose/pull/5015/files

I guess we'll have to see which of the other guys broke it... Time for some `git blame`

[2016-02-25 14:39] permcody commented on #6369
While it is a problem, it is currently outside the design goal of MOOSE. We simply don't have arbitrary object dependencies and we aren't set up for that just yet. It would require a unified "coupling" interface so that every object's dependency was at a higher level in the inheritance. Any fix to this will require a huge refactor or some stop gap hack to combine across systems like we are doing n

[2016-02-25 15:10] #6376 closed

[2016-02-25 15:18] cpritam opened #6413 "Add HEVPLinearHardening test"
### Description of the enhancement or error report

Add test for linear hardening
### Rationale for the enhancement or information for reproducing the error

Improve test coverage
### Identified impact
None

[2016-02-25 15:22] dschwen commented on #6413
Why don't you just reference the existing issue?

On Thu, Feb 25, 2016, 8:18 AM Pritam Chakraborty <notifications@github.com>
wrote:

[2016-02-25 15:24] permcody commented on #6411
Gotta love git pickaxe
[code]

Looks like @aeslaughter!

[2016-02-25 15:26] permcody commented on #6411
@YaqiWang - I guess this is partly my fault for not having test coverage. Can you possibly build a test object or give me an idea of how you are using this so we can get coverage in the suite? I don't really want to build an object to just print out the type but I will if that's the easiest way.

[2016-02-25 15:28] friedmud commented on #6369
@permcody : do you think it would be hard to throw an error in this case? I
honestly don't know if it would be difficult/impossible or not.
On Thu, Feb 25, 2016 at 9:39 AM Cody Permann <notifications@github.com>
wrote:

[2016-02-25 15:30] permcody commented on #6369
For a specific combo, no. I'll look into it.

On Thu, Feb 25, 2016 at 8:28 AM Derek Gaston <notifications@github.com>
wrote:

[2016-02-25 15:31] dschwen opened #6414 "Add .editorconfig"
### Description of the enhancement or error report
Add an .editor config http://editorconfig.org/ to the project

### Rationale for the enhancement or information for reproducing the error
This is a neat way to specify editor configuration options regarding whitespace etc. for many many editors.

### Identified impact
This will help or contributors to comply with our code formatting standards.

[2016-02-25 15:47] permcody commented on #6414
This looks pretty cool!

[2016-02-25 15:54] YaqiWang commented on #6411
Yes, I submitted request but then forgot using it in Yak. Once this is done, I will be using it, so you will see app fails in the future

Another way I can think: make `MultiApp` parameter `app_type` optional. When it is not provided, use the master app, which can be obtained with this function. But not sure if you like it or not.

[2016-02-25 15:56] permcody commented on #6411
While that's ok and better than nothing, I'm trying to test features in MOOSE whenever possible for reasons like this. We don't know when you might quite using that in the future. I don't like to rely on app testing to uncover problems. That's the way we used to operate and it's just bad for reliability.

[2016-02-25 16:13] #6413 closed

[2016-02-25 19:55] bwspenc opened #6417 "Converte ElementFragmentAlgorithm to use smart pointers"
### Description of the enhancement or error report

The ElementFragmentAlgorithm used by XFEM does quite a bit of dynamic allocation using new/delete. Refactor this to use smart pointers.

### Rationale for the enhancement or information for reproducing the error

Avoid potential memory leaks

### Identified impact

Extensive changes to ElementFragmentAlgorithm and associated classes

[2016-02-25 19:55] dschwen opened #6418 "Rename TestEBSDAux to EBSDReaderPointDataAux and add EBSDReaderAvgDataAux"
### Description of the enhancement or error report
`TestEBSDAux` should be renamed to `EBSDReaderPointDataAux` for clarity and and a corresponding Aux kernel to get the grain averaged data `EBSDReaderAvgDataAux`

### Rationale for the enhancement or information for reproducing the error
Access to the grain averaged data would be helpful for visualization and diagnostics. Furthermore this will allo

[2016-02-25 20:03] bwspenc opened #6419 "Update geometry routines in XFEM to match MOOSE conventions"
### Description of the enhancement or error report
XFEM employs several geometry routines from 3rd party LGPL'd code. Modify these to match MOOSE coding conventions and pass in MOOSE data types when appropriate.

### Rationale for the enhancement or information for reproducing the error
Improve code uniformity.
Avoid additional work of converting data structures to/from the structures used by thes

[2016-02-25 20:08] bwspenc opened #6420 "Improve detection of element types in XFEM code"
### Description of the enhancement or error report
There are multiple locations in the XFEM code where element type is determined by node count, which is error prone.

### Rationale for the enhancement or information for reproducing the error
Node count is ambiguous -- multiple element types could have the same node count. Get it from an authoritative source.

### Identified impact
Internal change

[2016-02-25 20:10] bwspenc opened #6421 "Use libmesh finite elements in XFEM subelement integration"
### Description of the enhancement or error report
The XFEM code has its own routines for integration of sub-triangles used in partial elements, which results in code duplication.

### Rationale for the enhancement or information for reproducing the error
Use libMesh functions instead to avoid code duplication, potential error, and provide more flexibility.

### Identified impact
XFEM internal cla

[2016-02-25 20:12] bwspenc opened #6422 "Improve moment fitting in XFEM"
### Description of the enhancement or error report

XFEM provides a method for integrating partial elements using the moment fitting method. This technique can result in negative weights at integration points, which can cause a loss of positive definiteness. Improve handling of this case.
### Rationale for the enhancement or information for reproducing the error

The current code simply zeros out

[2016-02-25 20:47] #6401 closed

[2016-02-25 23:58] permcody opened #6427 "HexPolycrstalIC doesn't work with Intel compilers"
### Description of the enhancement or error report

It looks like there is some variation in the initial condition when using Intel compilers

### Rationale for the enhancement or information for reproducing the error

Use Intel compilers (rod) on the HexPolycrystalIC test to reproduce:
https://moosebuild.org/job/11656/

### Identified impact
(i.e. Internal object changes, limited interface change

[2016-02-26 00:01] dschwen commented on #6427
Yeah, I just touched that. I'll take a look.

[2016-02-26 00:02] cpritam opened #6428 "Test mohr_coulomb.planar_hard4 failed after rebasing"
### Description of the enhancement or error report

test mohr_coulomb.planar_hard4 failed after rebasing
### Rationale for the enhancement or information for reproducing the error

mohr_coulomb.planar_hard4: Time Step  4, time = 8
mohr_coulomb.planar_hard4:                 dt = 2
mohr_coulomb.planar_hard4:  0 Nonlinear |R| = 0.000000e+00
mohr_coulomb.planar_hard4:  Solve Converged!
mohr_coulomb.pl

[2016-02-26 00:02] cpritam commented on #6428
@WilkAndy

[2016-02-26 00:06] permcody opened #6429 "Richards sinks.s_fu_04 is failing"
### Description of the enhancement or error report

sinks.s_fu_04 is failing reliably on our test systems after all those merges
See https://moosebuild.org/job/11657/

### Rationale for the enhancement or information for reproducing the error

Run on a Linux system to reproduce

### Identified impact
(i.e. Internal object changes, limited interface changes, public API change, or a list of specific

[2016-02-26 00:17] dschwen commented on #6427
Looks like some mesh nodes now exactly coincide with the sharp grain boundaries :-/

[2016-02-26 00:32] permcody commented on #6427
Yeah, I don't know of a robust way of dealing with this. I guess if the resize works great, otherwise we'll just run this kind of test on GCC and CLANG.

[2016-02-26 00:47] WilkAndy commented on #6429
Thanks @permcody - i'll look into s_fu_04 now,

a

[2016-02-26 00:54] dschwen commented on #6427
I already tried it on Intel and it doesn't diff.

On Thu, Feb 25, 2016, 17:32 Cody Permann <notifications@github.com> wrote:

[2016-02-26 00:56] WilkAndy commented on #6429
Perhaps someone will have to help me with this.  CIVET says:

sinks.s_fu_04: Running CSVDiffer.py
sinks.s_fu_04: In s_fu_04.csv: Columns with header 'area_right' aren't the same length

I had a look at the stdout on CIVET and it is virtually identical to the stdout on my system.  It looks like somehow the master version of gold/s_fu_04.csv has some crazy formatting?  I'm a bit stuck.

[2016-02-26 01:02] permcody commented on #6429
Wait is that not your test? Your just seeing the somewhat sparse message
from the CSVDiffer. My guess is you're missing a time step or you have an
extra now. The tool is a bit tight lipped about which case :/
On Thu, Feb 25, 2016 at 5:56 PM Andy Wilkins <notifications@github.com>
wrote:

[2016-02-26 01:05] WilkAndy commented on #6429
OK, but i'm not sure which timestep is missing.  Probably the first or last, but how do i know?  On my system i get exactly gold/s_fu_04.csv.  How can i figure out what your system is giving (the stdout is identical)?

a

[2016-02-26 02:14] WilkAndy commented on #6428
OK, this is failing in the DGETRF routine which is a PETSc/LAPACK/BLAS thing.  This is called in RankFourTensor::maxtrixInversion (DGETRF does the LU factorization), and the fourth parameter is the rank of the matrix.

First off, i'm not sure why this doesn't just give an error code back, and then our matrixInversion routine would do the correct thing (return with the error code and we'd handle it

[2016-02-26 02:37] permcody commented on #6429
Don't know. I'll have to look tomorrow
On Thu, Feb 25, 2016 at 6:05 PM Andy Wilkins <notifications@github.com>
wrote:

[2016-02-26 02:42] WilkAndy commented on #6429
Thanks @permcody .  it is friday here now, so it'll be about 24*3 hours before i get to this,

a

[2016-02-26 03:42] permcody commented on #6428
We really need a better way for you to debug. Would you be interested in an
RSA token to login? We may be able to get you on to a similarly configured
system.
On Thu, Feb 25, 2016 at 7:14 PM Andy Wilkins <notifications@github.com>
wrote:

[2016-02-26 04:27] WilkAndy commented on #6428
I don't really want an RSA token.  it's just something else to look after and lose.  I guess if these errors happened every day it'd be different, but presently it's only every month or so.

[2016-02-26 05:47] WilkAndy commented on #6407
To answer my own question:

computeJacobian appears to be called if there is no Preconditioning block
otherwise
computeJacobianBlock is used.

Probably it's slightly different than this, but at least i know how to activate computeJacobian now.

[2016-02-26 05:47] #6407 closed

[2016-02-26 14:13] friedmud commented on #6407
Just in case someone runs into this later: it depends on which TYPE of
preconditioner is being used. The default block-diagonal preconditioner
knows that it only needs the block diagonal: so only computeJacobian is
called while other preconditioners may need off-diagonal blocks so they
call the more generic computeJacobianBlock.

In either case: neither of those functions should be overridden norm

[2016-02-26 14:58] lindsayad opened #6434 "Add registerInterfaceKernel"
To be consistent with other base classes, add the registerInterfaceKernel definition in Factory.h

[2016-02-26 15:32] permcody commented on #6417
Looks like this is pretty important. Almost all of your XFEM tests are leaking memory.

[2016-02-26 15:33] #6411 closed

[2016-02-26 15:37] dschwen commented on #6417
![b1f](https://cloud.githubusercontent.com/assets/202302/13356718/16c0c5d6-dc64-11e5-8004-b54cad5dd890.gif)

[2016-02-26 15:41] permcody opened #6436 "Generic TBB Thread issues in the framework and modules."
### Description of the enhancement or error report

We are still receiving several reports of several threaded tests failing on our test systems. These need to be fix. We are engineering a way to automatically generate and retrieve "core" files from our test systems. Reference this ticket as we fix these issues.

### Rationale for the enhancement or information for reproducing the error

Many thre

[2016-02-26 15:42] permcody commented on #2420
Closing - Moving issues regarding sporadic threaded fails to #6436.

[2016-02-26 15:42] #2420 closed

[2016-02-26 15:43] permcody commented on #6436
Here is one of our first stack traces produced by a TBB run on our test systems:

[code]

[2016-02-26 16:33] dschwen opened #6437 "Add unit test for FunctionMaterialPropertyDescriptor"
### Description of the enhancement or error report
Some paths (in particular error paths) of this class are not tested properly.

### Rationale for the enhancement or information for reproducing the error
Adding a unit test will improve test coverage.

[2016-02-26 16:34] bwspenc commented on #6417
Inconceivable!

[2016-02-26 16:43] #6418 closed

[2016-02-26 16:43] #6414 closed

[2016-02-26 16:44] #6427 closed

[2016-02-26 16:44] friedmud opened #6438 "LineFunctionSampler"
### Description of the enhancement or error report
Add the ability to Sample a Function along a line

### Rationale for the enhancement or information for reproducing the error
Need to be able to sample a Function along a line in a VectorPostprocessor for work being completed by @mellis13

### Identified impact
Possibly some refactoring of the whole tree of "Sampling" objects.  Most likely not.

[2016-02-26 17:01] #6434 closed

[2016-02-26 17:40] dschwen opened #6441 "Improve unit test for RankFourTensor"
### Description of the enhancement or error report

Test coverage on `RankFourTensor` could be better.
### Rationale for the enhancement or information for reproducing the error

Add a few more unit tests to improve coverage.

[2016-02-26 18:09] snschune opened #6442 "Parse double-indexed objects"
This is useful for general double indexed objects being read from input. For example we use cross section sets that interpolate based on multiple variables. Some Materials can hold multiple cross section sets (index 1) and each  cross section set can have its own set of variables (e.g. burnup, temperature etc.).

1. first separator is space, second one is comma.
2. Example  `material_variables = '

[2016-02-26 18:23] YaqiWang commented on #6442
https://github.com/idaholab/moose/blob/devel/framework/src/preconditioners/SingleMatrixPreconditioner.C#L30 is actually a use case for this. If in place, this new capability can cleanup this code,
otherwise `std::vector<NonlinearVariableName>` type is actually wrong (each element in the input is a comma-separated variable names) in parameter list and misleading to users when they see the syntax du

[2016-02-26 18:26] dschwen commented on #6442
@YaqiWang if you want to open that can of worms than we need to support this type of input parameters in the InputParameters and Parser systems! Just declare the input parameter as `std::vector<std::vector<T> > >` should make MOOSE do the right thing automatically (and provide a more useful type hint for the syntax dump).

[2016-02-26 18:28] permcody commented on #6442
Not quite automatically, There's no magic way to read that data in the right stride from Getpot. Also adding a delimiter to force the correct stride may need additional processing. I believe this could be supported but a new specialization in Parser.C will be needed at a minimum.

[2016-02-26 18:29] dschwen commented on #6442
Yes, of course a specialization will be needed, sorry if that was not clear. Such a specialization would standardize the syntax for such 2D input vectors.

[2016-02-26 18:32] friedmud commented on #6442
I'm not sure I like this particular syntax though.  Why not use something a little more standard... like Matlab-ish syntax or something:

[code]

[2016-02-26 18:37] permcody commented on #6442
Specifically are you wanting to change the delimiter or spacing? It looks
like @snschune didn't provide a thorough example here. I don't see the
space he mentions?

Yes, I'll look into various syntaxes.

On Fri, Feb 26, 2016 at 11:32 AM Derek Gaston <notifications@github.com>
wrote:

[2016-02-26 18:37] #6373 closed

[2016-02-26 18:38] snschune commented on #6442
We'd need a `Parser::setDoubleIndexParameter` that takes an argument `InputParameters::Parameter<std::vector<T> >* param` . Then we'd need to have a double
loop calling `GetPot::get_value_no_default` twice. Once to get the space separated items,
then to get the comma separated items. Or am I completely off here?

[2016-02-26 18:38] jwpeterson opened #6443 "XFEMFuncs.C is ridiculous"
#### Description of the enhancement or error report

About 80% of this file is copy-pasted from libmesh, plus there are things like `i4vec_zero` that just... shouldn't be needed for anything.

[2016-02-26 18:40] friedmud commented on #6442
@snschune We should decide on one way to do 2D arrays.  Input syntax needs to be consistent across MOOSE applications.  We don't need options for everything

[2016-02-26 18:41] permcody commented on #6442
No that's probably correct, or close to it. As @friedmud says, the implementation shouldn't be bad, we just need to agree on the syntax.

[2016-02-26 18:42] permcody commented on #6443
We definitely need to get rid of copy and pasted code!

Contributed stuff should be moved to `contrib`.

[2016-02-26 18:43] jwpeterson commented on #6443
OK, actually not that much is copy-pasted from libmesh, but I still think there is a lot of code duplication going on here that should be cleaned up.

[2016-02-26 18:46] snschune commented on #6442
I like @friedmud syntax better than the one we use in yak. To clarify I suggested this syntax with \s = space:
`var11,var12,var13 \s var21,var22 \s var31,var32,var33`

[2016-02-26 18:46] friedmud commented on #6414
This is interesting.  Has anyone tried the Emacs plugin yet?

I'm getting ready to jettison my current Emacs stuff anyway... it's not C++11 friendly (curly brace vector initialization drives it CRAZY).  So I'll give this a whirl...

[2016-02-26 18:52] friedmud commented on #6436
This particular one is happening because `PetscVector::_get_array()` is _NOT_ threadsafe: https://github.com/libMesh/libmesh/blob/master/src/numerics/petsc_vector.C#L1318

Locks need to be added in there...

@roystgnr Do you have any input on that?

[2016-02-26 18:59] jwpeterson commented on #6436
This correctly uses `VecGetArrayRead()` now, are you saying that's still not thread-safe?

[2016-02-26 19:01] friedmud commented on #6436
Setting the `_values` pointer is a race condition.  One thread might be setting the pointer while another thread is reading from it.

[2016-02-26 19:02] friedmud commented on #6436
It needs a doubly-checked lock here: https://github.com/libMesh/libmesh/blob/master/src/numerics/petsc_vector.C#L1323

[2016-02-26 19:03] friedmud commented on #6436
Also: two threads could be simultaneously _setting_ the `_values` pointer... could just lead to corrupting it.

[2016-02-26 19:06] friedmud commented on #6436
Just look at `VecGetArrayRead()`: http://www.mcs.anl.gov/petsc/petsc-current/src/vec/vec/interface/rvector.c.html#VecGetArrayRead

There is no locking in there... it just directly sets `a` (or passes it down to `VecGetArray` which sets it).

[2016-02-26 19:08] jwpeterson commented on #6436
Yeah, I'm remembering now that `VecGetArrayRead()` was just to allow this call to work when the solution vector was locked by the SNES, it has nothing to do with thread safety...

I've never implemented a "doubly-checked lock", is there an example somewhere?

[2016-02-26 19:08] friedmud commented on #6436
I can do it real quick.  Give me a minute.

[2016-02-26 19:10] bwspenc commented on #6417
It actually looks like the memory leaks are caused by the use of MooseArray objects. They don't appear to delete their memory.

[2016-02-26 19:16] bwspenc opened #6445 "Change reporting of node/element IDs in XFEM"
### Description of the enhancement or error report
When XFEM creates/deletes nodes and elements, it is currently adding 1 to them (for consistency with Exodus output). Don't do that anymore.

### Rationale for the enhancement or information for reproducing the error
 Better to not do that for consistency with the rest of MOOSE.

### Identified impact
Minor change to XFEM.C, only console output is

[2016-02-26 19:17] bwspenc opened #6446 "Fix memory errors in XFEM"
### Description of the enhancement or error report
Fix memory issues revealed in Valgrind testing

### Rationale for the enhancement or information for reproducing the error
Valgrind reports memory leaks and unitialized memory reads. This may be the cause of a reported failure on a developer's Mac.

### Identified impact
Changes to XFEM-calling code in Assembly.C, and XFEM module code.

[2016-02-26 19:18] friedmud commented on #6417
@bwspenc They don't delete their memory _automatically_ on purpose... because the memory is shared between multiple MooseArrays... so deleting it in one would leave dangling pointers in the others.

You can tell it to delete the memory explicitly if you know it's safe by using http://mooseframework.org/docs/doxygen/moose/classMooseArray.html#afb89810e7050acc276831d7a802b4e66

MooseArrays are speci

[2016-02-26 19:19] permcody commented on #6436
Hopefully this fixes a lot of the thread issues we've been seeing for
*years*. That code has been that way for a long time.

On Fri, Feb 26, 2016 at 12:08 PM Derek Gaston <notifications@github.com>
wrote:

[2016-02-26 19:25] friedmud commented on #6436
I have a fix implemented - testing now... but the the true test won't happen until it gets merged into MOOSE...

[2016-02-26 19:25] brianmoose commented on #6436
Here is another from https://www.moosebuild.org/job/11852/

[code]

[2016-02-26 19:26] permcody commented on #6436
@friedmud - as you can see we have an analogous problem in `computeElemValue()` too.

[2016-02-26 19:27] YaqiWang commented on #6442
Actually I like the matlab-ish syntax @friedmud mentioned better too. Space is still used as a delimiter for the last dimension. The additional dimension is using `;`.

[2016-02-26 19:36] friedmud commented on #6436
PR is in: https://github.com/libMesh/libmesh/pull/841

[2016-02-26 19:43] friedmud commented on #6436
@permcody Yeah: it's the same thing... it's calling the same function

[2016-02-26 19:44] friedmud commented on #6436
The reason we haven't tracked this down before is I just never saw a good stack trace.  Both of these are _perfect_.

[2016-02-26 19:51] permcody commented on #6436
Yeah, I'm thinking about adding a new capability to the TestHarness to grab
these "core" files when they appear and put them in the failed report. I'm
tired of these threaded failure. They've got to go!

BTW - I learned something on OS X that I probably should have know about
all this time but just figured out. That CrashReporter that runs when your
program crashes writes something similar to a co

[2016-02-26 19:52] bwspenc commented on #6443
@jwpeterson I agree completely, but I propose we close this because there are already other issues in the system to address this:

Issue #6421 is to get rid of the copy/pasted code from libmesh.  It's not actually a complete copy/paste, which is why it's here, but we do need to get rid of it.

Issue #6419 is to improve the rest of the code in this file.

[2016-02-26 20:01] jwpeterson commented on #6443
Ok!

[2016-02-26 20:19] bwspenc commented on #6417
@friedmud Yeah, I'm sitting next to David, and he explained that to me.  I just blindly used MooseArrays thinking they would behave like std::vectors.  I added a release(), so I think all is good now as far as that goes.

[2016-02-26 21:12] #6445 closed

[2016-02-26 22:04] dschwen opened #6448 "Improve ExpressionBuilder unit test"
improve test coverage

[2016-02-26 23:24] WilkAndy opened #6452 "Parallel-proof Richards tests"
### Description of the enhancement or error report

Some tests need pre-requisites, as in #6439

### Rationale for the enhancement or information for reproducing the error

### Identified impact
(i.e. Internal object changes, limited interface changes, public API change, or a list of specific applications impacted)

[2016-02-26 23:26] WilkAndy commented on #6452
See also @permcody 's remarks in PR #6433

[2016-02-26 23:27] bwspenc opened #6453 "Improve XFEM test coverage"
### Description of the enhancement or error report

Improve XFEM test coverage
### Rationale for the enhancement or information for reproducing the error

Test coverage isn't high enough
### Identified impact

Add tests and remove unneeded code in xfem module

[2016-02-26 23:28] #6320 closed

[2016-02-26 23:29] WilkAndy commented on #6441
@dschwen .  I wonder at the same time if you'd like to put the matrixInversion method into another class.  It's rather odd having it in RankFourTensor since it inverts an arbitrary matrix.

[2016-02-29 06:25] WilkAndy commented on #6453
Hi @bwspenc .  I'm not entirely sure what this XFEM is, but i believe it could be quite useful in my porous-flow+solid-mechanics stuff.  Are you planning on putting doco on moose framework.org anytime soon?

[2016-02-29 15:27] bwspenc commented on #6453
@WilkAndy Yes, I am planning to write this up soon.  I'm waiting for the dust to settle on this initial merge and make sure the issues are sorted out with that before I send out an announcement.

[2016-02-29 16:08] milljm commented on #6338
Turns out both tests do run. It is the TestHarness that only reports to the user, that its launching the ClusterLauncher once. The file the ClusterLauncher parses though, has _two_ tests in it, which get serialized into two separate _new_ directories that the TestHarness has no idea about.

I think I need to look at how the TestHarness is parsing what the ClusterLauncher returns. The ClusterLaunch

[2016-02-29 17:05] #6448 closed

[2016-02-29 17:07] #6452 closed

[2016-02-29 20:24] permcody commented on #6429
closed by #6439

[2016-02-29 20:24] #6429 closed

[2016-02-29 21:09] aeslaughter commented on #5166
I am re-opening this because I am submitting a different approach to make this possible.

[2016-02-29 22:43] WilkAndy commented on #6429
Thanks @permcody ,

a

[2016-03-01 00:24] jasondhales opened #6461 "Improve IsotropicPlasticity"
### Description of the enhancement or error report
The way the internal residual is computed is susceptible to round off error.  A simple change improves the situation.  I will do this.

### Rationale for the enhancement or information for reproducing the error
Improved convergence of the Newton solve in the material.

### Identified impact
(i.e. Internal object changes, limited interface changes,

[2016-03-01 16:02] tonkmr opened #6463 "The anisotropic interface kernels and examples need to be improved"
### Description of the enhancement or error report
The ACInterfaceKobayashi kernels have errors in the jacobian. Also, the snow examples have a mesh that is too coarse, severely impacting the solution.

### Rationale for the enhancement or information for reproducing the error
The incorrect Jacobian hurts convergence such that very small time steps are needed. The coarse mesh induces branching ind

[2016-03-01 16:06] dschwen commented on #6463
Sounds good, go for it. @aeslaughter did change the example very recently to make it mesh adaptive. It'd be great if the Jacobian got some love though.

[2016-03-01 16:10] aeslaughter commented on #6463
I didn't change the example, I just added another input file that uses
adaptivity. If it needs to be finer, go crazy just increase the refinement
level.

On Tue, Mar 1, 2016 at 9:06 AM, Daniel Schwen <notifications@github.com>
wrote:

[2016-03-01 16:37] permcody commented on #6395
@dschwen - Can this ticket be closed now due to #6450?

[2016-03-01 17:48] tonkmr commented on #6463
Having a coarse mesh in the phase field method can invalidate your results, show I made only one example, snow.i, that uses mesh adaptivity by default.

[2016-03-01 18:07] #6420 closed

[2016-03-01 18:41] dschwen commented on #6463
:+1:

On Tue, Mar 1, 2016, 10:52 AM Michael Tonks <notifications@github.com>
wrote:

[2016-03-01 19:16] brianmoose commented on #6436
This just happened on the libmesh update PR: https://www.moosebuild.org/job/12295/

[code]

[2016-03-01 19:26] permcody commented on #6436
@friedmud - Looks like we didn't get it. Is it possible this thread race affects more than just the _get/_restore arrays you messed with? What about map_global_to_local_index:
https://github.com/libMesh/libmesh/blob/878e2dce447adbcd27f2b2eb308cdf89f3ad0a21/include/numerics/petsc_vector.h#L1132

[2016-03-01 19:48] jwpeterson commented on #6436
Hmm... I suppose there could be a race on the class variable `_array_is_present`?  Otherwise, `VecGetOwnershipRange()` seems pretty safe (?) and everything else is local variables.

[2016-03-01 20:18] #6256 closed

[2016-03-01 20:36] sapitts opened #6467 "Update stringstream to stringify in Tensor Mechanics Actions"
### Description of the enhancement
A majority of the actions within Tensor Mechanics use std::stringstream to create unique kernel names; these actions ought to use Moose::stringify.

### Rationale for the enhancement
As identified by @dschwen in a previous pull request, these actions should use stringify to be up-to-date and avoid acting as poor examples for future code development

### Identifie

[2016-03-01 21:34] permcody commented on #6338
@milljm - Did #6456 fully resolve this issue?

[2016-03-01 21:34] permcody commented on #6332
@brianmoose - Can this issue be closed?

[2016-03-01 22:27] gardnerru commented on #6338
Yep. It looks like all tests ran last night.

[2016-03-01 22:29] permcody commented on #6338
Great - just in time to merge some other new broken code!  Not really, just messing with ya

[2016-03-01 22:29] #6338 closed

[2016-03-01 23:13] WilkAndy commented on #6395
Sorry, this cannot be closed yet as i haven't done my test.

[2016-03-02 00:03] friedmud commented on #6436
Craps

_array_is_present is guarded now.

Let me work on this a bit. I have time tonight. Can I abuse the testing
system by just putting in PRs with crazy libMesh branches?

On Tue, Mar 1, 2016 at 2:48 PM John W. Peterson <notifications@github.com>
wrote:

[2016-03-02 00:40] permcody commented on #6436
Yes you can use the test systems all you want. Each time you push it
cancels the old job so you can't really clobber it.
On Tue, Mar 1, 2016 at 5:03 PM Derek Gaston <notifications@github.com>
wrote:

[2016-03-02 03:12] friedmud commented on #6371
This was fixed in https://github.com/libMesh/libmesh/pull/842 it can be closed when libMesh is updated.

[2016-03-02 03:15] friedmud commented on #6436
In trying to reproduce this I found something else.

@roystgnr this looks to be an issue with `constrain_element_matrix` in parallel.  I can reproduce it in `dbg` mode on linux with TBB in the `kernels/scalar_constraint` MOOSE test.  It only seems to happen when I go to many threads (8+).

[code]

[2016-03-02 03:22] roystgnr commented on #6436
That doesn't look like a constrain_element_matrix issue.  The preconditions of the function are being violated.  Is it possible that matrix or col_dofs is being shared between threads?

[2016-03-02 04:03] friedmud commented on #6436
@roystgnr Possible - I'll look into it after I figure out what's going on with this `operator()` business.  Thanks for weighing in.

[2016-03-02 04:08] friedmud commented on #6436
It's definite a race condition for `_array_is_present` here: https://github.com/libMesh/libmesh/blob/master/include/numerics/petsc_vector.h#L1139

Setting that to `if(false)` "fixes" it.  I'm still trying to work out exactly why.

It's a bugger to reproduce BTW.  Gotta run moose_test in a loop thousands of times before it happens...

[2016-03-02 06:09] friedmud commented on #6436
The only way I can see that `_array_is_present` could be wrong (and/or the cached `_first` and `_last` could be out of sync is if `_get_array()` and `_restore_array()` are called simultaneously (because of the doubly checked lock it is a possibility).

HOWEVER: that _should_ never happen.  In fact, I just added that would catch that and throw an error... and it DOES NOT happen.

So I'm stumped.

I

[2016-03-02 07:04] friedmud commented on #6436
I actually think this is a side-effect of memory operation ordering surrounding the doubly-checked lock.  There are technical reasons why a doubly-checked lock can have pathological race conditions.  Memory operations can play out in different orders for different threads as new values of shared memory gets propagated.  I've never run into this actually happening before though.

It looks like ther

[2016-03-02 14:33] milljm opened #6473 "Give the memory_logger a little TLC"
We work in dark areas. I figure why not allow the graphical plotting capabilities of memory_logger be a bit easier on the eyes.

--darkmode

[2016-03-02 14:35] #6408 closed

[2016-03-02 15:30] #6383 closed

[2016-03-02 15:35] milljm opened #6474 "print options in memory logger need updating"
Line continuations were poorly implemented.

[2016-03-02 15:47] permcody commented on #6436
Well I've been reading about this issue and it sure is nasty. It's hard for me to believe that this is actually it but I'm willing to play along since we need a solution to this problem.

I know how badly you'd like to move to C++11 but I'm not entirely convinced that it's required to fix this problem. There are indeed no portable ways to deal with this issue but there are practical ways of dealin

[2016-03-02 16:12] friedmud commented on #6436
atomic is not enough (if you're thinking about making `is_array_present`
atomic)

Also, even if you make all of those variables (first, last, values, etc.)
atomic that would be slower than just locking and wouldn't fix the issue.

This really is the real problem. I traced it all out last night. Here's
what happens:

last = 0
first = 0
Is_array_present = 0

On all processors

Processor 0 gets into

[2016-03-02 16:16] jwpeterson commented on #6436
I like this solution for the short term as well.  I'm curious just how bad of a performance hit we're talking about, but I'd be willing to accept quite a bit of slow down to avoid crashes!

[2016-03-02 16:18] YaqiWang opened #6475 "InputParameters does not check if the parameter to be added in a group is valid"
### Description of the enhancement or error report
As title. I noticed this because I removed one parameter but forgot removing it from the `addParamNamesToGroup` list.

### Rationale for the enhancement or information for reproducing the error

### Identified impact
(i.e. Internal object changes, limited interface changes, public API change, or a list of specific applications impacted)

This issu

[2016-03-02 16:24] jwpeterson commented on #6436
Also, knowing what we now know about the doubly-checked lock pattern, we should probably remove any others from MOOSE if they exist...

[2016-03-02 16:25] permcody commented on #6436
OK fair enough, I understand that the traditional atomic operation isn't enough but that's not due to a problem with atomic operations. It's due to the fact that in this particular pattern not all threads execute the atomic by design....

TBB's "atomic" however does handle the memory coherency issue: https://www.threadingbuildingblocks.org/docs/help/tbb_userguide/Design_Patterns/Lazy_Initializatio

[2016-03-02 16:36] permcody commented on #6436
Well :hankey:
https://github.com/mintomic/mintomic/blob/master/README.md

[2016-03-02 17:09] jwpeterson commented on #6436
Also, I think we are also using the DCLP in libmesh when creating `RemoteElems`:
[code]

I know that helgrind complains about something to do with `Singleton`/`RemoteElem` creation (lock order violation) so I wonder if that's related...

[code]

[2016-03-02 17:24] bwspenc opened #6478 "Get rid of all usage of strings of 9s in XFEM"
### Description of the enhancement or error report

There are multiple places in the XFEM code where unsigned ints are set to constants that are strings of 9s.
### Rationale for the enhancement or information for reproducing the error

Eliminate all of these to reduce the potential for errors
### Identified impact

Multiple classes in XFEM module

[2016-03-02 17:42] friedmud commented on #6436
@permcody The TBB example isn't what we have.  It's trying to initialize _one_ variable.  That can be done with the help of atomics.  The issue that we have is that we have one "guard" variable and we are initializing several other variables.  Even atomics won't fix this situation because the "guard" variable can be true on other processors before they've received the values of the other variables

[2016-03-02 17:45] friedmud commented on #6436
@permcody: I take some of that back... it does sound like if we made _all_ of the variables TBB atomics then it would do the right thing.  Unfortunately, that would be slower than just locking the whole thing... and I'm not sure that it would work with our Pthread/OpenMP implementation of `atomic` either.

[2016-03-02 17:47] friedmud commented on #6478
lol

[2016-03-02 17:54] bwspenc commented on #6478
@friedmud We were just copying you!

[2016-03-02 18:07] permcody commented on #6436
I'm coming to the same conclusion as well. We could use TBB to solve this
issue but that solution won't do us any good for the other two models.
Mintomic might work for the other models but is no longer supported.
Perhaps it could be used as a short term fix with a real plan towards
C++11, otherwise we _have_ to remove these double check locks!

On Wed, Mar 2, 2016 at 10:45 AM Derek Gaston <notifi

[2016-03-02 18:24] #6461 closed

[2016-03-02 18:24] #6467 closed

[2016-03-02 18:25] #6474 closed

[2016-03-02 18:31] snschune opened #6480 "Extend InputParameters::defaultCoupledValue"
`InputParameters::defaultCoupledValue` is used when parsing `std::vector<VariableName>`, but
would not handle multiple assigned default values correctly, e.g.   `example = '1.0 3.0 1.1'`.
Currently it overrides the default with the last parsed element. In the example above all variables
would be set to `1.1`.

[2016-03-02 20:08] YaqiWang commented on #6480
This might open another can, for example, how about '1.0 real_var_name 1.1'?

[2016-03-02 20:11] permcody commented on #6480
I'm not sure I want to support that although we could rather easily. You
might be able to convince me but it seems like we should either do all or
nothing here.

On Wed, Mar 2, 2016 at 1:08 PM Yaqi <notifications@github.com> wrote:

[2016-03-02 20:18] friedmud commented on #6436
Yeah - and removing them sucks. I have an idea... let me try it out
On Wed, Mar 2, 2016 at 1:07 PM Cody Permann <notifications@github.com>
wrote:

[2016-03-02 20:45] snschune commented on #6480
@permcody I hoped you'd reduce the priority to low...:).

[2016-03-02 21:30] permcody commented on #6480
Why did you strip out the template?!? Are you not NQA-1 trained?

[2016-03-02 21:53] permcody commented on #6480
"normal" is the new low. When was the last time any of your tickets got worked on?

[2016-03-02 22:20] roystgnr commented on #6436
One of the top hits about Doubly Checked Locking is a Dr. Dobbs article by Scott Meyers and Andrei Alexandrescu, which is entitled "C++ and the Perils of Double-Checked Locking" but which might as well be titled "You're Screwed Without Memory Barriers".

I honestly don't understand the "You can't safely do double-checked locking in portable pre-C++11!" grargh, though.  You can't spawn a thread in

[2016-03-02 23:31] permcody commented on #6436
OK - well we need an action. I suggest we consider both:
- Lock the whole thing for now
- Investigate abstracting and using memory fences later

[2016-03-02 23:36] friedmud commented on #6436
I have another idea... but I have a test tomorrow so I won't be able to try
it out until after that...
On Wed, Mar 2, 2016 at 6:31 PM Cody Permann <notifications@github.com>
wrote:

[2016-03-02 23:39] friedmud commented on #6478
"Imitation is the sincerest form of flattery" may not apply when it comes
to poor coding habits! ;-)
On Wed, Mar 2, 2016 at 12:54 PM Ben Spencer <notifications@github.com>
wrote:

[2016-03-02 23:44] sapitts opened #6484 "Migrate Solid Mechanics postprocessors into Tensor Mechanics module"
### Description of the enhancement
Several post processors exist in solid mechanics but not in tensor mechanics;  these post processors will be replicated in tensor mechanics.

### Rationale for the enhancement
As part of the migration to a single continuum mechanics module, these postprocessors need to be moved into tensor mechanics.

### Identified impact
Tests within modules will be updated (co

[2016-03-02 23:48] friedmud commented on #6484
I vote for deprecation. You need to leave the existing tests in place as
long as that code remains in the code base too.
On Wed, Mar 2, 2016 at 6:44 PM Stephanie Pitts <notifications@github.com>
wrote:

[2016-03-02 23:51] sapitts commented on #6484
I'm looking at the [mass postprocessor ](https://github.com/idaholab/moose/blob/devel/modules/solid_mechanics/src/postprocessors/Mass.C)as a starting place which has tests in combined and misc.  Should I duplicate all of the tests in combined and misc to have one set of tests for the SM version and a second set of the same tests for the new TM version?

[2016-03-02 23:57] permcody commented on #6484
I'm not a big fan of any of this duplication but I recognize the need so we
can make some concessions here.

As far as testing goes if these are really duplicates, (barring the slight
name change so that they can coexist in the combined module) you should be
able to reuse the same tests while hitting both code paths by simply
creating addition "test specifications" and supplying the appropriate
--

[2016-03-03 16:03] cpritam opened #6487 "Kernel for chemical potential in Cahn Hilliard equation"
### Description of the enhancement or error report

Solve chemical potential in a weak sense
Allow chemical potential to be functions of material state (stress, etc.)
### Rationale for the enhancement or information for reproducing the error

To be used in modeling of diffusional creep at meso-scale
### Identified impact

(i.e. Internal object changes, limited interface changes, public API change,

[2016-03-03 16:29] sapitts commented on #6484
Can I change entire blocks with the the cli_args command, or does the input block name (e.g. Problem) need to be conserved when reusing the tests?

Case in point:  the tests in combined/evoling_mass_density use a solid mechanics action for the kernel, and I'd like to make sure that the tensor mechanics test for the postprocessor uses the only tensor mechanics kernels, materials, ect when testing t

[2016-03-03 16:48] permcody commented on #6484
No, cli_args won't work here. It only impacts information read from the input file. I don't believe that the SolidMechanics Action has any parameters that control what types of objects are built, therefore you can't impact what happens there. I think you'd have to add parameters (optional) to the Action Parameters itself to make this work like you'd like.

[2016-03-03 16:57] jiangwen84 opened #6488 "correct some mortar tests"
### Description of the enhancement or error report
some mortar tests are not running correctly.

### Rationale for the enhancement or information for reproducing the error
There are two issues for some mortar tests.

1. For a well-posed interface problem, two interfacial conditions are needed, the jump in the field ```[[u]] = i``` and the jump in the flux ```[[\grad u \dot n]] = j```. For the weak

[2016-03-03 17:16] YaqiWang opened #6490 "Continuously fixing compiling warnings with this issue"
### Description of the enhancement or error report
Occasionally we introduce compiling warnings in the debug mode, which can only be seen with `METHOD=dbg make`.

### Rationale for the enhancement or information for reproducing the error
Users can report warnings here. Then moose developers can reproduce the warning with the debug make.

### Identified impact
Typically the warnings are trivial. Bu

[2016-03-03 17:16] YaqiWang commented on #6490
/Users/wangy2/projects/moose/framework/include/vectorpostprocessors/PointSamplerBase.h:43:16: warning: 'PointSamplerBase::threadJoin' hides overloaded virtual function [-Woverloaded-virtual]

  virtual void threadJoin(const SamplerBase & y);

               ^

/Users/wangy2/projects/moose/framework/include/userobject/GeneralUserObject.h:57:16: note: hidden overloaded virtual function 'GeneralUserO

[2016-03-03 17:16] YaqiWang commented on #6490
In file included from /Users/wangy2/projects/moose/framework/src/outputs/ICEUpdater.C:18:

/Users/wangy2/projects/moose/framework/contrib/ice_updater/include/Updater.h:432:25: warning: unused parameter 'stream' [-Wunused-parameter]

  Updater(std::istream &stream) { mooseError("Updater requires --enable-cxx11 parameter to update_and_build_libmesh.sh."); }

                        ^

1 warning gene

[2016-03-03 17:17] YaqiWang commented on #6490
The previous warnings are produced with a832410804fa749c43cb63d065fcf931ffdd2567.

[2016-03-03 17:21] dschwen commented on #6490
We have #1777 for this

On Thu, Mar 3, 2016, 10:17 AM Yaqi <notifications@github.com> wrote:

[2016-03-03 17:21] YaqiWang commented on #6490
@permcody wanted a new one closer to the top. Possibly a good idea.

[2016-03-03 17:22] permcody commented on #6490
We do, but it's fine to open a new one to deal with a specific issue. Especially since he's only reporting and not fixing at the moment.

[2016-03-03 19:40] dschwen opened #6493 "Warn if unspecialized dataLoad/dataStore function is used on a class with a vtable"
### Description of the enhancement or error report
The unspecialized `dataLoad<>` and `dataStore<>` function templates just serialize the memory directly occupied by a type. If that type is a class/struct with a virtual member this serialization/unserialization will overwrite the vtable pointer with an invalid value, which will cause a segfault upon destruction (at the latest).

We could relativel

[2016-03-03 20:55] dschwen commented on #6493
Hmm, this does not work for built in types...

[2016-03-03 22:41] permcody commented on #6488
@jiangwen84 - Thanks for the clear issue and explanation.

[2016-03-03 22:44] #6488 closed

[2016-03-03 23:18] dschwen opened #6497 "Move RankTwoTensor and RankFourTensor into framework"
### Description of the enhancement or error report

I think it is time that `RankTwoTensor` and `RankFourTensor` become first class citizen of the MOOSE framework. We need these classes in _both_ phase field and tensor mechanics. At the same time we should move the functionality of `ElasticityTensorR4` into `RankFourTensor` and jettison that class entirely.

### Rationale for the enhancement or in

[2016-03-03 23:20] permcody commented on #6497
I'm supportive of this as long as everything you mention here follows on. I don't want to move them and then have everything else stay as is.

[2016-03-03 23:21] #6463 closed

[2016-03-03 23:53] permcody commented on #6436
@friedmud We are holding off on the libMesh update. It's nearly 5:00 PM on Thursday here on a Friday off week. Let us know if you'll be able to get to this during the weekend. If not, we may merge libMesh on Monday to get the other threading fixes into MOOSE. I would really love to have this PETSc lock fixed though, even if we go for the lock-the-whole-thing approach. Have a good weekend!

[2016-03-04 01:55] tonkmr commented on #6497
I am very much in favor of moving the tensors into MOOSE.

I'm less sure about getting rid of ElasticityTensorR4 (the horrible name was because solid_mechanics already had an ElasticityTensor). The reason we created ElasticityTensorR4 was because we had the dream of someday making smart tensors that didn't require us to store 81 components of a tensor that actually only has 3 or 2 unique component

[2016-03-04 03:20] mangerij commented on #6497
I like this idea. We'll have to watch this closely with Ferret since we also have heavy dependence on tensor mechanics and ElasticityTensor.

[2016-03-04 05:34] friedmud commented on #6436
I will be able to fix it this weekend. It will be fixed one way or the
other...  Sorry for the delay!

BTW: My test went well ;-)

On Thu, Mar 3, 2016 at 6:53 PM Cody Permann <notifications@github.com>
wrote:

[2016-03-04 15:43] bwspenc commented on #6446
There are no issues related to XFEM tests in last night's Valgrind testing, so I'm closing this issue.  All remaining issues are timeouts in unrelated tests.

[2016-03-04 17:01] permcody commented on #6497
We need to get testing up on moosebuild.org for Ferret. Seems like I talked
to Brian about this and there was a specific reason we hadn't done it yet.
Let's take a look at this again next week and get it added!

On Thu, Mar 3, 2016 at 8:20 PM John <notifications@github.com> wrote:

[2016-03-04 17:12] #6438 closed

[2016-03-04 18:27] bwspenc opened #6503 "Perform XFEM mesh modification on initialization"
### Description of the enhancement or error report
Currently, XFEM only modifies the mesh at the end of the timestep, and then repeats the solve if needed.  Add a call to modify the mesh at initialization.

### Rationale for the enhancement or information for reproducing the error
For cases with a stationary crack, this is an important performance improvement, especially if only one step is solved

[2016-03-04 18:34] bwspenc opened #6505 "Remove code duplication in XFEMGeometricCut2D.C"
### Description of the enhancement or error report
There is duplicated code for marking element and fragment cuts in this class.  Consolidate it.

### Rationale for the enhancement or information for reproducing the error
Duplicated code is bad.

### Identified impact
XFEMGeometricCut2D.C

[2016-03-04 21:37] bwspenc opened #6506 "Add option to SimplePredictor to skip specified time steps"
### Description of the enhancement or error report
Add option to SimplePredictor to skip application of the predictor at specified steps.

### Rationale for the enhancement or information for reproducing the error
SimplePredictor is very helpful in many cases with monotonic loading, but if the loading is not monotonic, it can make convergence worse. This option would allow the user to skip the pre

[2016-03-04 23:18] bwspenc commented on #6506
Actually, after coding this up, I think this makes more sense to do in the base class.  That's how I've implemented it.

[2016-03-06 04:22] friedmud opened #6508 "Thread MooseMesh::CacheInfo"
### Description of the enhancement or error report

Currently MooseMesh::CacheInfo is serial... and could take quite a lot of time.  Thread it.
### Rationale for the enhancement or information for reproducing the error

Currently slow.
### Identified impact

It will speed things up.

[2016-03-06 04:36] friedmud opened #6509 "FEProblem::prepareMaterials() is segfaulting"
### Description of the enhancement or error report
`FEProblem::prepareMaterials()` can segfault.

### Rationale for the enhancement or information for reproducing the error
If you run `constraints/nodal_constraint` a few million times, eventually it will segfault in `FEProblem::prepareMaterials()`.

The issue appears to be that `MooseMesh::cacheInfo()` isn't quite right and `getSubdomainBoundaryID

[2016-03-06 04:38] friedmud commented on #6509
This could have been avoided if more stuff was `const` (yes, I know, it's me saying that) so I'm going to fix up some of that in `MooseMesh` while I'm here...

[2016-03-06 05:49] friedmud opened #6511 "kernels/scalar_constraint not thread safe"
### Description of the enhancement or error report

As discussed in #6436 `kernels/scalar_constraint` MOOSE test will segfault when run with many threads.  Here is the output of running in `dbg` mode:

[code]
### Rationale for the enhancement or information for reproducing the error

I can reproduce it easily on hpcbuild with TBB with 6 threads.

[2016-03-06 06:08] friedmud commented on #6436
Ignoring https://github.com/idaholab/moose/issues/6511 (fix that one later) and using https://github.com/idaholab/moose/pull/6510 and https://github.com/libMesh/libmesh/pull/853 I can now loop `run_tests --n-threads=6` indefinitely without a single error.

Once https://github.com/idaholab/moose/issues/6511 is taken care of... we may have licked this...

[2016-03-06 21:36] friedmud opened #6512 "nem_spread Segfaults"
### Description of the enhancement or error report
@milljm it seems like something is off in our compile of the SEACAS tools.  I'm trying to use `nem_slice` and `nem_spread` to create Nemsis files and `nem_slice` is working fine... but `nem_spread` segfaults.

### Rationale for the enhancement or information for reproducing the error
To reproduce go to `test/tests/kernels/2d_diffusion` and run:

[

[2016-03-06 22:51] friedmud opened #6513 "BoundaryRestrictable Not Correct When Using Nemesis"
### Description of the enhancement or error report
BoundaryRestrictable is doing some checks up front that cause failure when using domain decomposed Nemesis meshes.

### Rationale for the enhancement or information for reproducing the error
When trying to run a simple_diffusion solve on a domain decomposed square I get this:

[code]

It looks BoundaryRestrictable is only looking at boundary IDs t

[2016-03-06 23:04] friedmud commented on #6513
Added a test that displays the problem over here: https://github.com/friedmud/moose/commit/b197b7729a4b38de344e589294ce3aa9ce60fa23

Make sure you run it with 4 procs!

[2016-03-06 23:10] friedmud commented on #6513
Actually - it looks like the problem is that named entities (BCs, etc.) are not written the Nemesis file when using Nemesis output in MOOSE!

I think I'll close this ticket and start a new one for that...

[2016-03-06 23:10] #6513 closed

[2016-03-06 23:14] friedmud opened #6514 "Test Nemsis Named Entity Support"
### Description of the enhancement or error report
Nemesis file named entity support is currently missing in libmesh ( https://github.com/libMesh/libmesh/issues/855 )... when it gets added we need to add a test for it in MOOSE to make sure it continues to work.

I already have a start on that over here: https://github.com/friedmud/moose/commit/b197b7729a4b38de344e589294ce3aa9ce60fa23

[2016-03-07 02:20] friedmud opened #6515 "Extra Ghosting Layers"
### Description of the enhancement or error report

I need the ability to ghost extra "layers" of elements beyond the normal _1_ that we always do.
### Identified impact

Current plan is just to add one more option to the `Mesh` block: `ghost_layers = 4` to get more ghosting.

[2016-03-07 14:50] brianmoose commented on #6497
We already test against Ferret in "App Tests". Is there something more we need?

[2016-03-07 14:59] permcody commented on #6497
Yes, Ferret should follow our process. Otherwise if it fails it could just
be Ferret having broken code. I'll talk to John and see if he's willing to
go the whole devel/master route like the rest of our applications do.

On Mon, Mar 7, 2016 at 7:50 AM brianmoose <notifications@github.com> wrote:

[2016-03-07 15:41] #6436 closed

[2016-03-07 16:49] #6473 closed

[2016-03-07 17:03] andrsd commented on #6511
Interesting. But, scalar kernels are _not_ evaluated in a threaded loop.

[2016-03-07 17:44] friedmud commented on #6511
But it could be a side effect... like the state/size of the DenseMatrix is getting changed in the scalar kernel constraints code... and then it's tripping us up further down the line.

[2016-03-07 19:54] #5166 closed

[2016-03-07 21:21] dschwen opened #6522 "Add CALPHAD helper materials"
### Description of the enhancement or error report
To support free energies from thermodynamic databases we need a few helper materials. The materials deal with providing the right free energy derivatives needed by phase field, based on the CALPHAD free energy formulation, that uses sublattice concentrations.

### Rationale for the enhancement or information for reproducing the error
This issue wi

[2016-03-07 21:28] dschwen opened #6523 "DerivativeSumMaterial should support arbitrary derivative orders"
### Description of the enhancement or error report
`DerivativeSumMaterial` is currently limited to third order derivatives. This limitation is arbitrary and should be lifted, especially since `DerivativeParsedMaterial` supports any derivative order.

### Rationale for the enhancement or information for reproducing the error
Limitation is confusing.

### Identified impact
This will make the sum mat

[2016-03-07 22:35] andrsd commented on #6511
It most likely is.  One place that is touching these DenseMatrices for off-diagonal blocks of scalar variables is when we are handling the integrated boundary condition. Kernels, may be, too...

[2016-03-08 00:40] bwspenc opened #6524 "Robust Coulomb contact enforcement"
### Description of the enhancement or error report

Develop improved algorithms for enforcement of Coulomb contact
### Rationale for the enhancement or information for reproducing the error

The current implementation of Coulomb contact enforcement using both the penalty and kinematic formulations still has some serious robustness and performance issues, and the syntax is messy for the kinematic o

[2016-03-08 19:02] friedmud opened #6525 "Cannot output XDA and XDR simultaneously"
### Description of the enhancement or error report
If you set `xda = true` and `xdr = true` in an `Outputs` block in an input file you get this:

[code]

[2016-03-08 19:42] #6503 closed

[2016-03-08 19:50] permcody opened #6526 "Possible issue with calculating Flux with displacements"
### Description of the enhancement or error report

We have a user reporting an unexpected result of a flux calculation when using displaced mesh with a navier stokes simulation.

### Rationale for the enhancement or information for reproducing the error

Problem was found using the navier stokes module and can be reproduced with the input file attached in the following discussion:
https://groups.

[2016-03-08 20:01] aeslaughter commented on #6525
This is a symptom of xdr/xda which creates folders or files with out
extensions or something non-traditional.

You can get around this by creating two blocks:

[Outputs]
  [./xda]
    type = XDA
  [../]
  [./xdr]
    type = XDR
  [../]
[]

On Tue, Mar 8, 2016 at 12:02 PM, Derek Gaston <notifications@github.com>
wrote:

[2016-03-08 21:21] aeslaughter opened #6530 "`generalized_plane_strain_tm_contact` not reliable"
### Description of the enhancement or error report
The `generalized_plane_strain_tm_contact` has unreliable results for the `react_z` variable depending on how the test is execute.

### Rationale for the enhancement or information for reproducing the error

Serial
[code]

MPI 2
[code]

MPI 2 w/o `--no-gdb-backtrace`
[code]

### Identified impact
(i.e. Internal object changes, limited interface cha

[2016-03-08 23:47] friedmud opened #6533 "DiscreteMaterial Discussion"
### Description of the enhancement or error report
The new `DiscreteMaterial` System has generated a lot of discussion... I would like to capture that _here_ so we can decide if there are any actionable issues...

[2016-03-08 23:49] friedmud commented on #6533
Ok - I'll start: how are Stateful material properties handled with DiscreteMaterials?  Especially since they have no block restriction.  Is storage automatically set aside for element/side/boundary stateful properties?

[2016-03-08 23:50] friedmud commented on #6526
I don't think it's a problem calculating the flux.  He is actually getting the wrong/different answer using displaced mesh vs a similar grid he displaced in Cubit.

[2016-03-08 23:52] friedmud commented on #6525
What do you mean?  They have extensions on them: `.xda` and `.xdr` and no
folders.

On Tue, Mar 8, 2016 at 3:01 PM Andrew E Slaughter <notifications@github.com>
wrote:

[2016-03-08 23:54] aeslaughter commented on #6525
I will have to look into, I recall there being something strange. I might
be thinking of checkpoints.

On Tue, Mar 8, 2016 at 4:52 PM, Derek Gaston <notifications@github.com>
wrote:

[2016-03-08 23:59] aeslaughter commented on #6533
Storage happens based on MaterialBase, so DiscreteMaterials and Materials act exactly the same with respect to storage.

There was some problems when moving from block to block when DiscreteMaterial did not have computeQpProperties called because the data stored in MaterialData was not updated so there was garbage values.

Since, we cannot "reset" material properties automatically I had to add the

[2016-03-09 00:00] YaqiWang commented on #6533
I am guessing the DesreteMaterial is actually just storing some by-product of the iteration with the master material calling it. It could be never stateful. Just my cents.

Why cannot we make the DiscreteMaterial bock/boundary restrictable as the master material? They could be on the same blocks, right?

[2016-03-09 00:06] aeslaughter commented on #6533
@YaqiWang Which master material, what if more than one object uses the DiscreteMaterial.

I am not sure why there is some much discussion regarding the Block/Boundary stuff. There is nothing to restrict, the DiscreteMaterial isn't executed by MOOSE, so it can't be restricted.

If your DiscreteMaterial declares materials (`declareProperty`) then those properties will be updated on the block/boundar

[2016-03-09 00:08] aeslaughter commented on #6533
Like I said in the email, I want the BISON team to start using the system to see how it shakes out.

[2016-03-09 00:28] friedmud commented on #6533
I guess I just don't like the idea that a Material has a handle to another
Material.  We've always maintained that that was not the right design for
the original SolidMechanics system... and I don't understand why we're now
endorsing that behavior.

The issue with block/boundary restriction is that you've tied these
Materials together too strongly now.  Instead of a Material just requiring
a mater

[2016-03-09 00:42] #6159 closed

[2016-03-09 00:51] aeslaughter commented on #6533
Well, that is much closer to my original design that nobody liked on a
branch I just deleted, b/c I thought I was done with it. However, there is
actually very little difference in the compute methods between this an that
branch.

Also, all the block/boundary consistency checks include
`DiscreteMaterials`. So, I don't think it would be possible to declare the
same property in two different `Discre

[2016-03-09 00:56] friedmud commented on #6533
`DiscreteMaterial` to declare properties but only recompute them, so they
would have get methods that return writable references.

You just described `DiscreteUserObjects`  :wink:

[2016-03-09 02:32] aeslaughter commented on #6533
`DiscreteUserObjects` do not have a writable reference to the
MaterialProperty.

It would also be simple to add block/boundary compatibility checks on the
`getDiscreteMaterial` call and allow `DiscreteMaterial` objects to be
block/boundary restricted. I will do this tomorrow, it should be difficult.

On Tue, Mar 8, 2016 at 5:56 PM, Derek Gaston <notifications@github.com>
wrote:

[2016-03-09 15:41] dschwen opened #6540 "Fix use of ACBulk without template parameter"
### Description of the enhancement or error report
Reported here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/moose-users/yQoZ7LrBdEo/lCMuNrt1BQAJ we have a few compile errors on certain compilers due to an unspecified template parameter.

### Rationale for the enhancement or information for reproducing the error
Our code is not standard compliant. This needs to get fi

[2016-03-09 15:52] dschwen opened #6542 "Functions are not always returned as the matching thread copies"
### Description of the enhancement or error report
LibMesh Parsed functions are _not_ thread safe. And thus Moose Functions are not guaranteed to be thread safe. It looks like the framework does set up thread copies of Moose Functions, however, in some cases, such as BCs (#6290) only thread copy 0 is ever returned by `getFunction`.

### Rationale for the enhancement or information for reproducing

[2016-03-09 16:07] dschwen commented on #6540
The compiler that complained was a gcc 4.4.7

[2016-03-09 16:51] friedmud commented on #6533
But, like you say, that's incompatible with the current design.  What
happens when there is a mismatch between the blocks the "master" Material
is defined on and the blocks the DiscreteMaterial is defined on?

On Tue, Mar 8, 2016 at 9:32 PM Andrew E Slaughter <notifications@github.com>
wrote:

[2016-03-09 17:00] friedmud commented on #6542
Good catch @dschwen it will be nice to fix this up.

[2016-03-09 17:22] YaqiWang commented on #6533
How about we get rid of the DiscreteMaterial completely but just allow cyclic dependency of materials? Moose will iterate all materials in the cycle and check the convergence. This might sound too crazy...

[2016-03-09 18:17] #6540 closed

[2016-03-09 20:10] #6505 closed

[2016-03-09 20:51] friedmud commented on #6533
@YaqiWang good thinking... but there's no way MOOSE can do this automatically... Materials might need to iterate between each other in ways MOOSE cannot determine just from the dependency graph...

[2016-03-09 21:09] YaqiWang commented on #6533
@friedmud That is true. How about we let user set a parameter in there material and indicating the dependency to other material properties are soft, meaning the cycle can be broken there and the depending properties can be evaluated after. Then MOOSE can start the loop from the material which has the soft dependency. I think we need to be cautious on creating new system something like DescreteMate

[2016-03-09 21:16] friedmud commented on #6533
@YaqiWang MOOSE _cannot_ do the cycling... at all.  Say you have 3 Materials: A, B, C.  A depends on both B and C.

Here are some options:

- A might need to cycle with B for a while then cycle with C.
- A might need to cycle back and forth with B and C
- A might need to cycle with C until convergence then get an update from B and cycle with C again
- etc., etc.

There is no way to encode this inf

[2016-03-09 21:39] YaqiWang commented on #6533
Then how about `Material` provide an interface like `recomputeProperty(property_name)`. Calling that will result into recompute the material declaring it on the element. We can do this on element level, i.e. that function finds the correct material and then calls `computeProperties()`. We do not have to pass the updated parameters to the material, instead just let the material to be recomputed get

[2016-03-09 22:38] aeslaughter commented on #6533
@YaqiWang You are basically described the syntax we had on the previous
attempt to do this. The problem with it is that the `recomputeProperty`
method cannot simply recompute a single property it must recompute all the
properties that the material is responsible for. Thus, you are at the
current design, get the material you want to compute and call
`computeProperties`.

I am nearly done with worki

[2016-03-09 23:15] #6297 closed

[2016-03-09 23:38] #6506 closed

[2016-03-10 02:48] WilkAndy commented on #6402
OK, it's almost 100% and i'm a bit bored by this now, so am closing.

[2016-03-10 02:48] #6402 closed

[2016-03-10 03:34] #6348 closed

[2016-03-10 05:35] dschwen commented on #6542
The problem seems to be specific to `FunctionPeriodicBoundary`. This is not a MOOSE object, but inherits directly from libMesh's `PeriodicBoundaryBase`. The thread safety should be provided through the `clone` method but that only invokes a copy constructor, which copies the _pointers_ to the MooseFunctions. At no point are the thread copies in MOOSE accessed. I presume the action that sets up the

[2016-03-10 14:24] permcody commented on #6542
No Actions are threaded. In fact no part of the setup is threaded. If you
want thread copies of something you just need to make your own loop.

On Wed, Mar 9, 2016 at 10:35 PM Daniel Schwen <notifications@github.com>
wrote:

[2016-03-10 14:39] #6525 closed

[2016-03-10 15:06] dschwen commented on #6542
The problem is that MOOSE and libMesh seem to have different approaches to furnish thread copies. libMesh creates them using the `clone()` method from a master copy, whereas MOOSE constructs _n_ thread copies from the get go and puts them in the warehouse. The MOOSE function object (for which thread copies are in a warehouse) is used in a class derived directly from libmesh, of which only one copy

[2016-03-10 15:17] dschwen commented on #6542
Ugh, regardless of thread number clone is just called twice... :-/

[2016-03-10 20:45] #6493 closed

[2016-03-10 21:49] backmari opened #6552 "Remove name chop in DisplacementAboutAxisAction"
### Description of the enhancement or error report

I will remove code in DisplacementAboutAxisAction that chops the block and sub-block from the name of an object (_name) since _name no longer includes those parts (since https://github.com/idaholab/moose/pull/5723 I think).

### Rationale for the enhancement or information for reproducing the error

If more than one DisplacementAboutAxis BC is us

[2016-03-10 22:59] dschwen opened #6555 "Module tests are not executed anymore!"
### Description of the enhancement or error report
`./run_tests` in `modules/phase_field` runs **zero** tests @milljm

Reverting to a has before 9cd6cf0ef0e27a6159bf9232c975544e82dcb537 makes it run fine. So I strongly suspect that commit/

[2016-03-10 23:25] dschwen commented on #6555
Fixed with 6e7a612bc036b

[2016-03-10 23:25] #6555 closed

[2016-03-11 00:32] dschwen commented on #6360
This also affects `ParsedMaterial`...

Ping @aeslaughter (something to consider tomorrow).

[2016-03-11 00:35] bwspenc opened #6556 "Option to skip predictor for a list of old times"
### Description of the enhancement or error report
When started using the feature developed in #6506, I realized that what I really want is to specify a list of old times for which I want to skip the predictor.  We often use piecewise linear functions to define a loading history, and they have kinks in them at the points that define the function. It's the step following that kink where we need to

[2016-03-11 00:58] #6490 closed

[2016-03-11 00:59] #6552 closed

[2016-03-11 16:05] permcody commented on #6509
Let's get this PR in. I'd really like our build page to get to green and stay that way.

@friedmud, if you don't have time to fix, I'll address @jwpeterson's comments.

[2016-03-11 22:00] #6509 closed

[2016-03-11 22:30] permcody commented on #6324
Examples are now running and part of CIVET.

[2016-03-11 22:30] #6324 closed

[2016-03-11 22:33] permcody commented on #6395
All HVEP UserObjects are tested. Thanks all!

http://mooseframework.org/docs/coverage/tensor_mechanics/tensor_mechanics_coverage/src/userobjects/index.html

[2016-03-11 22:33] #6395 closed

[2016-03-11 22:33] permcody commented on #6371
Fixed in https://github.com/libMesh/libmesh/pull/842

[2016-03-11 22:33] #6371 closed

[2016-03-11 22:34] permcody commented on #6360
@dschwen - Please check if this is an issue after your changes resulting from our conversation this morning.

[2016-03-11 22:35] permcody commented on #6296
@aeslaughter - I believe you added a test for this correct?

[2016-03-11 22:42] permcody commented on #6316
I verified that there are no outstanding compiler warnings in the framework (or this particular class as of 3/11/2016). This ticket didn't get referenced when the warnings got fixed.

[2016-03-11 22:42] #6316 closed

[2016-03-11 22:47] permcody opened #6564 "Warn if C++11 isn't supported"
### Description of the enhancement or error report

We'd like MOOSE to start reporting if C++11 isn't supported. We'd like MOOSE to read the various libMesh C++11 config flags and report all of them if any of them fail at the end of a simulation. The idea is to get users to report compilers that don't support the new standard. Additionally, we'd like a method for disabling this message. Perhaps we

[2016-03-11 22:51] permcody commented on #6228
Most of this appears to have been fixed. I found one more warning when compiling with C++11 disabled. I'm opening a PR now.

[2016-03-11 23:22] aeslaughter commented on #6296
Somewhere in #5680

[2016-03-11 23:22] #6296 closed

[2016-03-11 23:58] dschwen commented on #6360
I think #6567 will fix this (in particular this commit: ea62ce2)

[2016-03-12 19:28] friedmud commented on #6509
Sorry guys - forgot about this PR... and wasn't available yesterday.  Thanks for fixing this up!

[2016-03-12 22:48] SudiptaBiswas opened #6568 "Creating plasticity model with multiple internal variables"
### Description of the enhancement or error report

Implementing Chaboche's rate dependent plasticity model with multiple internal variables.

### Rationale for the enhancement or information for reproducing the error
Current ComputeMultiPlasticityStress and related classes in TensorMechnics module only consider single internal variable.

### Identified impact
Additional plasticity model available

[2016-03-14 13:16] milljm opened #6569 "memory_logger options issue"
When opting to run memory logger with no stack trace features, it creates a none type list which I wasn't handling properly.

[2016-03-14 14:56] permcody opened #6573 "Make TestHarness not case sensitive to parameters"
### Description of the enhancement or error report

Some parameters like valgirnd = 'NORMAL | HEAVY ' are currently case-sensitive
### Rationale for the enhancement or information for reproducing the error

MOOSE isn't case sensitive, the TestHarness shouldn't be either.
### Identified impact

(i.e. Internal object changes, limited interface changes, public API change, or a list of specific applic

[2016-03-14 14:59] #6228 closed

[2016-03-14 15:27] dschwen opened #6574 "Make checkMatProps templated and use more specific types"
### Description of the enhancement or error report
`checkMatProps` and the underlying multimaps use `unsigned int` as keys. This should be changed to the more specific `SubdomainID` and `BoundaryID`. Discussed in #6567

### Rationale for the enhancement or information for reproducing the error
More specific types make the code more readable and less error prone with respect to mixing up boundary a

[2016-03-14 15:37] #6360 closed

[2016-03-14 15:50] #6475 closed

[2016-03-14 16:18] giopastor opened #6576 "Extend IterationAdaptiveDT to include the time step from a postprocessor as an additional criterion"
Propose to add a new timestepper that combines IterationAdaptiveDT and PosprocessorDT. This will be useful, e.g., to include time step criteria from material models.

[2016-03-14 16:40] permcody commented on #6576
In general, we ask that you leave the template questions there, are at least answer all three. These pieces of information are necessary for NQA-1 compliance.

[2016-03-14 16:50] giopastor commented on #6576
Ops sorry!
### Description of the enhancement or error report
Propose to add a new Timestepper that combines IterationAdaptiveDT and PosprocessorDT.

### Rationale for the enhancement or information for reproducing the error
This will be useful, e.g., to include time step criteria from material models.

### Identified impact
(i.e. Internal object changes, limited interface changes, public API chan

[2016-03-14 18:39] dschwen opened #6580 "getZeroMaterialProperty(Old|Older) add hasMaterialPropertyCheck"
### Description of the enhancement or error report
#6293 uncovered issues in YAK and Bison.

- [ ] Need Old/Older versions for `getZeroMaterialProperty` to fix Bison.
- [ ] Move logic from `getDefaultMaterialProperty` into `getZeroMaterialProperty` and deprecate the former.

### Rationale for the enhancement or information for reproducing the error
This will remove the confusing `getDefaultMateria

[2016-03-14 19:07] mangerij commented on #6580
Is this going to dump the need to use GenericConstantMaterial? or is "zero material" different?

[2016-03-14 19:17] dschwen commented on #6580
We added the capability to specify numbers instead of property names months
ago. GenericConstantMaterial is not necessary for most cases. It is still
convenient if a constant property is used more than once.

On Mon, Mar 14, 2016, 1:07 PM John <notifications@github.com> wrote:

[2016-03-14 21:39] YaqiWang opened #6582 "Need an optional parameter for run_tests"
### Description of the enhancement or error report
We need an optional parameter for `run_tests` script like `--error`, which treat messages of deprecated parameters as an error. Maybe `--error-deprecated`? This will make us easily remove all the deprecated usages in the code and input files as tests.

### Rationale for the enhancement or information for reproducing the error
N/A

### Identified i

[2016-03-14 22:24] jwpeterson commented on #6526
This turned out to be caused by trying to use FIRST-order displacement variables on a mesh with SECOND-order elements.  This just doesn't work, so we added a test to make sure this situation is detected.

Fixed by da4719e.

[2016-03-14 22:24] #6526 closed

[2016-03-14 22:52] permcody commented on #6582
I'm curious, does `--error` not work for you or do you have too many other tests with valid warnings in them?

Just so you know, we do have an allow_warnings flag to help out with this case.

[2016-03-14 23:06] YaqiWang commented on #6582
Oh, so the deprecation message is also a warning?

[2016-03-14 23:24] YaqiWang opened #6583 "Make value parameter of constant moose objects a controllable parameter"
### Description of the enhancement or error report
Constant parameter of
- [ ] `ConstantAux`
- [ ] `ConstantScalarAux`
- [ ] `ConstantDamper`
- [ ] `ConstantFunction`
- [ ] `ConstantPointSource`
- [ ] `ConstantIC`
- [ ] `GenericConstantMaterial`
- [ ] `ConstantRate`
- [ ] `ConstantDT`
and etc. can be controllable.

### Rationale for the enhancement or information for reproducing the error
I will b

[2016-03-14 23:27] permcody commented on #6582
Should be. Have you tried it?
On Mon, Mar 14, 2016 at 5:06 PM Yaqi <notifications@github.com> wrote:

[2016-03-14 23:31] YaqiWang commented on #6582
Will try it out tomorrow. Either way, I think `allowed_warning="a sample warning message"` for particular tests is useful.

[2016-03-15 00:07] dschwen opened #6584 "Allow for Crossterm barriers to be asymmetrical"
### Description of the enhancement or error report
This will add a switching function factor to the expression in `CrossTermBarrierFunctionMaterial`. This allows the user to make use of asymmetric _W<sub>ij</sub>_ matrices and have the Barrier contribution be asymmetric across an interface.

### Rationale for the enhancement or information for reproducing the error
Added flexibility for modulating

[2016-03-15 02:11] friedmud commented on #6583
If it's not Constant, why would you use one of these objects?

[2016-03-15 07:22] mlesueur opened #6585 "Using Dirichlet BC of Pressure in Navier-Stokes"
We can't impose a pressure inlet, as Dirichlet BC, in Navier-Stokes module.
Simulation is converging to a wrong result, see under:
![pressurebc_failed](https://cloud.githubusercontent.com/assets/11986570/13770377/b7ede176-eada-11e5-9dc8-a4ddb4712abf.png)
Here is the expected result of the simulation:
![pressurebc](https://cloud.githubusercontent.com/assets/11986570/13770378/b7ef268a-eada-11e5-9f4a

[2016-03-15 14:07] permcody commented on #6583
I'm not sure I like the idea of making all of our constant objects "not constant".

[2016-03-15 14:25] dschwen commented on #6583
It's called mutable :-D

On Tue, Mar 15, 2016, 8:07 AM Cody Permann <notifications@github.com> wrote:

[2016-03-15 14:30] permcody commented on #6583
Yes but I used "not constant" for literary effect!

[2016-03-15 14:56] dschwen opened #6587 "ZeroInterface members should be const"
### Description of the enhancement or error report
No reason to modify them. They are supposed to be zero.

### Rationale for the enhancement or information for reproducing the error
Better compiletime checking

### Identified impact
We'll see... Hopefully none. At most we fix buggy apps.

[2016-03-15 14:59] andrsd commented on #6583
We use this approach in RELAP-7 quite a bit. Users specify a const value in their input files. But then the python script can change it over time. Just FYI.

On the other hand, I do not see much use in modifying `ConstantIC`. What is the use case @YaqiWang ?

Also, I am not sure about `ConstantDT`. I think if one needs to change dt, they should have a special time stepper. But I'd like to hear the

[2016-03-15 15:05] YaqiWang commented on #6583
@andrsd I am doing the similar thing. I want the executioner to control the values of the function or aux kernel in order to make the eigenvalue of the system equal to a desired value. A control will link the executioner and the parameter together (That is my plan, not implemented yet). I am not using `ConstantIC`, but thought some people might want to control it. You are probably right about `Con

[2016-03-15 15:18] andrsd commented on #6583
In RELAP, we control the time step via executioner (the old design), but it will be a time stepper in the end (when we fix the design).

Ok ;-)

Also, `ConstantAux` should be already controllable, because we use that in RELAP. Just FYI. Unless something else is needed with the Control-system @aeslaughter put in.

[2016-03-15 15:26] aeslaughter commented on #6583
First, at least one of these objects already lies: ConstantDT is anything
but constant.

On Tue, Mar 15, 2016 at 9:18 AM, David Andrs <notifications@github.com>
wrote:

The RELAP7 and MOOSE control logic are still completely separate, so there
is nothing in MOOSE allowing ConstantAux to be controlled currently.

Now I will open a can of worms, what if we allow the user to specify in the
input file

[2016-03-15 15:38] andrsd commented on #6583
@aeslaughter MOOSE objects still need to have `const & TYPE _value`, so they use the value from `InputParams` which we can change via the control system, right?  RELAP is messing with InputParams directly, not via your system. That is the only change I can think of, unless there is more...

[2016-03-15 15:54] aeslaughter commented on #6583
@andrsd You are correct, RELAP7 is messing with the parameters stored in the warehouse, just not using the Control object. RELAP7 is special and is a `friend` so the non-const version of `getInputParameters` method in `InputParameterWarehouse` is available to the RELAP7 controls.

[2016-03-15 15:58] aeslaughter opened #6589 "MOOSE needs a ZeroMaterial object"
### Description of the enhancement or error report
In order to properly handle the block/boundary restriction of the zero materials we should create a `ZeroMaterial` object. This material will declare and zero properties that have not been declared by another property but have been requested through the `MaterialPropertyInterface::getZeroMaterial property.`

### Rationale for the enhancement or in

[2016-03-15 16:45] YaqiWang commented on #6582
Yes, confirmed the deprecation message is a warning and works with `--error`. I will close this issue.

[2016-03-15 16:45] #6582 closed

[2016-03-15 18:32] YaqiWang commented on #6583
https://github.com/idaholab/moose/blob/devel/framework/src/auxkernels/ConstantAux.C
The value parameter is not controllable.

Another question: should Controls be executed before UO+Aux in `FEProblem::execute()`?

[2016-03-15 18:37] hchen139 opened #6590 "memory issue while using moose random number"
### Description of the enhancement or error report
For problems with large number of elements, the use of moose random number generator causes critical memory issue. I tested the problem of ```moose/test/tests/utils/random/random.i```, the following is the amount of memory used during the run, which also can be seen from the attached memory_logger plots:

memory usage:-----------------------------

[2016-03-15 18:39] hchen139 commented on #6590
@permcody Could you help me take a look at it? Thanks!

[2016-03-15 18:43] permcody commented on #6590
Excellent test case - Thank you! I'll take it from here but it might take me some time to dig to the bottom of it. I suggest you come up with another scheme in the meantime so that this doesn't hold you up.

[2016-03-15 18:48] andrsd commented on #6583
I understand, that [this](https://github.com/idaholab/moose/blob/devel/framework/include/auxkernels/ConstantAux.h#L46) is the important part that makes it controllable.

[2016-03-15 18:54] aeslaughter commented on #6583
On Tue, Mar 15, 2016 at 12:48 PM, David Andrs <notifications@github.com>
wrote:

Yes.

[2016-03-15 18:59] YaqiWang commented on #6583
[This](http://mooseframework.org/wiki/MooseSystems/Controls/) says `declareControllable()`  is a must...

[2016-03-15 19:03] dschwen commented on #6584
`CrossTermBarrierFunctionMaterial` uses a formulation that is nonsense. I need to fix this completely and regold.

[2016-03-15 19:10] andrsd commented on #6583
I see. We will have to do that for RELAP-7 update...

[2016-03-15 19:52] permcody commented on #6590
I just did a little bit of digging and found some low hanging fruit. Currently, I'm storing all of the generator states on all processors instead of just the ones local to that processor, that can be quickly and easily fixed. I think there's still a significant overhead to storing states, but we should be able to get it down.

In this problem you have 250K elements. I looked up the state size and

[2016-03-15 19:55] #6587 closed

[2016-03-15 21:21] hchen139 commented on #6590
@permcody @bwspenc Thanks. This will definitely save large amount memory. But still may cause some trouble when running on HPC using many processors.

[2016-03-15 21:25] permcody commented on #6590
Yeah, those states can certainly add up with the maps and all the others pieces but in general you should have at least 4 GBs of memory / processor on a cluster so you should be OK as you spread the problem out. If you still run into problems, please report back and we'll look for more ways to save space. The graph I included goes up because there is some amount of duplicate storage as you add pro

[2016-03-15 21:28] #6556 closed

[2016-03-15 21:33] #6533 closed

[2016-03-15 21:33] #2253 closed

[2016-03-15 21:34] permcody commented on #5309
@aeslaughter - you might check this again...

[2016-03-15 21:35] permcody commented on #4081
@aeslaughter - please check this ticket

[2016-03-15 21:37] permcody commented on #4414
@aeslaughter - @dschwen Apparently we have a gold mine of tickets for mat property everything. This one may not be completely done. but you have both worked in this area now.

[2016-03-15 21:38] permcody commented on #5600
@dschwen - old ticket, probably should be closed?

[2016-03-15 21:44] aeslaughter commented on #4081
I think this will be fixed with my new warning, I will take care of it.

[2016-03-15 21:47] dschwen commented on #5600
It is not done. CHParsed and ACParsed are renamed, but SplitCHParsed still
has its old name.

On Tue, Mar 15, 2016 at 3:38 PM Cody Permann <notifications@github.com>
wrote:

[2016-03-15 22:05] katyhuff opened #6593 "Moose Build error: explicit specialization of non-template class 'Packing'"
### Description of the enhancement or error report
Updated moose this morning (revision 8ba9f8da841dfd0e3c3e44ea9ea44faa141d5943) and on my mac (el capitan) I'm getting a failure to build from the recently updated DataIO.h file:

[code]

For the record, I updated our linux cluster this morning as well and the same updated master branch (again, at revision 8ba9f8da841dfd0e3c3e44ea9ea44faa141d5943)

[2016-03-15 22:07] jwpeterson commented on #6593
You might have an old version of libmesh.  Have you run the update_and_rebuild_libmesh.sh script recently?

[2016-03-15 22:07] katyhuff commented on #6593
I think I may have done it as recently as yesterday... but I'll do it again.

[2016-03-15 22:11] jwpeterson commented on #6593
Yesterday would certainly be recent enough.  Also double check that you don't have `$LIBMESH_DIR` set in your environment that is accidentally pointing you at a different, old libmesh install...

[2016-03-16 13:34] permcody commented on #6593
Keep us posted, this class is newer but not that new. It was added just over a month ago:
https://github.com/idaholab/moose/pull/6312/files

The support was added in libMesh before that so something is just out of sync.

[2016-03-16 15:32] bwspenc opened #6596 "General Damper"
### Description of the enhancement or error report
The current damper system provides a single base class, Damper, which runs in an element loop. I need a capability to run code that performs the function of a Damper outside an element loop.  See the discussion in #6529.

### Rationale for the enhancement or information for reproducing the error
There are use cases for running a damper within an e

[2016-03-16 15:54] friedmud commented on #6590
With the new fixes the memory should "scale" (nearly) perfectly... meaning,
as you spread the problem out the memory for states will also get spread
out. so it shouldn't be an issue when using many processors.

On Tue, Mar 15, 2016 at 5:21 PM Hailong Chen <notifications@github.com>
wrote:

[2016-03-16 16:11] hchen139 commented on #6590
@permcody  @friedmud Thanks. For my specific application, this still may not be the best solution. For example, the largest number of linear truss element I can use on HPC so far is 22 million. In terms of these many elements, the amount of memory consumed by the moose random number generator is not small at all.

[2016-03-16 16:19] permcody commented on #6590
Right. The MOOSE random number generator is for generating consistent
random numbers regardless of decomposition. You actually don't need that at
all for your case. You might just use the static methods and generate your
own stream of numbers without saving state for your use-case.
On Wed, Mar 16, 2016 at 10:12 AM Hailong Chen <notifications@github.com>
wrote:

[2016-03-16 16:20] permcody commented on #6590
Alternatively I could add a flag for not saving state... Hmm that might be
a good idea
On Wed, Mar 16, 2016 at 10:19 AM Cody Permann <codypermann@gmail.com> wrote:

[2016-03-16 17:43] hchen139 commented on #6590
Right, I'm now using the static method MooseRandom:randNormal() for my current purpose.
@permcody can you add a method for weibull distribution in MooseRandom.C from randistrs.C. So I can directly call from MooseRandom.C. Thanks.

[2016-03-16 18:01] #6593 closed

[2016-03-16 18:01] katyhuff commented on #6593
Clobbering and rebuilding and updating libmesh seems to have done the
trick. Sorry for the false alarm. I should have sworn I'd done it already!
Thanks!

On Wed, Mar 16, 2016 at 6:34 AM, Cody Permann <notifications@github.com>
wrote:

--
http://katyhuff.github.com

[2016-03-16 19:47] #6596 closed

[2016-03-16 20:15] #6590 closed

[2016-03-16 21:28] yidongxiainl opened #6600 "The necessity to have a TVD time stepping scheme"
### Description of the enhancement or error report
A second-order TVD (total variation diminishing) explicit time stepping scheme is needed in MOOSE.

Yidong will be working on the implementation of the TVD-RK2 scheme in MOOSE.

### Rationale for the enhancement or information for reproducing the error
It is well proved in theory and demonstrated that it is necessary to use a TVD stepping scheme i

[2016-03-16 22:16] #6584 closed

[2016-03-17 13:25] #6585 closed

[2016-03-17 13:54] aeslaughter commented on #2601
@permcody states:

[2016-03-17 14:03] dschwen commented on #2601
Yes, please. I'm all for foxygen comments, unless they are redundant (I thought the inheritance thing was on by default).
We should also lead by example. Some apps and modules are obviously deficient and should be brought up to speed...

[2016-03-17 14:31] dschwen opened #6603 "Cleanup initializer lists in modules"
### Description of the enhancement or error report

Homogenize the code standard.
### Rationale for the enhancement or information for reproducing the error

Having different code styles through out modules is confusing. Users will use those as (wrong) examples and we will see the deprecated style pop up again and again in PRs.
### Identified impact

Makes things more prettier.

[2016-03-17 14:49] cpritam opened #6604 "Add stress free volumetric term to total deformation gradient"
### Description of the enhancement or error report

Modify the elasto-plastic deformation gradient by adding the contribution from stress-free volumetric deformation
### Rationale for the enhancement or information for reproducing the error
Thermal and eigen strains can be coupled to plastic models based on multiplicative decomposition (hyper elastic viscoplastic and crystal plasticity)

### Ident

[2016-03-17 16:06] permcody commented on #2601
![image](https://cloud.githubusercontent.com/assets/3036960/13852501/ead4c598-ec27-11e5-97d1-c776c85a713c.png)

[2016-03-17 16:09] cpritam commented on #5481
A general question. @sapitts Why aren't you creating a general return mapping and making the radial return as a special case with associated simplifications?

[2016-03-17 16:32] friedmud commented on #2601
"Slightly" off-topic... but Foxygen is the name of a band I've been
listening to lately: https://open.spotify.com/artist/55LHFEtIplWhsfyWZUwkf4

:-)
On Thu, Mar 17, 2016 at 12:06 PM Cody Permann <notifications@github.com>
wrote:

[2016-03-17 16:49] jiangwen84 opened #6607 "reinit shape functions at physical points within neighbor element"
### Description of the enhancement or error report
This will add and fix some functions to allow users to reinit shape functions at physical points within neighbor element.

### Rationale for the enhancement or information for reproducing the error
I tried to reinit shape functions at physical points within neighbor element for XFEM constraint problem. From doing this, I observed some inconsistenc

[2016-03-17 16:52] jiangwen84 commented on #6607
@jwpeterson Can you take a look at my commit? This is my first try :-)

[2016-03-17 17:02] sapitts commented on #5481
@cpritam , @bwspenc just came by to point out this oversight on my part too.  I'd like to get this commit in to hash out the names and to address Andrew's request for a physical discrete material.  It makes sense for you, Ben, Jason Hales, and I to sit down and find some commonalities between the radial mapping, the HEVP, and the smeared cracking and then for me to create the general return mappin

[2016-03-17 17:11] cpritam commented on #5481
@sapitts - HEVP uses a different integration scheme and can be difficult to stich with the radial return algorithm. However, for incremental plasticity, keeping the algorithm general can also help to add rate dependent models.

[2016-03-17 18:37] bwspenc commented on #5481
@cpritam As @sapitts said, we discussed this, and I agree -- the base class needs to be more general.  It needs to support not just return mapping models, but any type of model so that we can compose together a set of models.  We can add in a base class later, but I'd really like to settle in a set of names that will work in a more general setting before we merge this commit so that we're not chan

[2016-03-17 20:34] cpritam opened #6612 "Add diffusion based polycrystalline creep model"
### Description of the enhancement or error report

Couple concentration evolution from Cahn-Hilliard equation to creep strain increments based on gradient of flux
### Rationale for the enhancement or information for reproducing the error
### Identified impact

(i.e. Internal object changes, limited interface changes, public API change, or a list of specific applications impacted)

[2016-03-17 21:04] andrsd commented on #2601
You should also try "Galerkin Method" :wink:

[2016-03-17 21:23] permcody commented on #6245
I believe the unique id issue was the only Helgrind issue. Closing this ticket.

[2016-03-17 21:23] #6245 closed

[2016-03-17 21:24] permcody commented on #6530
@aeslaughter - I believe that we are unable to reproduce this now? Is that correct?

[2016-03-17 21:31] permcody commented on #4457
I'd like to take a look at this issue.
https://github.com/libMesh/libmesh/pull/842 fixed a lot of threading issues everywhere. It's quite possible that the test that spawned this issue may work properly now. I did some quick grepping but didn't locate it. Do you know where this test is located?

[2016-03-17 21:43] jasondhales commented on #4457
tests/phase_transition_zircaloy/.  I didn't find it at first either.

[2016-03-17 22:09] #6530 closed

[2016-03-18 20:53] permcody opened #6614 "Need to run class and parameter descriptions through a HTML sanitizer"
### Description of the enhancement or error report

HTML characters are messing with the HTML syntax descriptions

### Rationale for the enhancement or information for reproducing the error

See the mailing list discussion:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/moose-users/Rm3ST1f9d0I/aG9SyPhLCAAJ

### Identified impact
(i.e. Internal object changes, limited inte

[2016-03-20 06:39] YaqiWang opened #6615 "mooseError is not flushing ConsoleStream in OutputWarehouse"
### Description of the enhancement or error report

Currently calling `mooseError()` will cause program to be terminated without flushing the buffer of `_console`, which could potentially lose very important information on screen.
### Rationale for the enhancement or information for reproducing the error

This can be easily seen with two lines at the beginning of `Steady::execute()` and run any te

[2016-03-20 06:58] YaqiWang commented on #6615
A possibly related minor issue about `mooseWarning` is that the message in the warning is not properly prefixed with the subapp name.

[2016-03-21 14:48] aeslaughter opened #6618 "Need method to store time information for VectorPostprocessor csv files."
### Description
VectorPostprocessors need to report time information.

### Rationale
Having the time will make viewing them in Peacock better.

### Impact
I will simply create an input parameter "time_data=true" that will create a `<file_base>_time.csv` file that will be detected by Peacock.

[2016-03-21 15:20] aeslaughter opened #6619 "TestHarness pass w/o actually checking file."
### Description
If a parameter is missing, even an important one (i.e., `csvdiff`) the test will pass.

### Rationale
If a required parameter is missing a test should fail.

### Impact
This should be minimal since we don't see the error/warningings from the test harness printed all over the place.

[2016-03-21 15:20] aeslaughter commented on #6619
[code]

[2016-03-21 20:32] roystgnr opened #6621 "Integer data is being incorrectly rounded from DP fields?"
libMesh tries to preserve numeric data during refinement and coarsening, but this entails solving local projection problems, which can add epsilon error to the fields being projected.  If those fields are used to store integers, but their data is cast back to integer rather than being rounded-to-nearest back to integer, then the data will be corrupted (static casts will truncate 1.9999999999999999

[2016-03-21 20:43] friedmud commented on #6621
Hmmm - I see what you're saying now.

[2016-03-21 20:44] friedmud commented on #6621
What's the fix?  Actually do proper rounding?  I don't suppose there's any way to tell your projection stuff to NOT interpolate certain variables... and instead just copy their value?

[2016-03-21 20:49] roystgnr commented on #6621
"Actually do proper rounding" is the fix I'm working on in MOOSE.

And "copy as many values as possible" is actually how I noticed the bug!  libMesh has for ages past done a projection problem when refining an element, because what else are ya gonna do?  I got a decent optimization from copying values in the special-but-common case of constant monomial FE.

But we should fix it in MOOSE regardless

[2016-03-21 20:51] roystgnr commented on #6621
Okay, to clarify: "Actually do proper rounding in the one case I found where we weren't" is the fix I'm working on in MOOSE.  I'd really appreciate more eyes checking to see if there's anywhere else in the code that's using casting where rounding would be safer.

[2016-03-21 20:52] friedmud commented on #6621
So, you're saying that it _was_ doing (bad) rounding but _now_ it's doing copying?  If that's the case then we don't need proper rounding... we just need to regold.

[2016-03-21 20:56] roystgnr commented on #6621
MOOSE is doing truncating, but should be doing truncating for correctness.  We'll need to regold along with this change.

libMesh is doing projection solves (which entail roundoff error), and always will be doing projection solves in general cases, but should be doing copying in special cases for speed and accuracy.

I'd like to make the former change first before proceeding with the latter, so th

[2016-03-21 20:58] friedmud commented on #6621
I really don't want to do rounding - way too much of a pain to track down every place where that is done in the code.

I would rather rely on the projection system always copying Constant Monomials...

[2016-03-21 21:08] roystgnr commented on #6621
I've got to put in a PR to regold regardless.  I could generate the new golds by running against the slightly-complicated changes in my libMesh optimization branch, but then they won't pass unless I also include the libMesh updates, and then neither the new golds nor the updates will have gotten a real test.  Or I could generate the new golds by making a non-complicated one-line change in MOOSE, e

[2016-03-21 21:12] friedmud commented on #6621
One reason I don't like the rounding is that it can cover up real mistakes.  These are supposed to be integer fields... we really don't ever want them rounded (or projected, if possible... but obviously that's what was happening previously)

Do what you want though... my voice is only one.  The rest of the guys can weigh in here too...

[2016-03-21 21:53] permcody commented on #6615
Just thinking out loud here: I know that there is a flush in the dtor of the console stream. Perhaps this isn't getting called under certain `MPI_Abort()` conditions. It may be worth trying an explicit flush of the console stream in the `mooseError()` macro.

[2016-03-21 21:58] roystgnr commented on #6621
"Supposed to be integer fields" is tricky, because under the hood they're just not integer fields, and it's hard to keep in mind that rounding error is utterly unavoidable on fields with type==A but is utterly impermissible with type==B.

A hypothetical example in favor of "be more robust in MOOSE" over "assert exactitude from libMesh": what do you expect to happen after a little hp refinement?  I

[2016-03-21 22:44] friedmud commented on #6621
Ummm... we're never going to do p refinement on one of these integer fields.

I wouldn't mind a FEType that is called `INTEGER`...

[2016-03-21 22:57] YaqiWang opened #6623 "Add a resetParamDefaultValue() method for InputParameters"
### Description of the enhancement or error report
This method is needed in cases where the derived classes want to change the default value of a parameter inherited from the parent class. Currently we can achieve this in two ways but neither is elegant:
1. use `.set()` method. This method however has a side effect: the set-by-user flag of the affected parameter will be set to true.
2. use `.addPa

[2016-03-21 23:22] YaqiWang commented on #6615
I am not sure if you are aware of `OStreamProxy` in libMesh. That can make `_console` an `ostream`. I was also thinking can we duplicate `mooseError` and `mooseWarning` in `ConsoleStreamInterface`? But I think this is out of my hand to have a proper fix for these. So I will rely on you for the fix. Thanks!

[2016-03-22 02:27] roystgnr commented on #6621
Right now we don't have any way to *avoid* doing p refinement simultaneously on every single variable associated with a mesh, because p_level() (like h level()) is an attribute of Elem.  If you want to p refine your solution, you're going to p refine every other variable as well, until/unless we change that.

INTEGER sounds about as self-documenting as it gets, doesn't it?  And the very name lends

[2016-03-22 02:56] friedmud commented on #6621
Ah!  True!

INTEGER would be nice!

[2016-03-22 15:15] dschwen opened #6624 "Add ability to constrain Jacobian testing to on-diagonals only"
### Description of the enhancement or error report
A user requested the option to constrain the Jacobian test in the Test Harness to the on-diagonal values only.

### Rationale for the enhancement or information for reproducing the error
This can be useful for testing code that does not have off-diagonal Jacobians implemented yet, or doesn't need them at all.

### Identified impact
Adds an additio

[2016-03-22 19:43] #6614 closed

[2016-03-22 22:06] #6624 closed

[2016-03-23 13:08] milljm opened #6627 "memory_logger and PBS still has issues"
The memory_logger script is exhibiting an issue when run with --pbs options.

[2016-03-23 14:49] lindsayad opened #6629 "rz_coord_axis = X yields incorrect results"
Discussion here: https://groups.google.com/forum/#!topic/moose-users/m4NnzZjWTiI

Suspected bug line: https://github.com/idaholab/moose/blob/devel/framework/src/base/Assembly.C#L578

[2016-03-23 15:35] permcody commented on #6629
Thanks Alex.

[2016-03-23 18:51] permcody commented on #4457
@jasondhales - I ran this test about a hundred times on different numbers of threads from 1 - 15 without a single exodiff. I believe this issue like many of the other threading issues can finally be closed.
Close by https://github.com/libMesh/libmesh/pull/842

[2016-03-23 18:51] #4457 closed

[2016-03-23 23:37] sapitts commented on #6484
@backmari I'm working migrating the TorqueReaction postprocessor into tensor mechanics (our goal is to port all of the capability of solid mechanics into tensor mechanics and then remove solid mechanics), and I am running into some trouble with my hand calculations to verify the model behavior in tensor mechanics.  Would you help with these couple of questions please?
- Does  the TorqueReaction po

[2016-03-24 14:51] backmari opened #6631 "Allow function as input to InteractionIntegralBenchmarkBC"
### Description of the enhancement or error report
Make it possible to drive the BC with a function instead of only a single value.

### Rationale for the enhancement or information for reproducing the error
When using plasticity, the applied K value needs to be ramped up in smaller increments

### Identified impact
(i.e. Internal object changes, limited interface changes, public API change, or a

[2016-03-24 15:23] permcody opened #6632 "Ban additional keywords in source and input files"
### Description of the enhancement or error report

We want to be notified if certain sensitive keywords appear in input files and source code that might be missed by a code review.

### Rationale for the enhancement or information for reproducing the error

The pre-check recipe will trigger when it sees certain new words. This enhancement will remove existing sensitive words in lieu of creating w

[2016-03-24 16:05] permcody commented on #6629
closed by #6630

[2016-03-24 16:09] #6632 closed

[2016-03-24 17:35] sapitts commented on #5481
@bwspenc with the new compute flag that Andrew created, is it important for all the return mapping materials to both a) be called to iterate by return mapping, and b) run successfully as a standalone material?  Or is it enough to have a plasticity material which only runs when called by the return mapping code?

[2016-03-24 18:40] lindsayad commented on #5913
What's the status of this work? I am very interested in this for my own case. See https://groups.google.com/forum/#!topic/moose-users/0bPDTVGkwZY

[2016-03-24 19:06] dschwen commented on #5913
I'll try to revive #5914

[2016-03-24 19:15] permcody commented on #6619
For clarification the TestHarness does indeed exit with a non-zero error code so this wouldn't make it through the regression testing system. We can do better however by also skipping the affected test(s).

[2016-03-24 19:18] lindsayad commented on #5913
Ok, if you get a branch revived, I would like to look at it...maybe there's some miniscule chance I can help pinpoint where the Jacobian problems are coming from

[2016-03-24 19:24] dschwen commented on #5913
Sigh, this branch is probably beyond saving. @aeslaughter refactored the way user objects are stored and my patch does not apply at all on the new code. I'd have to redo it entirely :-(

[2016-03-24 19:30] #6629 closed

[2016-03-24 19:30] permcody commented on #6627
closed by #6628

[2016-03-24 19:30] #6627 closed

[2016-03-24 19:32] permcody commented on #6569
closed by #6571

[2016-03-24 19:32] #6569 closed

[2016-03-24 20:12] milljm commented on #6512
I have tried to perform those commands on two different machines running Linux/Mac and versions of SEACAS tools. They both segfault.

Buck with a packaged version of nem_spread from 2013
El Capitan with a packaged version of nem_spread from 2014 (latest available)
Looks like nem_spread hasn't changed much in the last few years. Do we know when this last worked? I'll take a stab at our Mavericks/Yo

[2016-03-24 20:21] permcody opened #6636 "Document several framework classes"
### Description of the enhancement or error report

We still have a lot of base and common classes in MOOSE without documentation. We need to start fixing this up.
### Rationale for the enhancement or information for reproducing the error

This is a necessary step to improve our software quality and quality practices
### Identified impact

(i.e. Internal object changes, limited interface changes,

[2016-03-24 20:24] permcody opened #6637 "Fix spacing on framework classes"
### Description of the enhancement or error report

We need to start fixing spacing throughout the framework to match our style guidelines. It's time to un-grandfather existing code. This doesn't necessarily need to be done all at once but maybe we can all do a little at a time.
### Rationale for the enhancement or information for reproducing the error

Improved software quality and quality practi

[2016-03-24 20:28] aeslaughter commented on #5913
I don't think it is beyond saving, it should be fairly straightfoward to
update. You just add yet another AuxGroupExecuteMooseObjectWarehouse
templated on this new UserObject type. Update the compute threaded stuff
and add calls to the initialSetup, etc. Done.

On Thu, Mar 24, 2016 at 1:24 PM, Daniel Schwen <notifications@github.com>
wrote:

[2016-03-24 20:31] friedmud commented on #6512
No idea when it last worked.  It's been 3+ years since I tried it!

On Thu, Mar 24, 2016 at 4:12 PM Jason Miller <notifications@github.com>
wrote:

[2016-03-24 22:03] permcody commented on #6261
I can't seem to replicate this problem. I tried several static builds with and without C++11 and everything worked for me. I contacted Erich and he's found other ways of getting around his problem. Closing this ticket.

[2016-03-24 22:03] #6261 closed

[2016-03-24 23:37] YaqiWang opened #6641 "run_tests does not clear the files to be tested before running a test"
### Description of the enhancement or error report
I noticed that one of my test on my local machine passed the test. But actually it should not because it did not produce the expected csv file. But there is a leftover in the folder of that file, which made the test script happy.

### Rationale for the enhancement or information for reproducing the error
If we have a fresh build, this issue will p

[2016-03-24 23:45] permcody commented on #6641
Actually it DOES clean up:
https://github.com/idaholab/moose/blob/devel/python/TestHarness/testers/CSVDiff.py#L20-L26

We'll need to take a look at your specific case to see what's different about it.

[2016-03-24 23:47] YaqiWang commented on #6641
I think I can reproduce this for you. But let us do it tomorrow.

[2016-03-25 00:43] mangerij opened #6643 "Possible mesh related bug with periodic BC (tetra4)"
### Description of the enhancement or error report

No error message thrown when using a certain quasi-periodic mesh with tetrahedrons. Usually we get thrown a seg fault 11 or an error message about no boundary found from the translation vector. This just seems to hang, no errors. If I use scheme sweep with `hex8` elements, the input file runs without a problem.

### Rationale for the enhancement

[2016-03-25 02:23] permcody commented on #6643
Hangs? In serial or parallel? It could also be the case that it's ultra
slow. How long did you let it sit? In either case thanks for the test case.
On Thu, Mar 24, 2016 at 6:43 PM John <notifications@github.com> wrote:

[2016-03-25 04:31] mangerij commented on #6643
I only checked in parallel. I let it run/hang for at least 20 mins. The parallel hex8 problem runs almost immediately.

[2016-03-25 14:12] permcody commented on #6643
Ok Thanks for the information. BTW we have a script checked in that can be
used to find diverging processes (usually the reason for your hang). If you
are interested I can share more info with you on how to use it.
On Thu, Mar 24, 2016 at 10:31 PM John <notifications@github.com> wrote:

[2016-03-25 15:24] YaqiWang commented on #6641
@permcody I confirmed this again. What I did is:
1. check out yak devel, make and run tests, all pass;
2. check out my developing branch, which breaks several tests with CSVDIFF, make and run tests, ALL tests pass!
3. do `git clean <those test folder> -xfd` and re-run the tests, I saw all of those tests are failing with error `File does not exist!`, which is correct because my changes disabled the

[2016-03-25 15:54] permcody commented on #6641
OK - We'll try to replicate. Just as a quick check can you put in that print statement in the `CSVDiff` object? Is there anything unusual about your `tests` file or the input file itself to modify the `file_base` maybe to add a folder or something?

[2016-03-25 15:59] YaqiWang commented on #6641
@permcody I know nothing about python, can you tell me exactly what to do in CSVDiff.py?

[2016-03-25 21:24] permcody commented on #6643
Any change you can make it a little smaller? If not, that's OK, but this is a fairly large mesh for debugging.

[2016-03-25 23:14] mangerij commented on #6643
Well if I make the mesh coarser just by changing the size, this shows that the mesh on the periodic surfaces doesn't match. I imagine this is why the problem is hanging.

[2016-03-25 23:29] permcody commented on #6643
It should fail with a message either way. Not hang.
On Fri, Mar 25, 2016 at 5:14 PM John <notifications@github.com> wrote:

[2016-03-27 17:13] friedmud commented on #6512
Well crap - I'm pretty much dead in the water without this.

I need to run a mesh that has about 30 million elements in it.  It turns out that JUST the mesh (just reading the Mesh into a pure libMesh code) takes ~7GB of RAM!  That's more than is available per-core on Falcon (~5.3GB per core).  That means I can't run my problem.

This is pretty high priority for me.  This paper is due in 2 weeks...

[2016-03-27 19:35] permcody commented on #6512
I know Jason looked at it last week and ran into troubles. I was insane
busy so wasn't around to help and neither was John. We'll take a look
tomorrow. Happy Easter!
On Sun, Mar 27, 2016 at 11:13 AM Derek Gaston <notifications@github.com>
wrote:

[2016-03-27 19:42] friedmud commented on #6512
Happy Easter!

If we can't get this figured out then I'm going to need some sort of a
libMesh hack to get it to output Nemesis files for arbitrary numbers of
processors while running on just one.  I've thought about it quite a bit
and I don't think it will be too bad to do (and may be a better long-term
solution!).  I'll probably start on something like that on Tuesday or
Wednesday barring @milljm

[2016-03-27 21:11] permcody commented on #6512
I was thinking the same thing. We could write our own split fairly easily.
On Sun, Mar 27, 2016 at 1:42 PM Derek Gaston <notifications@github.com>
wrote:

[2016-03-28 15:08] #6641 closed

[2016-03-28 15:11] #6631 closed

[2016-03-28 15:24] #6619 closed

[2016-03-28 15:54] YaqiWang opened #6645 "An annoying compiler warning"
### Description of the enhancement or error report
Recently, `Material` is enhanced with a new virtual method `void computeProperties(unsigned int)`. This however can produce a warning for a derived class, which is overwriting the previous `void computeProperties()` with a Woverloaded-virtual warning.

### Rationale for the enhancement or information for reproducing the error
Because this is cause

[2016-03-28 16:51] milljm commented on #6512
dagum, well on Rod, using a very old redistributable SEACAS binary (2013), I am getting the same segfault. Cody helped me run a debug on it, and here are the results:

[code]

[2016-03-28 16:53] jiangwen84 commented on #6607
@jwpeterson If you have some time, would you mind to look at my code? Thanks!

[2016-03-28 16:54] permcody commented on #6512
It seems that nem_spread is really experiencing "bit rot". I suppose we could grab the source and see if this is the only regression but if you've started on a libMesh implementation to split I like that idea even better. Where are you at?

[2016-03-28 16:56] friedmud commented on #6512
I'm currently still hoping you guys come up with a solution.  So much to
do... so little time.  I probably won't start on a libMesh version of this
until Wednesday at the earliest.

Derek

On Mon, Mar 28, 2016 at 12:54 PM Cody Permann <notifications@github.com>
wrote:

[2016-03-28 16:57] friedmud commented on #6512
I think it's worth looking into a fix for this.  It may be a trivially easy
fix... that gets us up and running for now.

On Mon, Mar 28, 2016 at 12:55 PM Derek Gaston <friedmud@gmail.com> wrote:

[2016-03-28 17:04] friedmud commented on #6512
Ok - I think I'm running it wrong.  I'll look into it more later (out of time for now).

Hold off on this for now.

[2016-03-28 17:22] friedmud commented on #6512
So... what I _really_ need is the `loadbal` tool.  It wraps `nem_slice` and `nem_spread`... and it's how we used to do this.  Unfortunately... it's not in our SEACAS that's in our package.

I see it in the SEACAS repository here: https://sourceforge.net/p/seacas/code/ci/master/tree/ACCESS/scripts/loadbal.in

Is it just the case that we need to `configure` it on or something during the build proces

[2016-03-28 17:39] permcody commented on #6643
I ran this problem in debug mode and it fails immediately with tons of these errors:
[code]

I talked to @jwpeterson and he said your mesh approach just won't work with "tetmesh" even with autosmooth turned off. There's no guarantee from the mesh algorithm that it will place nodes on the opposite side in exactly the same place.

This tends to bite people from time to time so I think you've motivat

[2016-03-28 17:45] permcody commented on #6512
Looking at it. Looks like Greg has decided to go C++11 without properly
dealing with flags or anything else. What a mess...

On Mon, Mar 28, 2016 at 11:22 AM Derek Gaston <notifications@github.com>
wrote:

[2016-03-28 17:46] mangerij commented on #6643
Yeah, I realized it wasn't the right approach right after I made this issue but just thought it was odd I wasn't getting any error printout on the screen so that's why I reported it.

I really just want to do that same approach but with a hex8 sweep but where I bias surface 8 and 11 (the surface of the cylinder embedded in that mesh) so that the size stays constant in the cylinder volumes but gets

[2016-03-28 17:47] friedmud commented on #6512
I just tried to pull out the `loadbal.in` script and fix it up... didn't quite work.  I'll wait patiently while you guys work it out ;-)

[2016-03-28 18:40] permcody commented on #6512
Can nem_split/nem_spread be used if we don't get loadbal figured out? It
may be too far gone if he left it behind intentionally.

On Mon, Mar 28, 2016 at 11:47 AM Derek Gaston <notifications@github.com>
wrote:

[2016-03-28 18:47] permcody commented on #6643
There is a tolerance in there somewhere but it's fairly tight. Anything
that's not within that tolerance would be considered not equal and thus
require some sort of projection to be correct.

On Mon, Mar 28, 2016 at 11:46 AM John <notifications@github.com> wrote:

[2016-03-28 19:00] jwpeterson commented on #6643
Setting up the DOF constraint equations for this in the general case would probably be tricky, and as far as I know, no one has attempted it yet.  I don't know of a reason why it wouldn't work in principle though, but perhaps @roystgnr knows more about that?

[2016-03-28 19:38] roystgnr commented on #6643
The trouble in principle is pinning, if what you want is an actual C0 conforming mesh.  Imagine piecewise bilinear elements, with non-matching nodes except at the end points of the periodic edges.  If email->GitHub works okay then take a look at this diagram:

[code]

For continuity at AB, the solution slope there has to match both HI and IJ.  Continuity along the res of IJ means that the slope at

[2016-03-28 19:46] mangerij commented on #6643
What about using AMR at some initial refinement stage to match the nodes
prior to the solve commencing?

On Mon, Mar 28, 2016 at 3:38 PM, roystgnr <notifications@github.com> wrote:

[2016-03-28 19:47] jwpeterson commented on #6643
We don't support anisotropic refinement, so if the grids start off mismatched, refining them won't make them match up...

[2016-03-28 19:52] mangerij commented on #6643
Ah, yeah I was thinking that refining it could approximately eliminate)
this problem described above of solutions HI and IJ not matching AB because
if AB and HI -- IJ don't match, then you could use this as a marker to
refine both sides of the grid.

On Mon, Mar 28, 2016 at 3:47 PM, John W. Peterson <notifications@github.com>
wrote:

[2016-03-28 20:44] #6618 closed

[2016-03-28 20:50] permcody commented on #6512
So I got this working but it was all voodoo and we still don't have a good process for building the tools from source. Apparently the usage at the top just isn't correct so the backtrace Jason reported isn't useful. Instead "loadbal" is what we should really be running but that's currently not being built with @milljm's very helpful build script (perhaps we can investigate this a bit more). Additi

[2016-03-28 21:10] #6600 closed

[2016-03-28 21:16] #6512 closed

[2016-03-28 21:20] YaqiWang commented on #6369
@permcody Sorry for iterating, but we really want this urgently. We see several use cases with this error including the sprint problem. Meanwhile, it will be nice to issue an error on the another dependency:
Aux=>pp1=>pp2, where Aux is not directly depending on pp2, so pp2 is in the postaux group.

[2016-03-28 21:20] permcody commented on #6643
Reclassifying this issue as a "task" now. We know why it fails, now we just have to decide if we should handle it better in opt mode.

[2016-03-28 21:27] permcody commented on #6369
Will you point me to an input file that should fail but does not? I'll look to see if I can make it work for you.

[2016-03-28 21:28] YaqiWang commented on #6369
Let me create a moose test for these two cases. Will let you know once it is done.

[2016-03-28 21:51] permcody commented on #6442
Closed by #6459

[2016-03-28 21:51] #6442 closed

[2016-03-28 21:56] permcody commented on #5664
closed by #6220

[2016-03-28 21:56] #5664 closed

[2016-03-28 21:59] YaqiWang commented on #6369
@permcody Two tests are added. Please mark do-not-merge in my PR. Thanks.

[2016-03-28 22:03] permcody commented on #5320
I just cloned a new repo just to test this. I didn't destroy my machine so I'm closing this for now.

[2016-03-28 22:03] #5320 closed

[2016-03-28 22:04] permcody commented on #6369
Thanks

[2016-03-28 22:11] jwpeterson commented on #6607
Hi @jiangwen84, I got back from vacation and looked at the PRs first so I didn't see your issue until right now.  I will take a look...

[2016-03-28 22:29] jwpeterson commented on #6607
This looks reasonable to me.  I'm a little bit confused by the naming of `Assembly::reinitNeighbor()` and the new function `Assembly::reinitFENeighbor()` being so similar.

`Assembly::reinitNeighbor()` uses a quadrature rule from `_holder_qrule_neighbor` while `Assembly::reinitFENeighbor()` just uses reference_points passed in directly... I think?  Also, if you can come up with a simple test that

[2016-03-28 22:40] jiangwen84 commented on #6607
Thanks John! I agree with what you said and probably want to wait for David's more comments on this. Meanwhile I will think about the test files.

[2016-03-29 13:16] giopastor commented on #6576
Edit: Following the comments received (thanks all!) a somewhat different approach will be taken. The possibility to limit the time step to a postprocessor value will be added as an additional capability of IterationAdaptiveDT. Capability can be activated by the user by specifying a postprocessor in the TimeStepper input block.
Since the postprocessor could be passed through a function, adding a po

[2016-03-29 14:08] cpritam opened #6647 "Add save_in option in Gravity kernel in Tensor Mechanics"
### Description of the enhancement or error report
Add save_in option

### Rationale for the enhancement or information for reproducing the error
User can get the total reaction when using gravity in tensor mechanics

### Identified impact
(i.e. Internal object changes, limited interface changes, public API change, or a list of specific applications impacted)
Gravity kernel in tensor_mechanics mod

[2016-03-29 14:37] andrsd commented on #6607
The important fact to understand is that all the `neighbor` stuff was designed for a face of a neighbor element. Typically, we are on a edge and we deal with `(current elem, its side)` and `(current elem's neighbor, its side)`.  We never designed for values in the interior of the neighbor.

I will go look at your code, now... Just wanted to make you guys aware of the design.

[2016-03-29 14:55] jiangwen84 commented on #6607
I understand that for most of cases, we only need to deal with the neighbor faces instead of interior points. However, in XFEM, we are on two overlapping elements and a interface goes through elements. To integrate along the interface, we want to reinit element and its neighbor element's shape functions at the quadrature points on the interface and these quadrature points will be within the elemen

[2016-03-29 14:58] andrsd commented on #6607
I see. Thanks for the clarification.

[2016-03-29 15:09] dschwen commented on #6647
save_in is provided by KernelBase already

[2016-03-29 15:23] cpritam commented on #6647
Got it.

[2016-03-29 15:23] #6647 closed

[2016-03-29 16:47] permcody opened #6650 "Need to standardize inheritance declarations"
### Description of the enhancement or error report

The MOOSE code standard does not contain standards for declarations.

Here are a few options:

[code]
### Rationale for the enhancement or information for reproducing the error

This needs to be standardized moving forward.
### Identified impact

(i.e. Internal object changes, limited interface changes, public API change, or a list of specific ap

[2016-03-29 18:06] gambka opened #6652 "Add a scaling factor to ParsedFunction"
### Description of the enhancement or error report
Add a scaling factor that is multiplied by the value returned by a ParsedFunction evaluation.  The default value is 1.0.

### Rationale for the enhancement or information for reproducing the error
Required for sensitivity analyses where a ParsedFunction is created internally to a material model or in an action as it would provide an ability to ass

[2016-03-29 18:15] dschwen opened #6653 "ExpressionBuilder based free energies mix up parameter names and variable names when constructing the derivatives"
### Description of the enhancement or error report
@laagesen reported that a simulation using his free energy material based on `ExpressionBuilder` exhibits poor convergence. The underlying reason (wrong Jacobian) seems to be caused by improperly named derivatives. The root of this issue is probably to be found in `FunctionMaterialBase` where the argument names are extracted.

### Rationale for th

[2016-03-29 18:16] dschwen commented on #6652
what about just putting a `c*(...)` around your function? The $c could be a getpot variable, which would make it easy to change.

[2016-03-29 18:46] gambka commented on #6652
I haven't used getpot variables so it could work but I will give more details to discuss what the best course of action would be.

In a material model that inherits from SolidModel there is a MOOSE Enum that allows a user to select a variety of alloys.  Based upon the alloy selected either a PiecewiseLinear or ParsedFunction for the Young's Modulus and Poisson's Ratio is created.  This function is

[2016-03-29 18:58] dschwen commented on #6652
The getpot variable would have been a good option if you were to construct the function from the input file. As you are building the function from a _"pseudo-action"_ you might as well use

[code]

to build your scaled function inside the SolidModel. This is just a suggestion because it is my personal preference to keep these core classes such as ParsedFunction as simple as possible. Others may ve

[2016-03-29 19:09] gambka commented on #6652
I agree with you if I can do it in the derived class it is preferred over modifying the core classes.  I'll use the suggestion above and will close the issue.

[2016-03-29 19:09] #6652 closed

[2016-03-29 19:13] andrsd commented on #6652
We had something similar for postprocessors recently and decided _not_ to do it either...

[2016-03-29 19:46] #6653 closed

[2016-03-29 19:48] YaqiWang commented on #6652
Hehe, that is from me. At the end, a new general postprocessor `ScaleProcessor` was created.

[2016-03-29 21:49] laagesen opened #6655 "Add Superellipsoid initial condition"
### Description of the enhancement or error report
Add initial conditions files to make superellipsoids. A superellipsoid is similar to a regular ellipsoid but can be described by the equation `(x/a)^n + (y/b)^n + (z/c)^n = 1` (n=2 for a regular ellipsoid).

### Rationale for the enhancement or information for reproducing the error
Superellipsoids can be used to produce roughly cubic (or square-li

[2016-03-29 21:52] dschwen commented on #6655
good luck figuring out how to make a smooth interface of uniform width for arbitraty `n` :-)

[2016-03-30 18:54] #6576 closed

[2016-03-30 22:32] permcody opened #6659 "Remove extra spacing in "Usage" printout"
### Description of the enhancement or error report

Currently there are several (~6) blank lines that come out from MOOSE in the usage report.

[code]

### Rationale for the enhancement or information for reproducing the error

This just looks ugly and should be fixed.

### Identified impact
(i.e. Internal object changes, limited interface changes, public API change, or a list of specific applicat

[2016-03-30 22:49] permcody opened #6661 "Remove or update tests/tensor_mechanics/crysp_poly.i"
### Description of the enhancement or error report

It's not active in the test suite and doesn't run.
### Rationale for the enhancement or information for reproducing the error

Attempt to run this input file.
### Identified impact

(i.e. Internal object changes, limited interface changes, public API change, or a list of specific applications impacted)

No impact.

[2016-03-31 01:51] jessecarterMOOSE opened #6663 "recompute indicators and markers on refined grid"
### Description of the enhancement or error report

When multiple refinement cycles are requested, allow indicators and markers to be recomputed on refined grid.
### Rationale for the enhancement or information for reproducing the error

Initial adaptivity already does this. This just adds that capability when refining mesh between timesteps.
### Identified impact

(i.e. Internal object changes, l

[2016-03-31 14:19] aeslaughter opened #6665 "Markers not working with block restriction"
### Description
Markers are not working with block restriction as expected.

### Rationale
[code]
### Identified impact
Impact should be minimal, I am guessing that since a marker is not being applied to the entire domain that there are some uninitialized values we are trying to access. The solution might me be requiring a marker everywhere, but hopefully I can simply initialize markers to be DO_N

[2016-03-31 15:35] permcody opened #6666 "Error message when using Contact with Adaptivity"
### Description of the enhancement or error report

We need to provide an error message when Adaptivity and Contact are used together.

### Rationale for the enhancement or information for reproducing the error

This feature (requirement) is currently not implemented and will result in undefined behavior.

### Identified impact
(i.e. Internal object changes, limited interface changes, public API c

[2016-03-31 16:11] aeslaughter opened #6668 "run_tests with oprof gets slower after a dbg build"
### Description of the enhancement or error report

Run tests gets slow after a debug build, can anyone else see if they have this problem? Or am I just crazy? Or both?
### Rationale for the enhancement or information for reproducing the error

(1) Build and run tests in oprof mode

[code]

[code]

(2) Build in debug mode

[code]

(3) Run tests again in oprof:

[code]

[code]
### Identified impact

[2016-03-31 16:45] permcody commented on #6668
Could you do a full `make clobberall` in between?

[2016-03-31 20:04] #6659 closed

[2016-03-31 20:12] #6665 closed

[2016-03-31 21:35] aeslaughter opened #6670 "Remove old tutorial presentation"

[2016-04-01 15:47] permcody opened #6673 "Improve Error Messages in DataIO.h"
### Description of the enhancement or error report

Right now if you attempt to checkpoint or recover, you might receive an error message with no detail about raw pointers. It may not be obvious where to look for the issue.

### Rationale for the enhancement or information for reproducing the error

Create a custom type that has a raw pointer and run either `Outputs/checkpoint=true` or `--recover`

[2016-04-03 01:42] friedmud opened #6675 "Optimization of reinitElemPhys()"
### Description of the enhancement or error report

In my new MOOSE-based application I need to call `FEProblem::reinitElemPhys()` BILLIONS of times.  Since that's a fairly infrequently used code path a few "hot spots" are showing up in the timing.  Need to fix those...
### Rationale for the enhancement or information for reproducing the error

`reinitElemPhys()` is currently quite slow.
### Ident

[2016-04-03 23:31] WilkAndy opened #6677 "porous_flow module creation"

[2016-04-04 01:03] jessecarterMOOSE commented on #6663
Trying this again...

[2016-04-04 07:25] WilkAndy opened #6679 "Material Auxs at specified quad points"
Could we discuss the following?  Tagging @hsheldon

In tensor mechanics we often want to output Material values as AuxVars, e.g. stresses, internal parameters, yield function values, and so on.  Currently with the usual CONSTANT MONOMIAL AuxVariables we see the values averaged over the element.  It would be useful in certain instances to see them at a specified quad point.

The solid_mechanics/src

[2016-04-04 14:27] dschwen opened #6680 "Add ability to link InputParams to wiki pages"
### Description of the enhancement
I would like to add the ability to provide permalinks (independent op page moves or renames) and and have them added to Input parameters in a similar manner as `addClassDescription` already does. These links should point to verbose user documentation (such as [this](http://mooseframework.org/wiki/PhysicsModules/PhaseField/DiscreteNucleation/) or [that](http://moo

[2016-04-04 15:24] permcody commented on #6679
I think it's worth stepping back and understanding why the AuxSystem and Materials are fundamentally different. The AuxSystem is full of discretized variables just like the nonlinear system. The only difference is that you are explicitly computing the values rather than solving a linear system. At the end of the day your "quadrature point" information is used to setup the coefficients so for the s

[2016-04-04 15:45] #6670 closed

[2016-04-04 17:28] YaqiWang commented on #1777
Reporting two warnings I saw on my mac:

[code]

[2016-04-04 17:30] permcody commented on #1777
Reference ticket #1777 when you fix compiler warnings.

On Mon, Apr 4, 2016 at 11:28 AM Yaqi <notifications@github.com> wrote:

[2016-04-04 22:05] pou036 commented on #6679
We found out a year ago, when building Redback, exactly what Cody mentioned. Using a higher order (in the .i file) for our total_porosity AuxVar did the trick.

[2016-04-04 22:06] YaqiWang opened #6682 "A multi-threading solution user object issue"
### Description of the enhancement or error report
I noticed this issue in one of Yak tests, which I tried to run with multiple threads. I used the solution user object reading a xda output and then add a `SolutionFunction` with the user object. When I used this function as the reference solution, I noticed my solution error with it changes with number of threads.

### Rationale for the enhancemen

[2016-04-04 22:38] WilkAndy commented on #6679
This is unrelated to a previous question concerning porosity.

@hsheldon wants to see exactly which quadpoint has yielded in plasticity (and how exactly that quadpoint has yielded in the case of multisurface plasticity), and also see the stresses there.  All these things - stresses, internal parameters, and yield functions - are calculated in a Material at each quadpoint.

Until now she has output

[2016-04-04 22:47] bwspenc opened #6685 "Fix incorrect error message about disp_r and disp_z in solid_mechanics"
### Description of the enhancement or error report
If you specify formulation=NonlinearPlaneStrain, but don't have 'disp_x' and 'disp_y' defined, you get the following error:
NonlinearPlaneStrain must define disp_r and disp_z

### Rationale for the enhancement or information for reproducing the error
The error should read:
NonlinearPlaneStrain must define disp_x and disp_y

### Identified impact
M

[2016-04-05 03:44] adamLange commented on #5932
Hey, I'm getting pretty good with the opencascade cad library.  Let me know if I can be of help with that on any exact geometry things.

[2016-04-05 14:09] permcody commented on #6679
How about some sort of "save_in" capability where the exact computed values are saved in addition to being used to compute the shape functions? Yes this would add a fair amount of overhead but we could be smart about it. We could just keep the information around for a single timestep (if that's sufficient) and not bother with communicating that information globally.

Alternatively, you could just

[2016-04-05 14:14] friedmud commented on #5932
Absolutely! I don't think the design is to the point I want it yet before I
want people to try to help. I won't be doing much on it this month... but
going into this summer this will be a big project for me and I'll
definitely ping you for help.

OpenCascade does look like a good choice for a CAD backend.
On Mon, Apr 4, 2016 at 11:44 PM Adam Lange <notifications@github.com> wrote:

[2016-04-05 14:17] dschwen opened #6688 "ComputeStrainBase interface is inconsistent"
### Description of the enhancement or error report

The class makes `computeProperties()` pure virtual. All other classes in plug and play tensor mechanics require the user to implement **per quadrature point** methods.
### Rationale for the enhancement or information for reproducing the error

Inconsistent interfaces are bad
### Identified impact

Might break applications if `computeQpProperties(

[2016-04-05 14:23] dschwen commented on #6125
Time to act on this and at least add the mooseDeprecated macro (if not the registerDeprecated)

[2016-04-05 14:23] #6685 closed

[2016-04-05 14:36] adamLange commented on #5932
Looking forward!

[2016-04-05 15:47] brianmoose commented on #6332
This has been turned on now. It checks all files, not just input files.

[2016-04-05 17:11] brianmoose opened #6689 ".tex files have trailing whitespace"
### Description of the enhancement or error report
We currently don't check for trailing whitespace on .tex files, only *.[Chi] and *.py files.
There are .tex files in MOOSE and apps with trailing whitespace.

### Rationale for the enhancement or information for reproducing the error
We don't want .tex files with trailing whitespace.

### Identified impact
We can add .tex files to the "delete_trai

[2016-04-05 18:41] #6332 closed

[2016-04-05 19:51] dschwen opened #6692 "Fix broken tests in modules"
### Description of the enhancement or error report
Several tests fail with `--error`

### Rationale for the enhancement or information for reproducing the error
This is not good as it makes other issues harder to spot.

### Identified impact
Some inputs will have to be changes and some test re-golded.

[2016-04-05 20:56] bwspenc opened #6694 "Segmentation fault if invalid variable name is used in SolutionFunction or Axisymmetric2D3DSolutionFunction"
### Description of the enhancement or error report
The user provides a variable or list of variables used to define the solution in `SolutionFunction` or `Axisymmetric2D3DSolutionFunction` using the `from_variable` or `from_variables` parameter, respectively. If an invalid variable name is supplied, a segmentation fault results in either case.

### Rationale for the enhancement or information for

[2016-04-05 20:58] bwspenc commented on #6694
I'm working on a fix for this.

[2016-04-05 22:28] dschwen opened #6697 "Remove block = 0 in phase field where no block restriction is intended"
### Description of the enhancement or error report
`block = 0` if block 0 is the only block in the simulation is now equivalent to not having a block restriction. We can therefore remove this parameter.

### Rationale for the enhancement or information for reproducing the error
Parameter is superfluous now and just clutters the phase field tests and examples.

### Identified impact
No functional c

[2016-04-05 22:35] permcody commented on #6689
closed by #6690

[2016-04-05 22:35] #6689 closed

[2016-04-05 22:48] WilkAndy commented on #6679
Hmmm, the save_in capability is something i hadn't thought of, and i reckon it'd work well.  It's a lot of work though.  Are you imagining that every Material now has a "save_in" for each of its properties?  At a given quadpoint in each element we'd want to be able to save components of Vectors, Tensors, and std::vectors.

[2016-04-05 23:09] friedmud commented on #6679
@WilkAndy

@permcody 's explanation is spot on.  But let me add something else: there are currently no file formats available that would allow us to specify quadrature point information.

If there were... I would be open to it.  But there is nothing that I know of that Paraview reads that can have quadrature point data in it.

In the past I have thought about actually creating a new _mesh_... one

[2016-04-05 23:19] WilkAndy commented on #6679
Yea, it's a shame that paraview plots CellData as constant-monomial.  @hsheldon is simply going to create 8 aux variables, one for each quad point in the hexahedral elements, and manually inspect each of the 8 in paraview.  Not very satisfactory, i know, but as you say - this is not something she's doing every day.

[2016-04-06 03:27] dschwen opened #6698 "Remove ElasticityTensorR4"
### Description of the enhancement or error report

This class just complicated things. In its place RankFourTensor should be used and the new members should be moved into a namespace.
### Rationale for the enhancement or information for reproducing the error

Classes templated on ElasticityTensorR4 cannot use RankFourTensor and vice versa. This leads to unnecessary code duplication.
### Identifie

[2016-04-06 12:43] aeslaughter opened #6699 "Improve MOOSE documentation system(s)"
### Description

We need an improved and more integrated method for developing and distributing documentation. There are a key features needed:
- The pages (i.e., wiki and current website) should be in a common format and be stored in a git repository so we can edit them locally and use PRs for reviewing the changes.
- The in code documentation needs to build links to the website/wiki, such that P

[2016-04-06 12:44] aeslaughter commented on #6699
@idaholab/moose-developers Please start dumping ideas for documentation solutions and requirements to what that system should look like, I will move the stuff from the email over.

[2016-04-06 12:54] aeslaughter commented on #6699
Here are some ideas.

1. Use a pure Doxygen solution that improves the look of the documentation and utilizes the "related pages" feature (e.g., https://www.biogearsengine.com/documentation/index.html)

1. Use a website system with github pages and modify the system to meet our needs: http://dynalon.github.io/mdwiki/#!index.md

1. Use [ReadTheDocs](http://read-the-docs.readthedocs.org/en/latest/),

[2016-04-06 13:20] friedmud commented on #6699
My issue with all of this is that changing our documentation methods does
not mean we're going to get more, or higher quality, documentation than we
have now.

If we would just actually USE our current stuff and actually write
documentation... We would be fine.

This feels like a new "Python side project" that will generate more stuff
that needs to be maintained while just shuffling around the pie

[2016-04-06 13:23] dschwen commented on #6699
Yeah, what the guy above me said. We have a wiki, that has a really low threshold for participation. All the proposals above sound like a lot more hassle to contribute documentation. :-/

[2016-04-06 13:34] permcody commented on #6699
Well if you don't like having Python side projects. Let's try making a Perl side project!

I'm afraid that we're after more than just documenting the code. No, we won't be "fine" if that' what we are trying to do. Let's switch gears and actually talk about "requirements". I think we've already lost sight of why this even came up in the first place.

Each project is required to maintain the followi

[2016-04-06 14:06] friedmud commented on #6699
To me, those are all a different kind of documentation.  Separate from "normal" documentation.  Users (whether of MOOSE or of a particular application) aren't going to want to read those documents.  They can be in a completely separate form from our actual documentation.

I mean, are you saying you want to try to capture stuff like this: http://mooseframework.org/wiki/PhysicsModules/TensorMechanic

[2016-04-06 14:30] permcody commented on #6699
Whether we like it or not we are contractually obligated to follow NQA-1. We are also the poster children for doing this right so we will get plenty of accolades for driving this process. We have at least three applications and likely more that _really_ are being targeted at nuclear related application deployments potentially with an impact on safety so we can't even grade ourselves out of these r

[2016-04-06 14:35] permcody commented on #6699
Note: I appended two more documents to the required list. I believe that a "user manual" and possibly a "theory manual" are required as well. Technically we only need one but I believe most of the applications are going to build two. For the framework we can probably just get away with one and I don't even know what that looks like yet.

Also, I am working very closely with an active NQA-1 committ

[2016-04-06 14:54] dschwen commented on #6699
I can definitely see the value of assisting the apps with points 3 through 6! However, forcing a scheme for 1 and 2 on apps seems like a bad idea. A user manual benefits hugely from easy editing access. I see a typo I fix it on the wiki. I have some down time I rework a doc page. A user cannot find the docs, I immediately add a link. etc. Those are all actual things that happened for me in the las

[2016-04-06 14:55] andrsd commented on #6699
This is related to NQA-1 only and what I did in RELAP-7:

1. For SRS: I have an XML document with the "database" of requirements. I use xslt to turn this into a `.tex` which is then included in the SRS TeX doc. I assume this will be more or less the same for any app. However, they can supply their of template if they need more/less.

2. The XML db is also used for RTM, where I cross link it to the

[2016-04-06 15:20] YaqiWang commented on #6682
Just to let you know: if I add lock around the code in `SolutionUserObject.C::evalMeshFunction()` Line 635-644, the issue is gone. `libMesh::MeshFunction::operator()` is not thread safe probably.

[2016-04-06 15:28] permcody commented on #6682
MeshFunction uses the point locator which I'm fairly certain is not thread safe. Thanks for taking a look at this. We'll probably just put a very localized lock in there for the foreseeable future.

[2016-04-06 15:33] #6694 closed

[2016-04-06 15:40] #6673 closed

[2016-04-06 15:45] dschwen opened #6701 "Update TensorElasticEnergyAux"
### Description of the enhancement or error report
`elastic_strain` does not exist anymore (we habe mechanical and total strain). Need to sort out how this works with plasticity.

### Rationale for the enhancement or information for reproducing the error
Class is useless as is for multiphase applications.

[2016-04-06 15:51] dschwen commented on #6701
Actually the issue is related to the `base_name` parameter in multi phase simulations! I'll fix this.

[2016-04-06 16:04] dschwen commented on #6682
I encountered a PointLocator issue before. `PointLocator` **is** thread safe, **except** for the first construction. Let me find the example of how I fixed it. I think you need to fetch one point locator for your mesh **outside** of the threaded region first. Subsequent fetches will create threadsafe subpointlocators. @jwpeterson knows this

[2016-04-06 16:06] dschwen commented on #6682
Yes, in magpie I have this:

[code]

and then this inside the threaded loop:

[code]

[2016-04-06 16:20] aeslaughter commented on #6699
As person that writes a good portion of the documentation, I think one of the reasons nobody creates documentation is that it is a somewhat painful processes. Creating large changes or adding large amounts of information to the wiki makes me angry and the presentation blaster is functional but not very robust, it seeps that we can do better.

Also, navigating the various sources of documentation:

[2016-04-06 16:22] aeslaughter commented on #6680
see #6699

[2016-04-06 16:22] #6680 closed

[2016-04-06 16:24] aeslaughter commented on #6682
Does it do this: #2283

[2016-04-06 16:27] bwspenc opened #6702 "Check for nonexistent variables earlier in SolutionUserObject"
### Description of the enhancement or error report
SolutionUserObject now throws an error if a value is requested for a nonexistent variable,
but that check should be done earlier per the discussion in #6694.

### Rationale for the enhancement or information for reproducing the error
This error may be hit late in the analysis, but it can be checked at initialization.

### Identified impact
Interfa

[2016-04-06 17:15] laagesen commented on #6382
After thinking about this more, I'm going to do this in a different way - we need to make some modifications to the expressions for `df_chem/deta_i` so we can't obtain them from derivative materials. So I'm going to re-structure the kernels to use an approach more similar to the current KKS system, so I'm closing this issue and will open a new one for the new approach.

[2016-04-06 17:15] #6382 closed

[2016-04-06 17:38] dschwen commented on #6497
@mangerij I'll put in a PR for Ferret remove any use of `ElasticityTensorR4`. I'd like to remove it completely from MOOSE.

I'll go ahead with moving `RankTwoTensor` and `RankFourTensor` into framework.

[2016-04-06 19:19] #6701 closed

[2016-04-06 19:26] laagesen opened #6705 "Add kernels for multi-order parameter KKS phase-field model"
### Description of the enhancement or error report
Add `KKSMultiACBulkBase`, `KKSMultiACBulkF`, and `KKSMultiACBulkC` kernels for multi-order parameter KKS phase-field models

### Rationale for the enhancement or information for reproducing the error
Similar to the single-order parameter KKS phase-field model, the `df/deta_i` terms are rewritten using chain rule expressions, so these terms are not

[2016-04-06 19:38] mangerij commented on #6497
Thanks for that. Sorry about not merging the old PR. I'll just automatically merge them when I see them.

[2016-04-06 19:56] #6702 closed

[2016-04-06 20:02] laagesen commented on #6705
Needed for both kernels:
`dh_j/deta_i`
`d^2h_j/(deta_i deta_j)`
`f_j`
Needed for `KKSMultiACBulkC` only:

Needed for `KKSMultiACBulkF` only:
`dg/deta_i`
`d^2g/deta_i^2`

[2016-04-06 20:44] jiangwen84 opened #6706 "Minor optimize userobject based crystal plasticity"
### Description of the enhancement or error report
1. UO based CP does not work for material properties on the boundaries. Add a check to skip if it is on boundary.
2. Minor changes made to CrystalPlasticityStateVariable userobject. it is now more general and have better data reading method.
3. some clean up for FiniteStrainUOBasedCrystalPlasticity

### Rationale for the enhancement or information

[2016-04-06 21:12] dschwen opened #6709 "Factor out GBEvolutionBase"
### Description of the enhancement or error report
Make `GBEvolution` (and the new `GBAnisoEnergy` in Marmot) inherit from it.

### Rationale for the enhancement or information for reproducing the error
Avoid code duplication

[2016-04-06 21:45] rcm59 commented on #6699
There is no discussion on whether we are going to incorporate SQA into our software development practices. Furthermore, we will follow NQA-1 practices. NQA-1 software development requires:
1. User Manual
2. (optional) Theory Manual
3. Software Requirements Specification (SRS)
4. System Design Document (SDD)
5. Software Test Plan (STP)
6. (optional) Requirements Traceability Matrix (RTM)

Your only

[2016-04-06 21:52] #6497 closed

[2016-04-06 23:34] permcody opened #6711 "Grain Tracker Rewrite"
### Description of the enhancement or error report

The Grain Tracker is slow big and slow. I need to make it better

### Rationale for the enhancement or information for reproducing the error

Bigger and Bigger simulations

### Identified impact
(i.e. Internal object changes, limited interface changes, public API change, or a list of specific applications impacted)

Several phase-field models, ma